    <div class="con">
        <div class="f-lind">
            <div class="rank-title">
                <h2 class="title-con">
                    <span class="friend-ico"></span>友情链接</h2>
            </div>
            <div class="friend-list cf">
                <a href="http://www.w3wgame.com/" target="_blank">w3w游戏门户</a> <a href="http://bbs.w3wgame.com/"
                    target="_blank">w3w游戏论坛</a> <a href="http://gh.w3wgame.com/" target="_blank">w3w游戏公会</a>
                <a href="http://www.crossmo.com/" target="_blank">手机资源</a> <a href="http://apk.zhuannet.com"
                    target="_blank">安卓软件</a> <a href="http://www.k73.com" target="_blank">PSP游戏下载</a>
                <a href="http://wy.155.cn" target="_blank">手机网游下载</a> <a href="http://www.jiaoyimao.com/"
                    target="_blank">手机游戏交易平台</a> <a href="http://mgame.ruan8.com/" target="_blank">免费手机游戏下载</a>
                <a href="http://soft.anruan.com/" target="_blank">安软软件</a> <a href="http://sklr.w3wgame.com/"
                    target="_blank" class="last">时空猎人</a> <a href="http://ka.gamedog.cn/" target="_blank"
                        class="last">游戏狗发号中心</a>
            </div>
        </div>
    </div>