@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}



<div class="con">
    <div class="main">
        <!-- hot game -->
        <div class="game-box">
            <!-- title -->
            <div class="game-cate cf">
                <ul class="fl-l js-tab-head">
                    <li class="current">热门游戏</li>
                </ul>
                <a href="/game/index_1.html" class="g-more">查看全部>></a>
            </div>
            <!-- sub-main -->
            <div class="js-tab-main">
                <div class="">
                    <ul class="game-list cf">
                        <li><a href="http://ka.w3wgame.com/game/536434_-5_1.html" class="current" title=" 卧虎藏龙">
                                卧虎藏龙</a></li>
                        <li><a href="http://ka.w3wgame.com/game/535733_-5_1.html" title="刀塔传奇">刀塔传奇</a></li>
                        <li><a href="http://ka.w3wgame.com/game/534156_-5_1.html" title=" 仙剑奇缘">仙剑奇缘</a></li>
                        <li><a href="http://ka.w3wgame.com/game/22135_-5_1.html" title="新三国争霸">新三国争霸</a></li>
                        <li><a href="http://ka.w3wgame.com/game/541807_-5_1.html" title="去吧皮卡丘">去吧皮卡丘</a></li>
                        <li><a href="http://ka.w3wgame.com/game/504878_-5_1.html" title="仙变">仙变</a></li>
                        <li><a href="http://ka.w3wgame.com/game/533758_-5_1.html" title="TOUCH舞动全城">TOUCH舞动全城</a></li>
                        <li><a href="http://ka.w3wgame.com/game/23428_-5_1.html" title="忘仙">忘仙</a></li>
                        <li><a href="http://ka.w3wgame.com/game/504480_-5_1.html" class="current" title="神雕侠侣">
                                神雕侠侣</a></li>
                        <li><a href="http://ka.w3wgame.com/game/537811_-5_1.html" title="英雄之剑">英雄之剑</a></li>
                        <li><a href="http://ka.w3wgame.com/game/34950_-5_1.html" title="时空猎人">时空猎人</a></li>
                        <li><a href="http://ka.w3wgame.com/game/523939_-5_1.html" title="啪啪三国">啪啪三国</a></li>
                        <li><a href="http://ka.w3wgame.com/game/502444_-5_1.html" title="恋舞OL">恋舞OL</a></li>
                        <li><a href="http://ka.w3wgame.com/game/523593_-5_1.html" title="神魔大陆">神魔大陆</a></li>
                        <li><a href="http://ka.w3wgame.com/game/527432_-5_1.html" class="current" title="放开那三国">
                                放开那三国</a></li>
                        <li><a href="http://ka.w3wgame.com/game/543666_-5_1.html" title="忍者百分百">忍者百分百</a></li>
                        <li><a href="http://ka.w3wgame.com/game/537614_-5_1.html" title="仙侠">仙侠</a></li>
                        <li><a href="http://ka.w3wgame.com/game/535529_-5_1.html" title="秦时明月">秦时明月</a></li>
                        <li><a href="http://ka.w3wgame.com/game/537595_-5_1.html" title="剑魂之刃">剑魂之刃</a></li>
                        <li><a href="http://ka.w3wgame.com/game/537147_-5_1.html" title="攻城掠地">攻城掠地</a></li>
                        <li><a href="http://ka.w3wgame.com/game/520553_-5_1.html" title="苍穹之剑">苍穹之剑</a></li>
                        <li><a href="http://ka.w3wgame.com/game/517358_-5_1.html" class="current" title="超级英雄">
                                超级英雄</a></li>
                        <li><a href="http://ka.w3wgame.com/game/517358_-5_1.html" title="弹弹堂口袋版">弹弹堂口袋版</a></li>
                        <li><a href="http://ka.w3wgame.com/game/535727_-5_1.html" title="神之刃">神之刃</a></li>
                        <li class="last"><a href="http://ka.w3wgame.com/game/520420_-5_1.html" title="神魔">神魔</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- container -->
        <div class="column-box cf">
            <!-- left -->
            <div class="fl-l cf">
                <!-- 幻灯片 -->
                <div class="slide-box">
                    <div class="slibe">
                        <div id="js-img-box" class="img-box">
                            <a href="http://ka.w3wgame.com/personal/1410774015395874991.html" title="[暴打魏蜀吴]删档封测新手礼包">
                                <img src="http://image.game.uc.cn/2014/9/18/9919740.jpg" class="img" alt="[暴打魏蜀吴]删档封测新手礼包"></a>
                            <a href="http://ka.w3wgame.com/game/539109_-5_1.html" title="[热血小霸王]特权礼包">
                                <img src="http://image.game.uc.cn/2014/9/18/9919742.jpg" class="img" alt="[热血小霸王]特权礼包"></a>
                            <a href="http://ka.w3wgame.com/game/537811_-5_1.html" title="[英雄之剑]删档内测w3w游戏独家大礼包">
                                <img src="http://image.game.uc.cn/2014/9/18/9919744.jpg" class="img" alt="[英雄之剑]删档内测w3w游戏独家大礼包"></a>
                            <a href="http://ka.w3wgame.com/game/527432_-5_1.html" title="[放开那三国]公测独家豪华礼包">
                                <img src="http://image.game.uc.cn/2014/9/18/9919797.jpg" class="img" alt="[放开那三国]公测独家豪华礼包"></a>
                        </div>
                        <div class="title-box">
                            <div id="js-game-title" class="game-title">
                                <div class="game-twrap">
                                    <h2>
                                        <a href="http://ka.w3wgame.com/personal/1410774015395874991.html" title="[暴打魏蜀吴]删档封测新手礼包">
                                            [暴打魏蜀吴]删档封测新手礼包</a></h2>
                                </div>
                                <div class="game-twrap">
                                    <h2>
                                        <a href="http://ka.w3wgame.com/game/539109_-5_1.html" title="[热血小霸王]特权礼包">[热血小霸王]特权礼包</a></h2>
                                </div>
                                <div class="game-twrap">
                                    <h2>
                                        <a href="http://ka.w3wgame.com/game/537811_-5_1.html" title="[英雄之剑]删档内测w3w游戏独家大礼包">[英雄之剑]删档内测w3w游戏独家大礼包</a></h2>
                                </div>
                                <div class="game-twrap">
                                    <h2>
                                        <a href="http://ka.w3wgame.com/game/527432_-5_1.html" title="[放开那三国]公测独家豪华礼包">[放开那三国]公测独家豪华礼包</a></h2>
                                </div>
                            </div>
                            <ul id="js-samll-pic" class="samll-pic">
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 排行榜 -->
                <div class="top-box cf">
                    <div class="rank-box">
                        <div class="rank-title">
                            <h2 class="title-con">
                                特权礼包今日领取排行榜</h2>
                        </div>
                        <ul class="rank-con cf js-rank">
                            <li class="g-current">
                                <div class="box-line">
                                    <span class="num">1</span> <a href="" class="matter">[放开那三国]103服专属礼包</a> <span class="gift-send">
                                                                                                             </span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/personal/1410766106395828236.html"><span class="num">1</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/9/2/9891091.gif" alt="[放开那三国]103服专属礼包">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                [放开那三国]103服专属礼包</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="box-line">
                                    <span class="num">2</span> <a href="" class="matter">[刀塔传奇]w3w游戏史上最牛充值返利第三波</a> <span
                                                                                                                     class="gift-end">完</span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/personal/1410840069395997225.html"><span class="num">2</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/7/10/9797218.jpg" alt="[刀塔传奇]w3w游戏史上最牛充值返利第三波">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                [刀塔传奇]w3w游戏史上最牛充值返利第三波</p>
                                            <span class="n-btn">结束</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="box-line">
                                    <span class="num">3</span> <a href="" class="matter">[刀塔传奇]公会活动礼包</a> <span class="gift-end">
                                                                                                              完</span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/personal/1410918455763199531.html"><span class="num">3</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/7/10/9797218.jpg" alt="[刀塔传奇]公会活动礼包">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                [刀塔传奇]公会活动礼包</p>
                                            <span class="n-btn">结束</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                                
                            <li class="last">
                                <div class="box-line">
                                    <span class="gray-num">10</span> <a href="" class="matter">[暖暖环游世界]w3w游戏独家套装-九妹</a>
                                    <span class="gift-send"></span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/personal/1409810406836333530.html"><span class="gray-num">10</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/9/17/9917986.jpg" alt="[暖暖环游世界]w3w游戏独家套装-九妹">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                [暖暖环游世界]w3w游戏独家套装-九妹</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="rank-box">
                        <div class="rank-title">
                            <h2 class="title-con">
                                激活码今日领取排行榜</h2>
                        </div>
                        <ul class="rank-con cf js-rank">
                            <li class="g-current">
                                <div class="box-line">
                                    <span class="num">1</span> <a href="" class="matter">[口袋精灵王]删档内测特权激活码</a> <span class="gift-send">
                                                                                                              </span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/personal/1410351223763718051.html"><span class="num">1</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/9/9/9902655.jpg" alt="[口袋精灵王]删档内测特权激活码">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                [口袋精灵王]删档内测特权激活码</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="box-line">
                                    <span class="num">2</span> <a href="" class="matter">[大话来了]精英内测特权激活码</a> <span class="gift-end">
                                                                                                                 完</span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/personal/1409909524395867884.html"><span class="num">2</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/9/4/9895747.jpg" alt="[大话来了]精英内测特权激活码">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                [大话来了]精英内测特权激活码</p>
                                            <span class="n-btn">结束</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                               
                            <li>
                                <div class="box-line">
                                    <span class="gray-num">8</span> <a href="" class="matter">[天下HD]正式开测福利预约</a> <span
                                                                                                                     class="gift-send"></span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/personal/14026400092065727.html"><span class="gray-num">8</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/9/17/9919017.png" alt="[天下HD]正式开测福利预约">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                [天下HD]正式开测福利预约</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="last">
                                <div class="box-line">
                                    <span class="gray-num">9</span> <a href="" class="matter">[新苍穹之剑]精英内测特权激活码</a> <span
                                                                                                                       class="gift-end">完</span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/personal/1410350887395299873.html"><span class="gray-num">9</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/9/11/9907850.png" alt="[新苍穹之剑]精英内测特权激活码">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                [新苍穹之剑]精英内测特权激活码</p>
                                            <span class="n-btn">结束</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="rank-box last">
                        <div class="rank-title">
                            <h2 class="title-con">
                                新服礼包今日领取排行榜</h2>
                        </div>
                        <ul class="rank-con cf js-rank">
                            <li class="g-current">
                                <div class="box-line">
                                    <span class="num">1</span> <a href="" class="matter">[神雕侠侣]慧骨灵心w3w游戏新手礼包</a> <span class="gift-send">
                                                                                                              </span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/personal/1410952648836061668.html"><span class="num">1</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/8/6/9840114.jpg" alt="[神雕侠侣]慧骨灵心w3w游戏新手礼包">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                [神雕侠侣]慧骨灵心w3w游戏新手礼包</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                               
                            <li class="last">
                                <div class="box-line">
                                    <span class="gray-num">10</span> <a href="" class="matter">[仙侠]新服礼包</a> <span class="gift-send">
                                                                                                            </span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/personal/1409644157836226666.html"><span class="gray-num">10</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/8/7/9843095.gif" alt="[仙侠]新服礼包">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                [仙侠]新服礼包</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 排行榜 -->
                <div class="top-box cf">
                    <div class="rank-box">
                        <div class="rank-title">
                            <h2 class="title-con">
                                今日预订排行榜</h2>
                        </div>
                        <ul class="rank-con cf js-rank">
                            <li class="g-current">
                                <div class="box-line">
                                    <span class="num">1</span> <a href="" class="matter">[放开那三国]公测独家豪华礼包</a> <span class="gift-ding">
                                                                                                             </span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/personal/1410929478763503658.html"><span class="num">1</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/9/2/9891091.gif" alt="[放开那三国]公测独家豪华礼包">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                [放开那三国]公测独家豪华礼包</p>
                                            <span class="yu-btn">预号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                                
                            <li class="last">
                                <div class="box-line">
                                    <span class="gray-num">10</span> <a href="" class="matter">[口袋银魂]不删档测试登录礼包</a> <span
                                                                                                                       class="gift-ding"></span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/personal/1410486094763407821.html"><span class="gray-num">10</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/9/16/9916155.png" alt="[口袋银魂]不删档测试登录礼包">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                [口袋银魂]不删档测试登录礼包</p>
                                            <span class="yu-btn">预号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="rank-box">
                        <div class="rank-title">
                            <h2 class="title-con">
                                最火游戏排行</h2>
                        </div>
                        <ul class="rank-con cf js-rank">
                            <li class="g-current">
                                <div class="box-line">
                                    <span class="num">1</span> <a href="" class="matter">口袋精灵王</a> <span class="gift-send">
                                                                                                   </span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/game/544453_-5_1.html"><span class="num">1</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/9/9/9902655.jpg" alt="口袋精灵王">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                口袋精灵王</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="box-line">
                                    <span class="num">2</span> <a href="" class="matter">黑夜传说HD</a> <span class="gift-send">
                                                                                                    </span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/game/544116_-5_1.html"><span class="num">2</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/9/4/9895373.png" alt="黑夜传说HD">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                黑夜传说HD</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                               
                            <li class="last">
                                <div class="box-line">
                                    <span class="gray-num">10</span> <a href="" class="matter">我是圣斗士</a> <span class="gift-send">
                                                                                                         </span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/game/541871_-5_1.html"><span class="gray-num">10</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/9/16/9916518.png" alt="我是圣斗士">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                我是圣斗士</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="rank-box last">
                        <div class="rank-title">
                            <h2 class="title-con">
                                最新游戏排行</h2>
                        </div>
                        <ul class="rank-con cf js-rank">
                            <li class="g-current">
                                <div class="box-line">
                                    <span class="num">1</span> <a href="" class="matter">莽荒纪</a> <span class="gift-send">
                                                                                                 </span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/game/539702_-5_1.html"><span class="num">1</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/9/15/9912670.png" alt="莽荒纪">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                莽荒纪</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="box-line">
                                    <span class="num">2</span> <a href="" class="matter">唐门</a> <span class="gift-send">
                                                                                                </span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/game/534189_-5_1.html"><span class="num">2</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/8/4/9835180.jpg" alt="唐门">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                唐门</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="box-line">
                                    <span class="num">3</span> <a href="" class="matter">西游降魔篇-大闹天宫</a> <span class="gift-send">
                                                                                                        </span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/game/541983_-5_1.html"><span class="num">3</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/6/19/9769476.png" alt="西游降魔篇-大闹天宫">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                西游降魔篇-大闹天宫</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="box-line">
                                    <span class="gray-num">4</span> <a href="" class="matter">三剑豪</a> <span class="gift-send">
                                                                                                      </span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/game/536159_-5_1.html"><span class="gray-num">4</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/4/11/9692699.png" alt="三剑豪">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                三剑豪</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                              
                            <li class="last">
                                <div class="box-line">
                                    <span class="gray-num">10</span> <a href="" class="matter">崩坏学园2</a> <span class="gift-send">
                                                                                                         </span>
                                </div>
                                <div class='box-toggle'>
                                    <a href="/game/537921_-5_1.html"><span class="gray-num">10</span>
                                        <div class="radius">
                                            <img src="http://image.game.uc.cn/2014/9/5/9897984.jpg" alt="崩坏学园2">
                                            <span class="radius-mask"></span>
                                        </div>
                                        <div class="mask-con">
                                            <p>
                                                崩坏学园2</p>
                                            <span class="l-btn">领号</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 发号说明 -->
                <div class="fa-box cf">
                    <div class="rank-title cf">
                        <h2 class="title-con">
                            <span class="fa-ico"></span>发号说明</h2>
                    </div>
                    <div class="fa-detail">
                        <p>
                            1.大部分号的领取无需任何条件，一些珍贵的礼包，需要满足登录UC账号、绑定手机或扣取w3w游戏铜币等条件才可获得。</p>
                        <p>
                            2.淘号系统中的号均被领取过，很可能已被使用，您需要碰碰运气，并可以尝试多次淘号。</p>
                        <p>
                            3.目前系统暂无法保存您的淘号记录，请自行复制和保存淘到的号。</p>
                        <p>
                            4.预号成功后，您将第一时间获得发号的消息通知，比普通玩家拥有提前30分钟领号的特权。</p>
                        <p>
                            5.请您在领取号后尽快使用，以免号过期或被其他玩家淘走。</p>
                        <p>
                            6.领取和预订的号会记录在存号箱，您可以随时进入存号箱查阅领取和预订记录。</p>
                    </div>
                </div>
            </div>
            <!-- right -->
            <div class="fl-r cf">
                <!-- 侧栏 -->
                <div class="column">
                    <div class="rank-title">
                        <h2 class="title-con">
                            新游测试表</h2>
                    </div>
                    <div class="column-list cf">
                        <ul class="tag-title cf fl-l">
                            <li class="one">游戏名</li>
                            <li class="two">开测时间</li>
                            <li class="three last">发号</li>
                        </ul>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table fl-l">
                            <tr>
                                <td class="one">
                                    <div class="game-name">
                                        TOUCH舞动全城</div>
                                </td>
                                <td class="two">
                                    2014-09-17
                                </td>
                                <td align="center" valign="middle" class="three">
                                    <a href="http://ka.w3wgame.com/game/533758_-5_1.html" class="l-btn">领号</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="one">
                                    <div class="game-name">
                                        大话来了</div>
                                </td>
                                <td class="two">
                                    2014-09-17
                                </td>
                                <td align="center" valign="middle" class="three">
                                    <a href="http://ka.w3wgame.com/game/540807_-5_1.html" class="l-btn">领号</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="one">
                                    <div class="game-name">
                                        暴打魏蜀吴</div>
                                </td>
                                <td class="two">
                                    2014-09-18
                                </td>
                                <td align="center" valign="middle" class="three">
                                    <a href="http://ka.w3wgame.com/game/544623_-5_1.html" class="l-btn">领号</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="one">
                                    <div class="game-name">
                                        黑暗黎明</div>
                                </td>
                                <td class="two">
                                    2014-09-19
                                </td>
                                <td align="center" valign="middle" class="three">
                                    <a href="http://ka.w3wgame.com/game/542349_-5_1.html" class="l-btn">领号</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="one">
                                    <div class="game-name">
                                        英雄之剑</div>
                                </td>
                                <td class="two">
                                    2014-09-19
                                </td>
                                <td align="center" valign="middle" class="three">
                                    <a href="http://ka.w3wgame.com/game/537811_-5_1.html" class="l-btn">领号</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="one">
                                    <div class="game-name">
                                        酋长萨尔</div>
                                </td>
                                <td class="two">
                                    2014-09-19
                                </td>
                                <td align="center" valign="middle" class="three">
                                    <a href="http://ka.w3wgame.com/game/538567_-5_1.html" class="l-btn">领号</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="one">
                                    <div class="game-name">
                                        不败战神</div>
                                </td>
                                <td class="two">
                                    2014-09-23
                                </td>
                                <td align="center" valign="middle" class="three">
                                    <a href="http://ka.w3wgame.com/game/538597_-5_1.html" class="l-btn">领号</a>
                                </td>
                            </tr>
                               
                        </table>
                    </div>
                </div>
                <!-- 侧栏 -->
                <div class="column">
                    <div class="rank-title">
                        <h2 class="title-con">
                            新服表</h2>
                    </div>
                    <div class="column-list cf">
                        <ul class="tag-title cf fl-l">
                            <li class="one">游戏名</li>
                            <li class="two">开测时间</li>
                            <li class="three last">发号</li>
                        </ul>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table fl-l">
                            <tr>
                                <td class="one">
                                    <div class="game-name">
                                        苍穹之剑</div>
                                </td>
                                <td class="two">
                                    2014-09-17
                                </td>
                                <td align="center" valign="middle" class="three">
                                    <a href="http://ka.w3wgame.com/game/520553_-5_1.html" class="l-btn">领号</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="one">
                                    <div class="game-name">
                                        啪啪三国</div>
                                </td>
                                <td class="two">
                                    2014-09-17
                                </td>
                                <td align="center" valign="middle" class="three">
                                    <a href="http://ka.w3wgame.com/game/523939_-5_1.html" class="l-btn">领号</a>
                                </td>
                            </tr>
                               
                        </table>
                    </div>
                </div>
                <!-- 发号实时播报 -->
                <div class="column mbNone">
                    <div class="rank-title">
                        <h2 class="title-con">
                            发号实时播报</h2>
                    </div>
                    <div id="newWarp" class="new-warp new-warp-index">
                        <ul id="nowIssue" class="new">
                            <li>
                                <div class="cf">
                                    <p class="fl-l">
                                        &quot;w3w游戏玩家330357027&quot;<span class="get">领取了</span></p>
                                    <span class="grayA fl-r"></span>
                                </div>
                                <div class="cf mt10">
                                    <a href="/personal/1411024689836195311.html" class="info-new-gift">[红警4：大国崛起]新服特权礼包</a>
                                    <a href="/personal/1411024689836195311.html" class="s-blue-btn" title="我也要">我也要</a>
                                </div>
                            </li>
                            <li>
                                <div class="cf">
                                    <p class="fl-l">
                                        &quot;w3w游戏玩家370052072&quot;<span class="get">领取了</span></p>
                                    <span class="grayA fl-r"></span>
                                </div>
                                <div class="cf mt10">
                                    <a href="/personal/1409228437395461518.html" class="info-new-gift">[战神黎明]神秘森林特权礼包</a>
                                    <a href="/personal/1409228437395461518.html" class="s-blue-btn" title="我也要">我也要</a>
                                </div>
                            </li>
                               
                            <li>
                                <div class="cf">
                                    <p class="fl-l">
                                        &quot;w3w游戏玩家370052072&quot;<span class="get">领取了</span></p>
                                    <span class="grayA fl-r">刚刚</span>
                                </div>
                                <div class="cf mt10">
                                    <a href="/personal/1409564818763209231.html" class="info-new-gift">[战神黎明]天使花园特权礼包</a>
                                    <a href="/personal/1409564818763209231.html" class="s-blue-btn" title="我也要">我也要</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- 友情链接 -->
    <div class="con">
        <div class="f-lind">
            <div class="rank-title">
                <h2 class="title-con">
                    <span class="friend-ico"></span>友情链接</h2>
            </div>
            <div class="friend-list cf">
                <a href="http://www.w3wgame.com/" target="_blank">w3w游戏门户</a> <a href="http://bbs.w3wgame.com/"
                    target="_blank">w3w游戏论坛</a> <a href="http://gh.w3wgame.com/" target="_blank">w3w游戏公会</a>
                <a href="http://www.crossmo.com/" target="_blank">手机资源</a> <a href="http://apk.zhuannet.com"
                    target="_blank">安卓软件</a> <a href="http://www.k73.com" target="_blank">PSP游戏下载</a>
                <a href="http://wy.155.cn" target="_blank">手机网游下载</a> <a href="http://www.jiaoyimao.com/"
                    target="_blank">手机游戏交易平台</a> <a href="http://mgame.ruan8.com/" target="_blank">免费手机游戏下载</a>
                <a href="http://soft.anruan.com/" target="_blank">安软软件</a> <a href="http://sklr.w3wgame.com/"
                    target="_blank" class="last">时空猎人</a> <a href="http://ka.gamedog.cn/" target="_blank"
                        class="last">游戏狗发号中心</a>
            </div>
        </div>
    </div>