/*--- 分类菜单 ---*/
.allsort { border:1px solid #f00; padding:0 5px;}
.allsort dl { overflow:hidden; height:100%; clear:both;}
.allsort dt { height:30px; line-height:30px; font-weight:bold;}
.allsort dd { height:20px; line-height:20px; width:100%; float:left; background:url(images/public_1.png) no-repeat right top; border-bottom:1px solid #faeddc;}
.allsort dd a { display:block; width:100%; height:20px; float:left; color:#333;}
.allsort dd a:hover { text-decoration:none;}
.allsort h3 { padding-left:12px; font-size:12px; font-weight:normal;}


/*--- 首页登录面板 ---*/
.loginPanel { clear:both; padding-left:6px; padding-top:8px; margin-top:12px;}
.btn_register,
.btn_login {width:111px; height:48px; display:inline-block; float:left;}
.btn_register { background:url(images/public_1.png) no-repeat left -250px; margin-right:8px;}
.btn_login {background:url(images/public_1.png) no-repeat -150px -250px;}
.btn_wszc{ width:111px; height:49px; float:right; margin-top:10px}
.btn_hyzc{ width:111px; height:49px; float:left; margin-top:10px}