<!DOCTYPE html>
<html>
<head>
    <link href="../../Content/main.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/header.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/reset.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/index.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/public.css" rel="stylesheet" type="text/css" /> 
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="wrap">
        @RenderBody()
    </div>
</body>
</html>
