@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="main-mod">
	<!--页面模块·面包屑-->
	<div class="crumbs">
					<a href="http://ka.9game.cn/">九游发号中心</a>				
					&gt;				新手帮助		
			</div>

	


<!-- main begin -->
<div class="con">
  <div class="sub-con help-con">
    <strong class="title">1.在九游，我可以通过哪些途径获得号？</strong>
    <p> 九游发号中心提供丰富的内测激活码和游戏礼包资源，相信一定有您心仪的游戏发号，您可以在发号中心通过预订、领取和淘号等操作获得号。此外，您也可以通过参与我们的<a href="http://bbs.9game.cn" target="_blank">论坛</a>活动、进入游戏的九游专服和<a href="http://gh.9game.cn" target="_blank">加入九游公会</a>获得您感兴趣的号。</p>
    <strong class="title">2.领取号需要什么条件？</strong>
    <p>大部分号的领取无需任何条件，一键点击即可获得。针对一些热门和高价值的发号，我们设置了<a href="http://ka.9game.cn/Auth/login?RtnUrl=http://ka.9game.cn/?" target="_blank">登录UC账号</a>、<a href="http://myspace.9game.cn/user/changemobile?rtnUrl=http://ka.9game.cn/?" target="_blank">绑定手机</a>和扣取九游铜币等限制条件。注册UC账号，您将获得九游玩家独享的诸多特权，包括获得一些九游特权礼包和<a href="http://gh.9game.cn" target="_blank">加入九游公会</a>等。</p>
    <strong class="title">3.为什么我想领的号，经常处于暂停状态？</strong>
    <p>一些热门的、玩家需求大的号，我们会限制时段发放，可领号的时段会展示在领号页，您可以在相应时段前来领取。另外，针对热门发号，我们也会设置每天和每小时的最大发放数量，所以如果您有心仪的号，要先下手为强哦。</p>
    <strong class="title">4.什么是号的兑换有效期？</strong>
    <p>在此时间段内，您获得的号才可在游戏中被激活成功，兑换截止后，号就会失效。<strong class="hot">在兑换开始时间之前，我们不会将您获得的号放入淘号系统。</strong>兑换有效期在领号页和存号箱有明确展示，请您留意时间，获得号后尽快在游戏中激活，以免号过期或被其他玩家淘走。</p>
    <p><img src="/public/images/help-1.jpg"></p>
    <strong class="title">5.为什么我领取成功了，但在游戏中无法激活？</strong>
    <p>这种情况可能是您错过了号的兑换有效期，号已经失效。或者由于您长时间没有激活，该号已经被其他玩家淘走并激活。</p>
    <strong class="title">6.什么是淘号？</strong>
    <p>由于部分用户领取号后未及时进行激活，会有一部分发放出的号依然可用，为了满足更多有需求的玩家，我们会在所有号都被领取后，将发放出去的号放入淘号系统，提供给玩家淘号。淘号系统中的号均被领取过，很可能已被使用，您需要碰碰运气，并可以尝试多次淘号。另外，<strong class="hot">目前系统暂无法保存您的淘号记录，请自行复制和保存。</strong></p>
    <strong class="title">7.什么是预号？预号有什么用？</strong>
    <p>对某款发号预订成功后，如有号资源入库，您将第一时间获得发号的消息通知，</p>
    <p>且比普通玩家拥有提前30分钟领号的特权。</p>
    <strong class="title">8.存号箱是什么？</strong>
    <p>我们会将您领取和预订的号放入存号箱，您可以随时随地进入存号箱查阅领取和预订记录，并进行号的复制和二维码扫描。</p>
    <p><img src="/public/images/help-2.jpg" style="width: 900px;"></p>
    <strong class="title">9.如您对发号还有疑问或建议，请在<a href="http://bbs.9game.cn/thread-3561982-1-1.html" target="_blank">发号问题及建议收集帖</a>提交，将有专人解答处理！</strong>
    <p></p>
  </div>
</div>
<!-- main end -->
 
</div>

