<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>w3w游戏发号中心_游戏特权及新手卡激活码领取发放平台</title>
    <link href="http://ka.w3wgame.com/" rel="canonical" />
    <meta name="keywords" content="游戏特权礼包,新服礼包领取中心,激活码领取,激活码发放,w3w游戏发号中心" />
    <meta name="description" content="w3w游戏发号中心是国内最大的游戏特权礼包、激活码、新服礼包领取发放平台，为玩家提供各类游戏特权礼包、新服礼包、激活码、内测账号的发放、发号、预订、领取服务。" />
    <meta name="baidu-site-verification" content="XaHk9fTRuv" />
    <meta property="qc:admins" content="3253106607673771556375" />
    <link href="" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/fahaoPc_v2.css" />
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/pc.css" />
 
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/d5v1_pc.css" />
    <script type="text/javascript" src="/public/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/public/pc/pop-box.js"></script>
     
    <!--[if IE 6]>
	<script language="javascript" type="text/javascript" src="/public/javascripts/ie6_png.js"></script>
	<script language="javascript" type="text/javascript">
		DD_belatedPNG.fix(".png");
	</script>
	<![endif]-->
</head>
<body>
    @Html.Partial("Header")
    <!-- main begin -->
    @RenderBody()
    <!-- main end -->
    <!-- footer begin -->
    @Html.Partial("Footer")
    <!-- footer end -->
    <!-- 右侧下载客户端、反馈、返回顶部 -->
</body>
<script type="text/javascript" src="/public/javascripts/hot_seach.js"></script>
<script type="text/javascript" src="/public/javascripts/change_img.js"></script>
<script type="text/javascript" src="/public/javascripts/tab.js"></script>
<script type="text/javascript" src="/public/javascripts/index.js"></script>
<script type="text/javascript" src="/public/javascripts/uglib/pub-header.js"></script>
</html>
