    <div class="copyRight">
        <p class="friend-link">
            <a href="http://www.uc.cn/a/job/" rel="nofollow">九游招聘</a>| <a href="http://www.9game.cn/tpl/pc/contact_us.html"
                rel="nofollow">联系我们</a>| <a href="http://e.weibo.com/9game" rel="nofollow">官方微博</a>|
            <a href="/map.html">网站地图 </a>| <a href="http://feedback.uc.cn/self_service/web/index"
                rel="nofollow">联系我们</a>| <a href="http://kf.9game.cn/" class="last" rel="nofollow">玩家客服</a>
        </p>
        <p>
            Copyright @@ 2009 - 2013 www.9game.cn All Rights Reserved <a href="http://www.miitbeian.gov.cn/"
                target="_blank" rel="nofollow">粤B2-20090437</a>
        </p>
        <p>
            <a href="http://www.9game.cn/tpl/pc/gonggao.html" rel="nofollow">《网络游戏管理暂行办法》</a>&nbsp;&nbsp;
            <a href="http://www.9game.cn/tpl/pc/gonggao.html">《游戏资质信息》</a>&nbsp;&nbsp; <a href="http://www.uc.cn/a/peta/">
                《未成年人家长监护工程》</a>
        </p>
    </div>