    <div class="copyRight">
        <p class="friend-link">
            <a href="#" rel="nofollow">w3w游戏招聘</a>| <a href="#"
                rel="nofollow">联系我们</a>| <a href="#" rel="nofollow">官方微博</a>|
            <a href="#">网站地图 </a>| <a href="#"
                rel="nofollow">联系我们</a>| <a href="http://kf.w3wgame.com/" class="last" rel="nofollow">玩家客服</a>
        </p>
        <p>Copyright @@ 2014 - 2017 www.w3wgame.com All Rights Reserved	[备案]粤ICP备14089348号</p>
    </div>