@using W3WGame.Ka.Controller
@using W3WGame.Services.web

<!-- top begin -->
<div class="pub_9pcheader" id="pub_9pcheader">
    <div class="top-bar-ph">
        <!-- 左侧 begin -->
        <ul class="contorl-ph">
            <li><a href="http://www.w3wgame.com" target="_blank" class="link">w3w游戏门户</a></li>
            <li><a href="/" class="link">发号中心</a></li>
            <li><a href="http://bbs.w3wgame.com" target="_blank" class="link">玩家论坛</a></li>
            <li><a href="http://gh.w3wgame.com" target="_blank" class="link">游戏公会</a></li>
            <li><a href="http://app.w3wgame.com/" target="_blank" class="link last">w3w游戏游戏中心</a></li>
        </ul>
        <!-- 左侧 end -->
        <!-- 右侧 begin -->
        <ul class="user-bar-ph">
            @if (FormsAuthServiceCookie.IsSignedIn())
            {
                <li class="right-li-ph user-site-ph">
                    <div class="site-title">
                        <a href="http://myspace.w3wgame.com/?&forceModelType=touch" target="_blank" data-statis="text:bbs_p_gdl_myspace">
                            @FormsAuthServiceCookie.GetCurrentIdentity()<span class="site-toward"></span></a></div>
                    <div class="user-site-pop">
                        <div class="user-site-name">
                            <div class="img">
                                <a href="http://myspace.w3wgame.com/" target="_blank" data-statis="text:bbs_p_gdl_myspace_logo">
                                    <img src="http://myspace.w3wgame.com/customerAvatar?uid=339828678" alt="" /></a></div>
                            <div class="us-name">
                                <p class="name">
                                    <a href="http://myspace.w3wgame.com/?&forceModelType=touch" target="_blank" data-statis="text:bbs_p_gdl_myspace_name">
                                        @FormsAuthServiceCookie.GetCurrentIdentity()</a></p>
                                <p class="ctrl">
                                    <a href="http://myspace.w3wgame.com/wage/getWage?RtnUrl=http%3A%2F%2Fka.w3wgame.com%2F&forceModelType=touch"
                                        target="_blank" data-statis="text:bbs_p_gdl_myspace_wage">领工资</a> <a href="http://myspace.w3wgame.com/user/security"
                                            target="_blank" data-statis="text:bbs_p_gdl_myspace_security">账号管理</a> <a href="@Url.Action("LogOff", "personal")"
                                                                                                                                                                                  class="last" >
                                                退出</a>
                                </p>
                            </div>
                        </div>
                        <div class="ctrl-btn-ph">
                            <a href="http://myspace.w3wgame.com/space/loginedindex" target="_blank" data-statis="text:bbs_p_gdl_myspace_mygame">
                                我的游戏</a> <a href="http://myspace.w3wgame.com/space/viewactivities" target="_blank" data-statis="text:bbs_p_gdl_myspace_viewactivities">
                                    我的帖子</a> <a href="/inbox/kabox.html?uc_param_str=eisidnfrpfbivemiligijbpinwcunicpnt"
                                        target="_blank" data-statis="text:bbs_p_gdl_myspace_kabox">存号箱</a>
                        </div>
                    </div>
                </li>
                <li class="right-li-ph msg-site-ph">
                    <div class="site-title">
                        <a href="/checkRemind" target="_blank">消息<span class="org">(1)</span><span class="site-toward"></span></a></div>
                    <div class="msg-site-pop">
                        <ul class="msg-link-list">
                            <li><a href="http://myspace.w3wgame.com/message/notice?type=0" target="_blank" data-statis="text:bbs_p_gdl_myspace_message_system">
                                查看系统信息<span class="num"></span></a></li>
                            <li><a href="http://myspace.w3wgame.com/message/notice?type=1" target="_blank" data-statis="text:bbs_p_gdl_myspace_message_activity">
                                查看活动信息<span class="num"></span></a></li>
                            <li><a href="http://myspace.w3wgame.com/message/notice?type=3" target="_blank" data-statis="text:bbs_p_gdl_myspace_message_gh">
                                查看公会信息<span class="num"></span></a></li>
                            <li><a href="http://myspace.w3wgame.com/message/notice?type=4" target="_blank" data-statis="text:bbs_p_gdl_myspace_message_ka">
                                查看发号信息<span class="num"></span></a></li>
                            <li><a href="http://myspace.w3wgame.com/message/notice?type=2" target="_blank" data-statis="text:bbs_p_gdl_myspace_message_bbs">
                                查看论坛信息<span class="num">1</span></a></li>
                            <li><a href="http://myspace.w3wgame.com/message/dialog" target="_blank" data-statis="text:bbs_p_gdl_myspace_message_person">
                                查看私信<span class="num"></span></a></li>
                        </ul>
                    </div>
                </li>
            }
            else
            {
                <li class="right-li-ph"><a href="/personal/login" class="ulink">登录</a></li>
                <li class="right-li-ph"><a href="/personal/reg" class="ulink">注册</a></li>
            }
            <!-- 网站导航 begin -->
            <li class="right-li-ph web-site-ph">
                <div class="site-title">
                    网站导航<span class="site-toward-ph"></span></div>
                <div class="web-site-pop">
                    <div class="site-con site-con1">
                        <div class="sectitle">
                            <a href="http://www.w3wgame.com" target="_blank">w3w游戏门户 </a>
                        </div>
                        <div class="site-list-con">
                            <ul class="site-list">
                                <li><a href="http://www.w3wgame.com/gamestore/" target="_blank">找游戏</a></li>
                                <li><a href="http://www.w3wgame.com/news/" target="_blank">网游资讯</a></li>
                                <li><a href="http://www.w3wgame.com/kf/" target="_blank">新服表</a></li>
                                <li><a href="http://www.w3wgame.com/newgame/" target="_blank">新游频道</a></li>
                            </ul>
                            <ul class="site-list">
                                <li><a href="http://www.w3wgame.com/category/" target="_blank">网游分类</a></li>
                                <li><a href="http://www.w3wgame.com/kc/" target="_blank">开测表</a></li>
                                <li><a href="http://android.w3wgame.com/" target="_blank">安卓游戏</a></li>
                                <li><a href="http://www.w3wgame.com/danji/" target="_blank">单机分类</a></li>
                            </ul>
                            <ul class="site-list">
                                <li><a href="http://ios.w3wgame.com/" target="_blank">苹果游戏</a></li>
                                <li><a href="http://www.w3wgame.com/rank/" target="_blank">网游排行</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="site-con site-con2">
                        <div class="sectitle">
                            <a href="http://bbs.w3wgame.com" target="_blank">玩家论坛 </a>
                        </div>
                        <div class="site-list-con">
                            <ul class="site-list">
                                <li><a href="http://bbs.w3wgame.com/digest_gather-digest_gather.html" target="_blank">最新精华</a></li>
                                <li><a href="http://bbs.w3wgame.com/forum-343-1.html" target="_blank">活动专区</a></li>
                                <li><a href="http://bbs.w3wgame.com/forum-904-1.html" target="_blank">美女玩家</a></li>
                                <li><a href="http://bbs.w3wgame.com/thread-463769-1-1.html" target="_blank">新手引导</a></li>
                            </ul>
                            <ul class="site-list">
                            </ul>
                        </div>
                    </div>
                    <div class="site-con site-con2">
                        <div class="sectitle">
                            <a href="/" target="_blank">发号中心 </a>
                        </div>
                        <div class="site-list-con">
                            <ul class="site-list">
                                <li><a href="/code/" target="_blank">激活码</a></li>
                                <li><a href="/vip/" target="_blank">特权礼包</a></li>
                                <li><a href="/novice/" target="_blank">新服礼包</a></li>
                                <li><a href="/guild/" target="_blank">公会礼包</a></li>
                            </ul>
                            <ul class="site-list">
                            </ul>
                        </div>
                    </div>
                    <div class="site-con site-con3">
                        <div class="sectitle">
                            <a href="#" onclick="return false;">热门专区 </a>
                        </div>
                        <div class="site-list-con">
                            <ul class="site-list">
                                <li><a href="http://www.w3wgame.com/qbpkq/" target="_blank">去吧皮卡丘</a></li>
                                <li><a href="http://jhzr.w3wgame.com/" target="_blank">剑魂之刃</a></li>
                                <li><a href="http://bzwx.w3wgame.com/" target="_blank">暴走武侠</a></li>
                                <li><a href="http://lw.w3wgame.com/" target="_blank">恋舞OL</a></li>
                            </ul>
                            <ul class="site-list">
                                <li><a href="http://shenmo.w3wgame.com/" target="_blank">神魔</a></li>
                                <li><a href="http://szr.w3wgame.com/" target="_blank">神之刃</a></li>
                                <li><a href="http://sklr.w3wgame.com/" target="_blank">时空猎人</a></li>
                                <li><a href="http://qsmy.w3wgame.com/" target="_blank">秦时明月</a></li>
                            </ul>
                            <ul class="site-list">
                                <li><a href="http://ahzs.w3wgame.com/" target="_blank">暗黑战神</a></li>
                                <li><a href="http://gcld.w3wgame.com/" target="_blank">攻城掠地</a></li>
                                <li><a href="http://ppsg.w3wgame.com/" target="_blank">啪啪三国3D</a></li>
                                <li><a href="http://cqzj.w3wgame.com/" target="_blank">苍穹之剑</a></li>
                            </ul>
                            <ul class="site-list">
                                <li><a href="http://xjqy.w3wgame.com/" target="_blank">天剑奇缘</a></li>
                                <li><a href="http://sdxl.w3wgame.com/" target="_blank">神雕侠侣</a></li>
                                <li><a href="http://dtcq.w3wgame.com/" target="_blank">刀塔传奇</a></li>
                                <li><a href="http://fknsg.w3wgame.com/" target="_blank">放开那三国</a></li>
                            </ul>
                            <ul class="site-list">
                            </ul>
                        </div>
                    </div>
                    <div class="site-con site-con4">
                        <div class="sectitle">
                            <a href="#" onclick="return false;">更多服务 </a>
                        </div>
                        <div class="site-list-con">
                            <ul class="site-list">
                                <li><a href="http://app.w3wgame.com/" target="_blank">w3w游戏游戏中心</a></li>
                                <li><a href="https://pay.uc.cn/web/index.htm?wp=9game&amp;from=9game&amp;link=upaypc"
                                    target="_blank">充值中心</a></li>
                                <li><a href="http://gh.w3wgame.com/" target="_blank">游戏公会</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <!-- 网站导航 end -->
        </ul>
        <!-- 右侧 end -->
    </div>
</div>
<div class="public-mask">
    <div class="public-wrap">
        <div class="main-wrap">
            <div class="prompt-mask">
            </div>
        </div>
    </div>
</div>
<!-- top end -->
<!-- top-con begin -->
<div class="top-mod">
    <div class="main-mod">
        <a href="http://ka.w3wgame.com" class="logo-v2" title="w3w游戏社区发号平台">
            <img src="http://www.w3wgame.com/Images/logo.png" class="png">
        </a>
        <!-- seach-mod -->
        <div class="seach-mod">
            <!-- seach-form -->
            <div class="seach-form">
                <form action="/search">
                <input type="text" name="name" id="name" placeholder="请输入游戏关键字" class="input-text"
                    onfocus="if (this.value==this.defaultValue) this.value='';" onblur="if (this.value=='') this.value=this.defaultValue;" autocomplete="off">
                <input type="submit" value="搜 索" class="seach-btn">
                </form>
            </div>
            <div class="mod-hot-seach">
                <b class="hot-key-private">搜索热词 :</b> <a href="/search/index?name=刀塔传奇"
                    target="_blank">刀塔传奇</a> <a href="/search/index?name=卧虎藏龙" target="_blank">
                        卧虎藏龙</a> <a href="/search/index?name=放开那三国" target="_blank">放开那三国</a>
                <a href="/search/index?name=英雄之剑" target="_blank">英雄之剑</a>
            </div>
        </div>
    </div>
</div>
<!-- top-con end -->
<!-- mainnav -->
<div class="nav-mod">
    <div class="main-mod">
        <div class="naved">
            @* <a href="/" target="_self" class="on">发号首页</a>*@ <a href="/code/">激活码</a> <a href="/novice/">
                新服礼包</a> <a href="/vip/">特权礼包</a> <a href="/guild/">公会礼包</a> <a href="/help/">新手帮助</a>
        </div>
        <a href="/inbox/kabox" target="_self" class="etty"><i class="etty-ico"></i>存号箱</a>
    </div>
</div>
<!-- nav end -->
