@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<div class="main-mod">
	<!--页面模块·面包屑-->
	<div class="crumbs">
					<a href="http://ka.9game.cn/">九游发号中心</a>				
					&gt;		<a href="/game/index_1.html">全部游戏发号</a>				
					&gt;				激活码		
			</div>

	



<!-- main begin -->
		<!-- breadcrumb end -->
		<div class="main cf">
			<!-- left -->
			<div class="fl-l">
				<div class="sidebar">
					<div class="rank-title">
						<h2 class="title-con"><span class="all-ico"></span>激活码</h2>
						<div class="sub-seach">
							<form action="/search/personal.html">
								<input type="text" name="sceneName" id="sceneName" value="" class="seachInputc">
								<input type="hidden" name="tab" value="code">
								<input type="hidden" name="redirect" value="/Personal/index">
								<input type="submit" class="seachbtnc" value="搜索">
							</form>
						</div>
					</div>
					<!-- con -->
					<div class="in-Number">
					
					
						<ul class="recont-list cf">
						
							<li>
								<div class="radius120">
									<a href="/personal/1411019098763150948.html">
										<img src="http://image.game.uc.cn/2014/8/8/9845753.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411019098763150948.html"><strong class="state-title">[无双剑姬]2测激活码</strong></a>
								<p class="state">
								
								
								  	已有2326人预订
								   
								  
								  
								   
								</p>
								<a href="/personal/1411019098763150948.html" class="btn60-blue"> 
								
									
									
									  	预订
									   
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1410768161395849959.html">
										<img src="http://image.game.uc.cn/2014/8/13/9853179.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410768161395849959.html"><strong class="state-title">[天煞]下次测试登录激活码预约</strong></a>
								<p class="state">
								
								
								  	已有11706人预订
								   
								  
								  
								   
								</p>
								<a href="/personal/1410768161395849959.html" class="btn60-blue"> 
								
									
									
									  	预订
									   
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1410525747836499014.html">
										<img src="http://image.game.uc.cn/2014/9/1/9889082.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410525747836499014.html"><strong class="state-title">[红刃OL]9月24日独家封测激活码</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		27%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410525747836499014.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1410351223763718051.html">
										<img src="http://image.game.uc.cn/2014/9/9/9902655.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410351223763718051.html"><strong class="state-title">[口袋精灵王]删档内测特权激活码</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		5%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410351223763718051.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
								</ul>
								<ul class="recont-list cf">
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1410350887395299873.html">
										<img src="http://image.game.uc.cn/2014/9/11/9907850.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410350887395299873.html"><strong class="state-title">[新苍穹之剑]精英内测特权激活码</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		12%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410350887395299873.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1410351380836398083.html">
										<img src="http://image.game.uc.cn/2014/9/12/9910324.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410351380836398083.html"><strong class="state-title">[迷你拳皇]精英内测特权激活码</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		8%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410351380836398083.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1410254625763178440.html">
										<img src="http://image.game.uc.cn/2014/9/16/9915773.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410254625763178440.html"><strong class="state-title">[炮姐OL]独家精英删档测试激活码</strong></a>
								<p class="state">
								
								
								  	已有2328人预订
								   
								  
								  
								   
								</p>
								<a href="/personal/1410254625763178440.html" class="btn60-blue"> 
								
									
									
									  	预订
									   
									  
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1410260016836115352.html">
										<img src="http://image.game.uc.cn/2014/5/28/9738449.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410260016836115352.html"><strong class="state-title">[神麻三国]删档封测限量激活码</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		30%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410260016836115352.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
								</ul>
								<ul class="recont-list cf">
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1409909524395867884.html">
										<img src="http://image.game.uc.cn/2014/9/4/9895747.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1409909524395867884.html"><strong class="state-title">[大话来了]精英内测特权激活码</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		6%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1409909524395867884.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1409890318763921824.html">
										<img src="http://image.game.uc.cn/2014/8/25/9875636.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1409890318763921824.html"><strong class="state-title">[逆战三国志]删档封测激活码预约</strong></a>
								<p class="state">
								
								
								  	已有3894人预订
								   
								  
								  
								   
								</p>
								<a href="/personal/1409890318763921824.html" class="btn60-blue"> 
								
									
									
									  	预订
									   
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1409909735395868405.html">
										<img src="http://image.game.uc.cn/2014/9/3/9894569.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1409909735395868405.html"><strong class="state-title">[青春全力忍]精英内测特权激活码</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		66%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1409909735395868405.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1409909295763610710.html">
										<img src="http://image.game.uc.cn/2014/9/17/9917855.gif" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1409909295763610710.html"><strong class="state-title">[口袋幻兽OL]精英内测特权激活码</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		4%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1409909295763610710.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
								</ul>
								<ul class="recont-list cf">
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1409649481395028709.html">
										<img src="http://image.game.uc.cn/2014/9/2/9891298.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1409649481395028709.html"><strong class="state-title">[大航海时代5]预约经典邀请函</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		16%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1409649481395028709.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1409554730763690034.html">
										<img src="http://image.game.uc.cn/2014/8/19/9865779.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1409554730763690034.html"><strong class="state-title">[兽血猛将]二测精英激活码</strong></a>
								<p class="state">
								
								
								  	已有4606人预订
								   
								  
								  
								   
								</p>
								<a href="/personal/1409554730763690034.html" class="btn60-blue"> 
								
									
									
									  	预订
									   
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1409284742836041991.html">
										<img src="http://image.game.uc.cn/2014/9/15/9911543.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1409284742836041991.html"><strong class="state-title">[陆战之王]独家封测登录激活码</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		22%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1409284742836041991.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1409124004836049084.html">
										<img src="http://image.game.uc.cn/2014/9/1/9887102.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1409124004836049084.html"><strong class="state-title">[美少女梦工厂]独家封测登录激活码</strong></a>
								<p class="state">
								
								
								  	已有5392人预订
								   
								  
								  
								   
								</p>
								<a href="/personal/1409124004836049084.html" class="btn60-blue"> 
								
									
									
									  	预订
									   
									  
									  
									   
								</a>
							</li>
							
							
								</ul>
								<ul class="recont-list cf">
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1408605958763132859.html">
										<img src="http://image.game.uc.cn/2014/8/8/9844782.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1408605958763132859.html"><strong class="state-title">[上古3]首测激活码</strong></a>
								<p class="state">
								
								
								  	已有4752人预订
								   
								  
								  
								   
								</p>
								<a href="/personal/1408605958763132859.html" class="btn60-blue"> 
								
									
									
									  	预订
									   
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1408097488836692895.html">
										<img src="http://image.game.uc.cn/2014/8/29/9886355.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1408097488836692895.html"><strong class="state-title">[西游圣徒]九游独家安卓删档封测激活码</strong></a>
								<p class="state">
								
								
								  	已有4923人预订
								   
								  
								  
								   
								</p>
								<a href="/personal/1408097488836692895.html" class="btn60-blue"> 
								
									
									
									  	预订
									   
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1404959287763519508.html">
										<img src="http://image.game.uc.cn/2014/7/17/9808204.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1404959287763519508.html"><strong class="state-title">[征战四方]首次删档封测激活码</strong></a>
								<p class="state">
								
								  
								  
								 
								  	剩余0%
								  
								   
								</p>
								<a href="/personal/1404959287763519508.html" class="btn60-org"> 
								
									
									  
									  
									 
									  	淘号
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1410345519763531543.html">
										<img src="http://image.game.uc.cn/2014/9/3/9892126.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410345519763531543.html"><strong class="state-title">[海贼无双]参与活动送珍贵激活码</strong></a>
								<p class="state">
								
								  
								  
								  
								  
								   号已过期
								   
								</p>
								<a href="/personal/1410345519763531543.html" class="btn60-gray"> 
								
									
									  
									  
									  
									  
									   结束
									   
								</a>
							</li>
							
								</ul>
							
							
						
					
					</div>
					<!-- page -->
					
	<div class="page page-key">
		<a href="/code_index_1.html" target="_self">首页</a>
        <a href="/code_index_1.html" target="_self">上一页</a>
        
        
        
                
                <a href="/code_index_1.html" target="_self" class="current">1</a>
                
                
        
                
                
				<a href="/code_index_2.html" target="_self">2</a>
				
        
                
                
				<a href="/code_index_3.html" target="_self">3</a>
				
        
                
                
				<a href="/code_index_4.html" target="_self">4</a>
				
        
                
                
				<a href="/code_index_5.html" target="_self">5</a>
				
        
                
                
				<a href="/code_index_6.html" target="_self">6</a>
				
        
       	.....
        
        <a href="/code_index_2.html" target="_self">下一页</a>
        <a href="/code_index_7.html" target="_self">尾页</a>
	</div>        


				</div>
			</div>
			<!-- right -->
			<div class="fl-r">
				<div class="rank-box cloumn-bar">
					<div class="rank-title">
						<h2 class="title-con">激活码今日领取排行榜</h2>
					</div>
					
					
					<ul class="rank-con cf">
					
						<li>
							<span class="num">1</span>
							<a href="/personal/1410351223763718051.html" class="matter">[口袋精灵王]删档内测特权激活码</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="num">2</span>
							<a href="/personal/1409909524395867884.html" class="matter">[大话来了]精英内测特权激活码</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="num">3</span>
							<a href="/personal/1410260016836115352.html" class="matter">[神麻三国]删档封测限量激活码</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">4</span>
							<a href="/personal/14026400092065727.html" class="matter">[天下HD]正式开测福利预约</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">5</span>
							<a href="/personal/1410350887395299873.html" class="matter">[新苍穹之剑]精英内测特权激活码</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">6</span>
							<a href="/personal/1409909295763610710.html" class="matter">[口袋幻兽OL]精英内测特权激活码</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">7</span>
							<a href="/personal/1410525747836499014.html" class="matter">[红刃OL]9月24日独家封测激活码</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">8</span>
							<a href="/personal/1406260805395437556.html" class="matter">[帝王三国2]首次精英内测激活码</a>
							
							  
							  
							  
							 
							   <span class="gift-end">完</span>
							  
						</li>
					
						<li>
							<span class="gray-num">9</span>
							<a href="/personal/1410513500395427070.html" class="matter">[黑夜传说HD]封测激活码</a>
							
							  
							  
							 
							  	<span class="gift-tao"></span>
							  
							  
						</li>
					
					</ul>
					
				</div>
				
				<div class="rank-box cloumn-bar">
					<div class="rank-title">
						<h2 class="title-con">激活码今日预订排行榜</h2>
					</div>
					<p class="list-center">暂无相关的发号</p>
					
				</div>
			</div>
		</div>
	<!-- main end -->
 
</div>

