/*
 * R.E.D D5-FE CSS Reset for Web 
 * V 1.0.0
 * EDIT IN 20130328
 */
@charset "utf-8";
html, body, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li, form, label,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0;padding: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
body { font:14px/24px arial,"\5FAE\8F6F\96C5\9ED1";}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
table { border-collapse: collapse; border-spacing: 0;}
input,button,textarea,select { font-size:100%; outline:none;}
input, select { vertical-align:middle;}
textarea{resize:none}

fieldset,img {border:0;}

.fl-l{ float:left;}
.fl-r{ float:right;}
.fl-n{ float:none;}

.cf:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;}
.cf{zoom:1;}

.ta-l{ text-align:left;}
.ta-r{ text-align:right;}
.ta-c{ text-align:center;}

.d-n{ display:none!important;}

.gray{ color:#999;}
.blue{ color:#0050b4;}
.orange{ color:#f60;}
.blank{ color:#000;}
