@using W3WGame.Core.Dtos.Web
@using W3WGame.Services.ToolCode
@using WangFramework.MvcPager
@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
    var randlist = ViewData["randlist"] as List<NewsKaDto>;
    int i = 1;
}
@model WangFramework.MvcPager.PagedList<NewsKaDto>
<div class="main-mod">
    <!--页面模块·面包屑-->
    <div class="crumbs">
        <a href="http://ka.9game.cn/">九游发号中心</a> &gt; <a href="/game/index_1.html">全部游戏发号</a>
        &gt; 特权礼包
    </div>
    <!-- main begin -->
    <!-- breadcrumb end -->
    <div class="main cf">
        <!-- left -->
        <div class="fl-l">
            <div class="sidebar">
                <div class="rank-title">
                    <h2 class="title-con">
                        <span class="all-ico"></span>特权礼包</h2>
                    <div class="sub-seach">
                        <form action="/vip/index">
                        <input type="text" name="title" id="sceneName" value="" class="seachInputc">
                        
                        <input type="submit" class="seachbtnc" value="搜索">
                        </form>
                    </div>
                </div>
                <!-- con -->
                <div class="in-Number">
                    <ul class="recont-list cf">
                         @foreach (var item in Model)
                        {
                            <li>
                                <div class="radius120">
                                    <a href="#">
                                        <img src="@WebHelper.GetImg(item.ImgPath)" alt="">
                                        <span class="radius-mask"></span></a>
                                </div>
                                <a href="#"><strong class="state-title">[@item.GameName]@item.KaTitle</strong></a>
                                <p class="state">
                                    <!-- 个人 -->
                                    @item.Shengyu
                                    <!-- 正常场景计算剩余率 -->
                                </p>
                                <a href="#" class="btn60-green">领号 </a></li>
                        }
                    </ul>
                </div>
                <!-- page -->
                <div class="page page-key">
                       @Html.Pager(Model)
                </div>
            </div>
        </div>
        <!-- right -->
        <div class="fl-r">
            <div class="rank-box cloumn-bar">
                <div class="rank-title">
                    <h2 class="title-con">
                        特权礼包今日领取排行榜</h2>
                </div>
                <ul class="rank-con cf">
                      @foreach (var item in randlist)
                      {
                        <li><span class="num">@(i++)</span> <a href="/personal/1410761537395811760.html"
                            class="matter">[@item.GameName]@item.KaTitle</a> <span class="gift-tao"></span>
                        </li>
                    }
                </ul>
            </div>
         @*   <div class="rank-box cloumn-bar">
                <div class="rank-title">
                    <h2 class="title-con">
                        特权礼包今日预订排行榜</h2>
                </div>
                <ul class="rank-con cf">
                    <li><span class="num">1</span> <a href="/personal/1410929478763503658.html" class="matter">
                        [放开那三国]公测独家豪华礼包</a> <span class="gift-send"></span></li>
                    <li><span class="num">2</span> <a href="/personal/1411025007836201288.html" class="matter">
                        [崩坏学园2]深秋礼包</a> <span class="gift-ding"></span></li>
                    <li><span class="num">3</span> <a href="/personal/1410766167763373234.html" class="matter">
                        [放开那三国]公测新服专属礼包</a> <span class="gift-send"></span></li>
                    <li><span class="gray-num">4</span> <a href="/personal/1410766683763383720.html"
                        class="matter">[放开那三国]公测新服豪华礼包</a> <span class="gift-send"></span></li>
                    <li><span class="gray-num">5</span> <a href="/personal/1410486094763407821.html"
                        class="matter">[口袋银魂]不删档测试登录礼包</a> <span class="gift-ding"></span></li>
                    <li><span class="gray-num">6</span> <a href="/personal/1411028036836204757.html"
                        class="matter">[格斗火影]9月20日特权礼包</a> <span class="gift-ding"></span></li>
                    <li><span class="gray-num">7</span> <a href="/personal/1410937725395000718.html"
                        class="matter">[口袋银魂]不删档测试分享达人礼包</a> <span class="gift-ding"></span></li>
                    <li><span class="gray-num">8</span> <a href="/personal/1411028050763436917.html"
                        class="matter">[格斗火影]9月19日特权礼包</a> <span class="gift-send"></span></li>
                    <li><span class="gray-num">9</span> <a href="/personal/1410937753763008392.html"
                        class="matter">[口袋银魂]不删档测试直播礼包</a> <span class="gift-ding"></span></li>
                    <li><span class="gray-num">10</span> <a href="/personal/1410766106395828236.html"
                        class="matter">[放开那三国]103服专属礼包</a> <span class="gift-tao"></span></li>
                </ul>
            </div>*@
        </div>
    </div>
    <!-- main end -->
</div>
