@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="main-mod">
	<!--页面模块·面包屑-->
	<div class="crumbs">
					<a href="http://ka.9game.cn/">九游发号中心</a>				
					&gt;		<a href="/game/index_1.html">全部游戏发号</a>				
					&gt;				特权礼包		
			</div>

	



<!-- main begin -->
		<!-- breadcrumb end -->
		<div class="main cf">
			<!-- left -->
			<div class="fl-l">
				<div class="sidebar">
					<div class="rank-title">
						<h2 class="title-con"><span class="all-ico"></span>特权礼包</h2>
						<div class="sub-seach">
							<form action="/search/personal.html">
								<input type="text" name="sceneName" id="sceneName" value="" class="seachInputc">
								<input type="hidden" name="tab" value="vip">
								<input type="hidden" name="redirect" value="/Personal/index">
								<input type="submit" class="seachbtnc" value="搜索">
							</form>
						</div>
					</div>
					<!-- con -->
					<div class="in-Number">
					
					
						<ul class="recont-list cf">
						
							<li>
								<div class="radius120">
									<a href="/personal/1410776753395899013.html">
										<img src="http://image.game.uc.cn/2014/7/10/9795332.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410776753395899013.html"><strong class="state-title">[君王2]沼光洞穴独家礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		91%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410776753395899013.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411028036836204757.html">
										<img src="http://image.game.uc.cn/2014/7/18/9810484.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411028036836204757.html"><strong class="state-title">[格斗火影]9月20日特权礼包</strong></a>
								<p class="state">
								
								
								  	已有797人预订
								   
								  
								  
								   
								</p>
								<a href="/personal/1411028036836204757.html" class="btn60-blue"> 
								
									
									
									  	预订
									   
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411029756395245568.html">
										<img src="http://image.game.uc.cn/2014/9/11/9905940.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411029756395245568.html"><strong class="state-title">[仙变]147服九游专属豪华礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		66%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411029756395245568.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1411032708395004288.html">
										<img src="http://image.game.uc.cn/2014/7/28/9821441.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411032708395004288.html"><strong class="state-title">[啪啪三国]83服揭竿而起九游精英礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		20%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411032708395004288.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
								</ul>
								<ul class="recont-list cf">
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1410503076763867698.html">
										<img src="http://image.game.uc.cn/2014/3/26/9678154.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410503076763867698.html"><strong class="state-title">[武尊]67区特权礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		99%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410503076763867698.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411033896836017418.html">
										<img src="http://image.game.uc.cn/2014/7/1/9780949.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411033896836017418.html"><strong class="state-title">[仙国志]S30九游独享尊贵礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		58%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411033896836017418.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411031339836225814.html">
										<img src="http://image.game.uc.cn/2014/8/28/9883951.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411031339836225814.html"><strong class="state-title">[攻城掠地]186-190服九游特权礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		71%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411031339836225814.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1411033725836015163.html">
										<img src="http://image.game.uc.cn/2014/9/5/9898812.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411033725836015163.html"><strong class="state-title">[五虎将]奋武扬威新服礼包[高级]</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		94%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411033725836015163.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
								</ul>
								<ul class="recont-list cf">
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411028048763436913.html">
										<img src="http://image.game.uc.cn/2014/8/4/9835103.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411028048763436913.html"><strong class="state-title">[我是大英雄]老玩家回归礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		99%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411028048763436913.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411011217763947636.html">
										<img src="http://image.game.uc.cn/2014/9/12/9908632.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411011217763947636.html"><strong class="state-title">[天尊]传奇三区普通礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		21%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411011217763947636.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411011190836147292.html">
										<img src="http://image.game.uc.cn/2014/9/12/9908632.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411011190836147292.html"><strong class="state-title">[天尊]传奇三区优质礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		19%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411011190836147292.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1411009136395119453.html">
										<img src="http://image.game.uc.cn/2014/9/17/9919051.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411009136395119453.html"><strong class="state-title">[最强英雄]专属首发礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		48%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411009136395119453.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
								</ul>
								<ul class="recont-list cf">
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1410486094763407821.html">
										<img src="http://image.game.uc.cn/2014/9/16/9916155.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410486094763407821.html"><strong class="state-title">[口袋银魂]不删档测试登录礼包</strong></a>
								<p class="state">
								
								
								  	已有2342人预订
								   
								  
								  
								   
								</p>
								<a href="/personal/1410486094763407821.html" class="btn60-blue"> 
								
									
									
									  	预订
									   
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411059231763613519.html">
										<img src="http://image.game.uc.cn/2013/7/11/9235609.gif" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411059231763613519.html"><strong class="state-title">[时空猎人]489区畅游礼包</strong></a>
								<p class="state">
								
								  
								  
								 
								  	剩余0%
								  
								   
								</p>
								<a href="/personal/1411059231763613519.html" class="btn60-org"> 
								
									
									  
									  
									 
									  	淘号
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411041284763119006.html">
										<img src="http://image.game.uc.cn/2013/12/27/9580772.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411041284763119006.html"><strong class="state-title">[宠物联萌]泽如时雨九游特权礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		89%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411041284763119006.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1411036442395025068.html">
										<img src="http://image.game.uc.cn/2014/7/21/9812592.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411036442395025068.html"><strong class="state-title">[九仙传奇]五服九游至尊独家礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		93%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411036442395025068.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
								</ul>
								<ul class="recont-list cf">
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411041205395010586.html">
										<img src="http://image.game.uc.cn/2013/11/20/9523429.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411041205395010586.html"><strong class="state-title">[昆仑悟OL]水落石出九游特权礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		94%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411041205395010586.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411041222395010592.html">
										<img src="http://image.game.uc.cn/2013/12/16/9563621.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411041222395010592.html"><strong class="state-title">[破阵三国]石破天惊九游特权礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		90%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411041222395010592.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411059231763613515.html">
										<img src="http://image.game.uc.cn/2014/8/7/9842971.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411059231763613515.html"><strong class="state-title">[神魔]149区高级礼包</strong></a>
								<p class="state">
								
								  
								  
								 
								  	剩余0%
								  
								   
								</p>
								<a href="/personal/1411059231763613515.html" class="btn60-org"> 
								
									
									  
									  
									 
									  	淘号
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1411028204763439957.html">
										<img src="http://image.game.uc.cn/2014/6/17/9766452.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411028204763439957.html"><strong class="state-title">[苍穹之剑]九游独家神剑礼包</strong></a>
								<p class="state">
								
								
								  	已有539人预订
								   
								  
								  
								   
								</p>
								<a href="/personal/1411028204763439957.html" class="btn60-blue"> 
								
									
									
									  	预订
									   
									  
									  
									   
								</a>
							</li>
							
								</ul>
							
							
						
					
					</div>
					<!-- page -->
					
	<div class="page page-key">
		<a href="/vip_index_1.html" target="_self">首页</a>
        <a href="/vip_index_1.html" target="_self">上一页</a>
        
        
        
                
                <a href="/vip_index_1.html" target="_self" class="current">1</a>
                
                
        
                
                
				<a href="/vip_index_2.html" target="_self">2</a>
				
        
                
                
				<a href="/vip_index_3.html" target="_self">3</a>
				
        
                
                
				<a href="/vip_index_4.html" target="_self">4</a>
				
        
                
                
				<a href="/vip_index_5.html" target="_self">5</a>
				
        
                
                
				<a href="/vip_index_6.html" target="_self">6</a>
				
        
       	.....
        
        <a href="/vip_index_2.html" target="_self">下一页</a>
        <a href="/vip_index_320.html" target="_self">尾页</a>
	</div>        


				</div>
			</div>
			<!-- right -->
			<div class="fl-r">
				<div class="rank-box cloumn-bar">
					<div class="rank-title">
						<h2 class="title-con">特权礼包今日领取排行榜</h2>
					</div>
					
					
					<ul class="rank-con cf">
					
						<li>
							<span class="num">1</span>
							<a href="/personal/1410929478763503658.html" class="matter">[放开那三国]公测独家豪华礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="num">2</span>
							<a href="/personal/1410766106395828236.html" class="matter">[放开那三国]103服专属礼包</a>
							
							  
							  
							 
							  	<span class="gift-tao"></span>
							  
							  
						</li>
					
						<li>
							<span class="num">3</span>
							<a href="/personal/1410945208763267276.html" class="matter">[放开那三国]公测九大礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">4</span>
							<a href="/personal/1410766624836808931.html" class="matter">[放开那三国]103服豪华礼包</a>
							
							  
							  
							 
							  	<span class="gift-tao"></span>
							  
							  
						</li>
					
						<li>
							<span class="gray-num">5</span>
							<a href="/personal/1410766167763373234.html" class="matter">[放开那三国]公测新服专属礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">6</span>
							<a href="/personal/1408085742763480632.html" class="matter">[卧虎藏龙]九游三测超豪华礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">7</span>
							<a href="/personal/1411032708395004288.html" class="matter">[啪啪三国]83服揭竿而起九游精英礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">8</span>
							<a href="/personal/1409669045836169048.html" class="matter">[去吧皮卡丘]新版特权礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">9</span>
							<a href="/personal/1410766683763383720.html" class="matter">[放开那三国]公测新服豪华礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">10</span>
							<a href="/personal/1410867545763882146.html" class="matter">[格斗火影]9月17日特权礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
					</ul>
					
				</div>
				
				<div class="rank-box cloumn-bar">
					<div class="rank-title">
						<h2 class="title-con">特权礼包今日预订排行榜</h2>
					</div>
					
					
					<ul class="rank-con cf">
						
						<li>
							<span class="num">1</span>
							<a href="/personal/1410929478763503658.html" class="matter">[放开那三国]公测独家豪华礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							   
						</li>
					 
						<li>
							<span class="num">2</span>
							<a href="/personal/1411025007836201288.html" class="matter">[崩坏学园2]深秋礼包</a>
							
							
							  	<span class="gift-ding"></span>
							   
							  
							  
							   
						</li>
					 
						<li>
							<span class="num">3</span>
							<a href="/personal/1410766167763373234.html" class="matter">[放开那三国]公测新服专属礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">4</span>
							<a href="/personal/1410766683763383720.html" class="matter">[放开那三国]公测新服豪华礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">5</span>
							<a href="/personal/1410486094763407821.html" class="matter">[口袋银魂]不删档测试登录礼包</a>
							
							
							  	<span class="gift-ding"></span>
							   
							  
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">6</span>
							<a href="/personal/1411028036836204757.html" class="matter">[格斗火影]9月20日特权礼包</a>
							
							
							  	<span class="gift-ding"></span>
							   
							  
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">7</span>
							<a href="/personal/1410937725395000718.html" class="matter">[口袋银魂]不删档测试分享达人礼包</a>
							
							
							  	<span class="gift-ding"></span>
							   
							  
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">8</span>
							<a href="/personal/1411028050763436917.html" class="matter">[格斗火影]9月19日特权礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">9</span>
							<a href="/personal/1410937753763008392.html" class="matter">[口袋银魂]不删档测试直播礼包</a>
							
							
							  	<span class="gift-ding"></span>
							   
							  
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">10</span>
							<a href="/personal/1410766106395828236.html" class="matter">[放开那三国]103服专属礼包</a>
							
							  
							  
							 
							  	<span class="gift-tao"></span>
							  
							   
						</li>
					 
					</ul>
					
				</div>
			</div>
		</div>
	<!-- main end -->
 
</div>

