@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="main-mod">
	<!--页面模块·面包屑-->
	<div class="crumbs">
					<a href="http://ka.w3wgame.com/">w3w游戏发号中心</a>				
					&gt;		<a href="http://ka.w3wgame.com/inbox/kabox.html">存号箱</a>				
					&gt;				我的礼包提醒		
			</div>

	

 <!-- main begin -->
<script type="text/javascript" src="/public/pc/follow.js"></script>
<script type="text/javascript" src="/public/pc/verifymobile.js"></script>
<input type="hidden" id="mobileVerifyUrl" value="/user/verify.html">
<input type="hidden" id="cancelUrl" value="/follow/cancel.html">
<input type="hidden" id="noticeUrl" value="/follow/notice.html">
<input type="hidden" id="followUrl" value="/follow/follow.html">
<input type="hidden" id="checkMobileStatusUrl" value="/follow/checkMobileStatus.html">
<input type="hidden" id="kaBoxUrl" value="/follow/myfollow.html">
<input type="hidden" id="from" value="myfollow">
<input type="hidden" id="page" value="gameFollow">
<div class="con">
	<!-- page-con begin -->
	<div class="sub-con pdNone cf grayBG">
		<!-- right-column -->
		<div class="sidebar-main">
			<!-- wrap -->
			<div class="main-wrap">
				<!-- title -->
				<div class="user-title"><span class="fl-l">我的礼包提醒</span></div>
				
				
				<!-- gift-list -->
				<ul class="gift-list cf">
					
					
					<li class="zIndex" id="followItem-542224">
						<div class="radius100">
							<a href="/game/542224_-5_1.html">
								<img src="http://image.game.uc.cn/2014/8/19/9865779.png" alt="兽血猛将">
								<span class="radius-mask"></span>
							</a>
						</div>
						<div class="item-info">
							<div class="title"><span class="c-org"><a class="c-org" href="/game/542224_-5_1.html">兽血猛将</a></span> (2款)</div>
							<div class="count">已有<strong class="c-org">2985</strong>人设置提醒</div>
						</div>
						<div class="follow-info">
							<div id="followDiv-542224">
								<a href="javascript:void(0);" id="cancelFollowLink-542224" class="btn-follow-dis">取消提醒</a>
							</div>
							<div id="smsDiv">
								
								<a href="javascript:void(0);" id="setSmsLink-542224" value="0" class="btn-follow-dis">取消短信通知</a>
								
								
							</div>
						</div>
					</li>
					
				</ul>
				
				

			</div>
		</div>
		<!-- left-column -->
    	<div class="sidebar-gray">
			<div class="center-status">
				<!-- 三种状态 -->
				<a href="/inbox/kabox.html" target="_self" class="gray-status">我领到的号</a>
				<a href="/inbox/bookingbox.html" target="_self" class="gray-status">我预订的号</a>
				<a href="/follow/myfollow.html" target="_self" class="btn-status">我的礼包提醒</a>
			</div>
		</div>
	</div>
	<!-- page-con end -->

</div>
<!-- main end -->
 
</div>

