@{
    ViewBag.Title = "GameDanner";
}

   
        <ul class="main-nav">
            <li class=""><a href="/" data-statis="text:gw_newsinfo_dh_jhzr_1">首页</a></li>
            <li class=""><a href="/newslist/yxxw_0/" >最新动态</a></li>
            <li class=""><a href="/newslist/yxgl_1/" >攻略评测</a></li>
            <li class=""><a href="/newslist/rmhd_1/" >有奖活动</a></li>
            <li class=""><a href="#" data-statis="text:gw_newsinfo_dh_jhzr_5">
                礼包领取</a></li>
            <li class=""><a href="#" data-statis="text:gw_newsinfo_dh_jhzr_6">
                充值中心</a></li>
            <li class="bbs"><a href="#" data-statis="text:gw_newsinfo_dh_jhzr_7">
                进入论坛</a></li>
        </ul>


