
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>剑魂之刃官网_剑魂之刃攻略_激活码礼包_职业选择_下载_九游剑魂之刃</title>
	<meta name="keywords" content="剑魂之刃,剑魂之刃官网,剑魂之刃攻略,剑魂之刃礼包,安卓版,ios版,剑魂之刃下载" />
	<meta name="description" content="九游《剑魂之刃》官网为您提供剑魂之刃安卓版和IOS版手机下载，最新的剑魂之刃宠物攻略，职业选择攻略，剑魂之刃礼包激活码，欢迎到九游剑魂之刃与玩家交流。" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="mobile-agent" content="format=html5; url=http://a.9game.cn/jhzr/">
    <meta name="mobile-agent" content="format=xhtml; url=http://a.9game.cn/jhzr/">
	<base target="_blank">
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc/common/public_9game_201311.css?ver=20140429">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc/common/template2.css?ver=20140708">
</head>
<!--[if lte IE 6]>
<script language="javascript" type="text/javascript" src="http://wbxt.9game.cn/public/javascripts/pc_new/ie6_png.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('div, ul, img, li, input , a , span');
    </script>
<![endif]--> 
<body>
<div class="header" id="toTop">
    <div class="top-bar">
        <ul class="contorl">
            <li>
                <div class="h-con">九游 手机游戏下载第一门户</div>|
            </li>
            <li><a href="javascript:SetHome('http://www.9game.cn')" name="totop" target="_self">设为首页</a>|</li>
            <li><a href="javascript:AddFavorite('http://www.9game.cn', '九游_手机游戏下载第一门户')" target="_self">加入收藏</a></li>
        </ul>
        <ul class="share">
            <li class='normal'><a href="http://www.9game.cn/" data-statis="text:gw_dbl_dh_index">九游首页</a>|</li>
            <li class='normal'><a href="http://app.9game.cn/" data-statis="text:gw_dbl_dh_app">九游游戏中心</a>|</li>
            <li class="seo-nav">
                <a href="http://www.9game.cn/" title="导航" class="">导航</a>|
                <div class="seo-nav-list" style="width: 404px; display: none;">
                    <ul class="list">
                        <li class="tit">最新专区</li>
                        <li><a href="http://mt.9game.cn/">我叫MT</a></li>
                        <li><a href="http://sklr.9game.cn">时空猎人</a></li>
                        <li><a href="http://touch.9game.cn" >touch</a></li>
                        <li><a href="http://xsgzb.9game.cn/">新三国争霸</a></li>
                        <li><a href="http://frxz.9game.cn">凡人修真</a></li>
                    </ul>
                    <ul class="list">
                        <li class="tit"><a href="http://android.9game.cn">安卓游戏</a></li>
                        <li><a href="http://ng.9game.cn/">网游</a></li>
                        <li><a href="http://android.9game.cn/category/">分类</a></li>
                        <li><a href="http://android.9game.cn/rank/">排行</a></li>
                        <li><a href="http://ka.9game.cn/">发号中心</a></li>
                        <li><a href="http://gh.9game.cn/">游戏公会</a></li>
                        <li><a href="http://bbs.9game.cn/">玩家论坛</a></li>
                    </ul>
                    <ul class="list">
                        <li class="tit"><a href="http://ios.9game.cn">苹果游戏</a></li>
                        <li><a href="http://ios.9game.cn/category/">分类</a></li>
                        <li><a href="http://ios.9game.cn/rank/">排行</a></li>
                        <li><a href="http://ng.9game.cn/">网游</a></li>
                        <li><a href="http://bbs.9game.cn/">玩家论坛</a></li>
                    </ul>
                    <ul class="list last">
                        <li class="tit"><a href="http://ng.9game.cn">手机网游</a></li>
                        <li><a href="http://ng.9game.cn/category/">分类</a></li>
                        <li><a href="http://ng.9game.cn/rank/" >排行</a></li>
                        <li><a href="http://ng.9game.cn/kc/">开测表</a></li>
                        <li><a href="http://ng.9game.cn/kf/">开服表</a></li>
                        <li><a href="http://ka.9game.cn/">发号中心</a></li>
                        <li><a href="http://gh.9game.cn/">游戏公会</a></li>
                        <li><a href="http://bbs.9game.cn/">玩家论坛</a></li>
                        <li><a href="">充值中心</a></li>
                    </ul>
                </div>
            </li>
            <li class="weibo"><a href="http://e.weibo.com/9game" rel="nofollow">微博</a>|</li>
            <li class="wechat">
                <a href="http://image.base.9game.cn:8080/2013/10/21/9487048.jpg" title="微信" class="">微信</a>
                <div class="code" style="display: none;">
                    <img src="http://image.base.9game.cn:8080/2013/10/21/9487048.jpg" alt="九游微信">
                </div>
            </li>
        </ul>
    </div>
</div>
	<div class="header-img" style='background-color:#b1cff3'>
	<div class="header-top-con">
		<img src="http://image.game.uc.cn/2014/7/29/9823070.jpg">
	</div>
</div>    @RenderBody()

<div class="popupArea" id="pb_popup_yr">
	<div class="opaBg">
		<div class="popup-yr">
			<div class="titile-con">
				<h2>剑魂之刃</h2>
				<p class="tips-p"><span class="org">点击下载按钮</span>，或通过<a href="http://www.uc.cn/ucbrowser/download/" class="org">UC浏览器</a>扫描二维码直接下载！</p>
				<span class="close">关闭</span>
			</div>
			<div class="context-con">
					<div class="pop-android">
						<div class="info-tit">安卓版下载<span class="tiao"></span></div>
						<div class="pop-down-con">
									<div class="android-detail down-con">
										<div class="detail">
											<div class="text">
												<dl>
													<dt>剑魂之刃 2.0.0 安装包</dt>
													<dd>大小：104.7M</dd>
												</dl>
											</div>
											<div class="code i-code" data-code="http://jhzr.9game.cn/game/down_537595_1080494.html?text=gw_index_yxxz_code_jhzr_android">
											</div>
										</div>
										<a href="http://jhzr.9game.cn/game/down_537595_1080494.html" class="btn"  data-statis="text:gw_index_yxxz_jhzr_android">安卓手机下载</a>
									</div>
						</div>
					</div>
					<div class="pop-apple">
						<div class="info-tit">苹果版下载<span class="tiao"></span></div>
						<div class="pop-down-con">
									<div class="apple-detail down-con">
										<div class="detail">
											<div class="text">
												<dl>
													<dt>剑魂之刃 2.0.1 安装包</dt>
													<dd>大小：137.3M</dd>
												</dl>
											</div>
											<div class="code i-code" data-code="http://jhzr.9game.cn/game/down_537595_1041675.html?text=gw_index_yxxz_code_jhzr_ios"></div>
										</div>
										<a href="http://jhzr.9game.cn/game/down_537595_1041675.html" class="btn" data-statis="text:gw_index_yxxz_jhzr_ios">苹果手机下载</a>
									</div>
						</div>
					</div>
				</div>
		</div>
    </div>
</div>
	<div class="footer">
	<p class="link cf">
		<a href="http://jhzr.9game.cn/tpl/pc2/contact_us.html" rel="nofollow" title="联系我们" rel="nofollow">联系我们</a>|
		<a href="http://www.9game.cn/sitemap/" title="网站地图">网站地图 </a>|
			<a href="http://www.9game.cn/feedback.html?uid=&uname=&gzone=&skey=A01p&gid=537595&gname=剑魂之刃" title="玩家客服">玩家客服</a>|
		<a href="http://kf.9game.cn/aq/" title="帐号申诉" rel="nofollow">帐号申诉 </a>
	</p>
	<p>Copyright @@ 2009 - 2014 www.9game.cn All Rights Reserved	[备案]粤B2-20090437</p>
    <a href="http://jhzr.9game.cn/tpl/pc2/gonggao.html" class="fo_nav" rel="nofollow">《网络游戏管理暂行办法》</a>&nbsp;&nbsp;
    <a href="http://jhzr.9game.cn/tpl/pc2/gonggao.html" class="fo_nav" rel="nofollow">《游戏资质信息》</a>&nbsp;&nbsp;
</div>


</body>
<script type="text/javascript" src="/public/javascripts/jquery.js"></script>
<script type="text/javascript" src="/public/javascripts/pc/lscs/x_move.js"></script>
<script type="text/javascript" src="/public/javascripts/pc/common/public_header.js"></script>
<script type="text/javascript" src="/public/javascripts/pc/common/qrcode_min.js"></script>

<script type="text/javascript" src="/public/javascripts/pc/common/template2_min.js?ver=20140408"></script>
<script type="text/javascript" src="/public/javascripts/pc2/x_img_viewer.js"></script>



<script type="text/javascript" src="/public/javascripts/pc2/pub_header.js?ver=20140516"></script>
<script type="text/javascript" src="/public/javascripts/pc2/common/litt_nav.js?ver=20140516" id="litt_nav_js" data-type="1"></script>

</html>
