<!DOCTYPE html>
<html>


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="手机网游,手机游戏,手机游戏下载,手机游戏免费下载,好玩的手机游戏,好玩的手机网游,手机游戏排行榜,手机网游排行,w3w游戏,w3wgame" />
    <meta name="description" content="w3w游戏手机网游,手机游戏第一门户！为玩家提供最新手机游戏免费下载,最热门的手机游戏排行榜,最好玩的手机游戏攻略。" />
    <meta name="shenma-site-verification" content="b7cf0db1b18566de28139c8e1872e7cd" />
    <meta name="baidu-site-verification" content="G5EuOUEqQ0" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="mobile-agent" content="format=html5; url=http://a.w3wgame.com/">
    <meta name="mobile-agent" content="format=xhtml; url=http://a.w3wgame.com/">
    <base target="_blank">
    <script type="text/javascript" src="/Scripts/jquery-1.7.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/public/pc_public.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/public/pub_header.css">

</head>
<!--[if lte IE 6]>
<script language="javascript" type="text/javascript" src="/public/javascripts/pc2/common/ie6_png.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('div,img');
    </script>
<![endif]-->
<body>
@Html.Partial("Header")

 @RenderBody()
@Html.Partial("Footer")


<script type="text/javascript" src="/public/javascripts/pc2/pub_header.js?ver=20140516"></script>
<script type="text/javascript" src="/public/javascripts/pc2/common/litt_nav.js?ver=20140516" id="litt_nav_js" data-type="3"></script>


</body>
</html>


