       <ul class="main-nav">
            <li class=' current'><a href="/" data-statis="text:gw_index_dh_jhzr_1">首页</a></li>
            <li class=''><a href="/newslist/yxxw_0/" data-statis="text:gw_index_dh_jhzr_2">最新动态</a></li>
            <li class=''><a href="/newslist/yxgl_1/" data-statis="text:gw_index_dh_jhzr_3">攻略评测</a></li>
            <li class=''><a href="/newslist/rmhd_1/" data-statis="text:gw_index_dh_jhzr_4">有奖活动</a></li>
            <li class=''><a href="http://ka.9game.cn/game/537595_-5_1.html" data-statis="text:gw_index_dh_jhzr_5">
                礼包领取</a></li>
            <li class=''><a href="http://pay.uc.cn/web/index.htm" data-statis="text:gw_index_dh_jhzr_6">
                充值中心</a></li>
            <li class='bbs'><a href="http://bbs.9game.cn/forum-1889-1.html" data-statis="text:gw_index_dh_jhzr_7">
                进入论坛</a></li>
        </ul>