       <ul class="main-nav">
            <li class=' current'><a href="/" >首页</a></li>
            <li class=''><a href="/newslist/yxxw_0/" >最新动态</a></li>
            <li class=''><a href="/newslist/yxgl_1/" >攻略评测</a></li>
            <li class=''><a href="/newslist/rmhd_1/" >有奖活动</a></li>
            <li class=''><a href="http://ka.9game.cn/game/537595_-5_1.html" >
                礼包领取</a></li>
            <li class=''><a href="http://pay.uc.cn/web/index.htm" >
                充值中心</a></li>
            <li class='bbs'><a href="http://bbs.9game.cn/forum-1889-1.html" >
                进入论坛</a></li>
        </ul>