
	<div class="pub_9pcheader" id="pub_9pcheader">
		<div class="top-bar-ph" id="toTop">
			<ul class="contorl-ph">
				<li><a href="/" name="totop" data-statis="text:txt_p_gdl_home" class="link">九游门户</a></li>
				<li><a href="/ka/" data-statis="text:txt_p_gdl_ka" class="link">发号中心</a></li>
				<li><a href="#" data-statis="text:txt_p_gdl_bbs" class="link">玩家论坛</a></li>
				<li><a href="#" data-statis="text:txt_p_gdl_gh" class="link last">游戏公会</a></li>
			</ul>
			<ul class="user-bar-ph">
				
	<li class="right-li-ph"><a href="http://api.open.uc.cn/cas/login?client_id=102&amp;display=pc&amp;redirect_uri=http%3A%2F%2Fa.9game.cn%2Faccountsdk.openPltfrmCallBack%3Frequest_id%3D14095578148440833%26operation%3D2" data-statis="text:txt_p_gdl_login" class="ulink" target="_self">登录</a></li>
    <li class="right-li-ph"><a href="http://api.open.uc.cn/cas/register?client_id=102&amp;display=pc&amp;redirect_uri=http%3A%2F%2Fa.9game.cn%2Faccountsdk.openPltfrmCallBack%3Frequest_id%3D14095578150538734%26operation%3D1" data-statis="text:txt_p_gdl_register" target="_self" class="ulink">注册</a></li>


				<li class="right-li-ph web-site-ph">
					<div class="site-title">网站导航<span class="site-toward-ph"></span></div>
					<div class="web-site-pop">
						<div class="site-con site-con1">
							<div class="sectitle"><a href="index.html" data-statis="text:txt_p_dh_home">九游门户</a></div>
							<div class="site-list-con">
						<ul class="site-list">
							<li><a href="/gamestore/" name="uc_gd_adm" gd_stat="273_3641" data-statis="text:txt_p_gdl_gds_273_3641">找游戏</a></li>
						    <li><a href="/news/" name="uc_gd_adm" gd_stat="273_3646" data-statis="text:txt_p_gdl_gds_273_3646">网游资讯</a></li>
						    <li><a href="/kf/" name="uc_gd_adm" gd_stat="273_3648" data-statis="text:txt_p_gdl_gds_273_3648">新服表</a></li>
						    <li><a href="/newgame/" name="uc_gd_adm" gd_stat="273_3644" data-statis="text:txt_p_gdl_gds_273_3644">新游频道</a></li>
						</ul>
						<ul class="site-list">
						   <li><a href="/category/index" name="uc_gd_adm" gd_stat="273_3647" data-statis="text:txt_p_gdl_gds_273_3647">网游分类</a></li>
						    <li><a href="/kc/index" name="uc_gd_adm" gd_stat="273_3643" data-statis="text:txt_p_gdl_gds_273_3643">开测表</a></li>
						    <li><a href="http://android.9game.cn/" name="uc_gd_adm" gd_stat="273_3649" data-statis="text:txt_p_gdl_gds_273_3649">安卓游戏</a></li>
						    <li><a href="/danji/index" name="uc_gd_adm" gd_stat="273_3650" data-statis="text:txt_p_gdl_gds_273_3650">单机分类</a></li>
						</ul>
						<ul class="site-list">
						   <li><a href="http://ios.9game.cn/" name="uc_gd_adm" gd_stat="273_3651" data-statis="text:txt_p_gdl_gds_273_3651">苹果游戏</a></li>
					       <li><a href="/rank/index" name="uc_gd_adm" gd_stat="273_3653" data-statis="text:txt_p_gdl_gds_273_3653">网游排行</a></li>
					   </ul>
							</div>
						</div>
						<div class="site-con site-con2">
							<div class="sectitle"><a href="http://bbs.9game.cn/" data-statis="text:txt_p_dh_bbs">玩家论坛</a></div>
							<div class="site-list-con">
							<ul class="site-list">
							<li><a href="http://bbs.9game.cn/digest_gather-digest_gather.html" name="uc_gd_adm" gd_stat="274_3639" data-statis="text:txt_p_gdl_gds_274_3639">最新精华</a></li>
							<li><a href="http://bbs.9game.cn/forum-343-1.html" name="uc_gd_adm" gd_stat="274_3640" data-statis="text:txt_p_gdl_gds_274_3640">活动专区</a></li>
							<li><a href="http://bbs.9game.cn/forum-904-1.html" name="uc_gd_adm" gd_stat="274_3654" data-statis="text:txt_p_gdl_gds_274_3654">美女玩家</a></li>
							<li><a href="http://bbs.9game.cn/thread-463769-1-1.html" name="uc_gd_adm" gd_stat="274_3655" data-statis="text:txt_p_gdl_gds_274_3655">新手引导</a></li>
						</ul>
							</div>
						</div>
						<div class="site-con site-con2">
							<div class="sectitle"><a href="http://ka.9game.cn/" data-statis="text:txt_p_dh_ka">发号中心</a></div>
							<div class="site-list-con">
							<ul class="site-list">
							<li><a href="http://ka.9game.cn/code_index_1.html" name="uc_gd_adm" gd_stat="275_3635" data-statis="text:txt_p_gdl_gds_275_3635">激活码</a></li>
							<li><a href="http://ka.9game.cn/vip_index_1.html" name="uc_gd_adm" gd_stat="275_3636" data-statis="text:txt_p_gdl_gds_275_3636">特权礼包</a></li>
							<li><a href="http://ka.9game.cn/novice_index_1.html" name="uc_gd_adm" gd_stat="275_3637" data-statis="text:txt_p_gdl_gds_275_3637">新服礼包</a></li>
							<li><a href="http://ka.9game.cn/guild/all_index_1.html" name="uc_gd_adm" gd_stat="275_3638" data-statis="text:txt_p_gdl_gds_275_3638">公会礼包</a></li>
						</ul>
							</div>
						</div>
						<div class="site-con site-con3">
							<div class="sectitle"><a href="javascript:void(0);">热门专区</a></div>
							<div class="site-list-con">
						<ul class="site-list">
							<li><a href="qbpkq/index.html" name="uc_gd_adm" gd_stat="276_10616" data-statis="text:txt_p_gdl_gds_276_10616">去吧皮卡丘</a></li>
						    <li><a href="http://jhzr.9game.cn/" name="uc_gd_adm" gd_stat="276_10615" data-statis="text:txt_p_gdl_gds_276_10615">剑魂之刃</a></li>
						    <li><a href="http://bzwx.9game.cn/" name="uc_gd_adm" gd_stat="276_3673" data-statis="text:txt_p_gdl_gds_276_3673">暴走武侠</a></li>
						    <li><a href="http://lw.9game.cn/" name="uc_gd_adm" gd_stat="276_3672" data-statis="text:txt_p_gdl_gds_276_3672">恋舞OL</a></li>
						</ul>
						<ul class="site-list">
						   <li><a href="http://shenmo.9game.cn/" name="uc_gd_adm" gd_stat="276_3670" data-statis="text:txt_p_gdl_gds_276_3670">神魔</a></li>
						    <li><a href="http://szr.9game.cn/" name="uc_gd_adm" gd_stat="276_3668" data-statis="text:txt_p_gdl_gds_276_3668">神之刃</a></li>
						    <li><a href="http://sklr.9game.cn/" name="uc_gd_adm" gd_stat="276_3667" data-statis="text:txt_p_gdl_gds_276_3667">时空猎人</a></li>
						    <li><a href="http://qsmy.9game.cn/" name="uc_gd_adm" gd_stat="276_3666" data-statis="text:txt_p_gdl_gds_276_3666">秦时明月</a></li>
						</ul>
						<ul class="site-list">
						   <li><a href="http://ahzs.9game.cn/" name="uc_gd_adm" gd_stat="276_3665" data-statis="text:txt_p_gdl_gds_276_3665">暗黑战神</a></li>
						    <li><a href="http://gcld.9game.cn/" name="uc_gd_adm" gd_stat="276_3664" data-statis="text:txt_p_gdl_gds_276_3664">攻城掠地</a></li>
						    <li><a href="http://ppsg.9game.cn/" name="uc_gd_adm" gd_stat="276_3663" data-statis="text:txt_p_gdl_gds_276_3663">啪啪三国3D</a></li>
						    <li><a href="http://cqzj.9game.cn/" name="uc_gd_adm" gd_stat="276_3661" data-statis="text:txt_p_gdl_gds_276_3661">苍穹之剑</a></li>
						</ul>
						<ul class="site-list">
						   <li><a href="http://xjqy.9game.cn/" name="uc_gd_adm" gd_stat="276_3660" data-statis="text:txt_p_gdl_gds_276_3660">仙剑奇缘</a></li>
						    <li><a href="http://sdxl.9game.cn/" name="uc_gd_adm" gd_stat="276_3659" data-statis="text:txt_p_gdl_gds_276_3659">神雕侠侣</a></li>
						    <li><a href="http://dtcq.9game.cn/" name="uc_gd_adm" gd_stat="276_3658" data-statis="text:txt_p_gdl_gds_276_3658">刀塔传奇</a></li>
					       <li><a href="http://fknsg.9game.cn/" name="uc_gd_adm" gd_stat="276_3657" data-statis="text:txt_p_gdl_gds_276_3657">放开那三国</a></li>
					   </ul>
							</div>
						</div>
						<div class="site-con site-con4">
							<div class="sectitle"><a href="javascript:void(0);">更多服务</a></div>
							<div class="site-list-con">
							<ul class="site-list">
							<li><a href="http://app.9game.cn/" name="uc_gd_adm" gd_stat="277_3634" data-statis="text:txt_p_gdl_gds_277_3634">九游游戏中心</a></li>
							<li><a href="https://pay.uc.cn/web/index.htm?wp=9game&amp;from=9game&amp;link=upaypc" name="uc_gd_adm" gd_stat="277_3633" data-statis="text:txt_p_gdl_gds_277_3633">充值中心</a></li>
							<li><a href="http://gh.9game.cn/" name="uc_gd_adm" gd_stat="277_3632" data-statis="text:txt_p_gdl_gds_277_3632">游戏公会</a></li>
						</ul>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
<div class="nav">
	<div class="nav-main">
			<a href="index.html" title="手机游戏">
				<img src="/Images/logo.png" class="logo" height="72" alt="手机游戏" title="手机游戏"/>
			</a>
		<div class="search-main">
			<form  action="http://www.9game.cn/search/" id="search-form">
				<div class="search-con" data-statis="text:p_index_search">
					<input type="text" class="search-text" name="keyword" value="海岛奇兵" autocomplete="off" data-statis="text:txt_p_search_gds_207_10934">
					<input type="submit" class="search-sub" value="搜索" name="uc_gd_adm" gd_stat="207_10934" data-statis="text:p_search_bottom">
					<ul class="result-list" id="result_list">
					</ul>
				</div>
			</form>
			<div class="hot-search">
				<span class="name">搜索热词：</span>
						<a href="hdqb/index.html" data-statis="text:txt_p_search_gds_208_10931" title="海岛奇兵" name="uc_gd_adm" gd_stat="208_10931">海岛奇兵</a>
						<a href="qmxd/index.html" data-statis="text:txt_p_search_gds_208_10930" title="全民炫斗" name="uc_gd_adm" gd_stat="208_10930">全民炫斗</a>
						<a href="qbpkq/index.html" data-statis="text:txt_p_search_gds_208_10619" title="去吧皮卡丘" name="uc_gd_adm" gd_stat="208_10619">去吧皮卡丘</a>
						<a href="http://whcl.9game.cn/" data-statis="text:txt_p_search_gds_208_10617" title="卧虎藏龙" name="uc_gd_adm" gd_stat="208_10617">卧虎藏龙</a>
						<a href="http://sklr.9game.cn/" data-statis="text:txt_p_search_gds_208_2190" title="时空猎人" name="uc_gd_adm" gd_stat="208_2190">时空猎人</a>
						<a href="http://qsmy.9game.cn/" data-statis="text:txt_p_search_gds_208_2189" title="秦时明月" name="uc_gd_adm" gd_stat="208_2189">秦时明月</a>
			</div>
		</div>
	</div>
</div>
<div class="sub-nav-con">
    <div class="sub-nav">
        <div class="ol-nav">
            <a href="/" class="active" data-statis="text:p_index_dh_index" target='_self' title="首页">首页</a>
            <a href="/gamestore/" class="" data-statis="text:p_index_dh_category" target='_self' title="找游戏">找游戏</a>
            <a href="/newgame/" class="" data-statis="text:p_index_dh_newgame" target='_self' title="新游">新游</a>
            <a href="/ka/"   data-statis="text:p_index_dh_ka" title="发号中心">发号中心</a>
            <a href="/kc/" class=""data-statis="text:p_index_dh_kc" target='_self' title="开测表">开测表</a>
            <a href="/kf/" class="" data-statis="text:p_index_dh_kf"  target='_self' title="新服表">新服表</a>
            <a href="/news/" class="" data-statis="text:p_index_dh_news" target='_self' title="网游资讯" >网游资讯</a>
            <a href="#" class="last" data-statis="text:p_index_dh_bbs" title="玩家论坛">玩家论坛</a>
        </div>
    </div>
</div>
