<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>w3w帐号登录</title>
    <meta name="description" content="手机网游,手机游戏,手机游戏下载,手机游戏免费下载,好玩的手机游戏,好玩的手机网游,手机游戏排行榜,手机网游排行,w3w游戏,w3wgame">
    <meta name="keywords" content="手机网游,手机游戏,手机游戏下载,手机游戏免费下载,好玩的手机游戏,好玩的手机网游,手机游戏排行榜,手机网游排行,w3w游戏,w3wgame">
    <meta name="robots" content="all" />
    <meta name="Copyright" content="w3wgame" />
    <meta property="qc:admins" content="244435573016705665363673137" />
    <link type="text/css" rel="stylesheet" href="/Css/css-pc_d5bb879.css" />
    <link rel="stylesheet" href="/Scripts/jquery.validationEngine/validationEngine.jquery.css" />
    <script src="/Scripts/jquery-1.7.2.min.js"></script>
    <script src="/Scripts/jquery.validationEngine/jquery.validationEngine-zh_CN.js"></script>
    <script src="/Scripts/jquery.validationEngine/jquery.validationEngine.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#dForm").validationEngine();

            $("#username").select();

            $("#dForm").keydown(function (e) {
                if (e.keyCode == 13) {
                    $("#btnlogin").click();
                }
            });


            $("#btnlogin").click(function () {
              
                if ($("#dForm").validationEngine('validate')) {
                    var account = $('#username').val();
                    var password = $('#password').val();
                    var validCode = $('#ValidCode').val();
                    var returnUrl = $("#inputRedirectUrl").val();
                   
                    $.ajax({
                        url: '@Url.Action("login", "personal")',
                        type: "POST",
                        data: { account: account, password: password, validCode: validCode },
                        async: false,
                        cache: false,
                        success: function (data) {
                            if (data.result) {
                                if (returnUrl == null || returnUrl == '') {
                                    window.location.href = '@Url.Action("Index", "Home")';
                                } else {
                                    window.location.href = returnUrl;
                                }
                            } else {
                                alert(data.message);
                                $("#UserName").select();
                                changeValidateCode();
                            }
                        }
                    });
                }
            });
        });

        function checkValidCode() {
            var validateCode = $("#ValidCode").val();

            if (validateCode == null || validateCode == '')
                return;

            var isValid = false;
            $.ajax({
                url: '@Url.Action("Check", "ValidateCodes")',
                data: { validateCode: validateCode },
                type: "GET",
                async: false,
                cache: false,
                success: function (data) {
                    isValid = data;
                }
            });

            if (!isValid) {
                return "* 验证码不正确";
            }
        }

        function changeValidateCode() {
            $("#imgValidateCode").attr('src', '/ValidateCodes/Create?t=' + Math.random());
        }
    </script>
</head>
<body>
    <div class="header">
        <!-- 头部 -->
        <div id="dHeader" class="header-cont">
            <!-- 返回首页面链接 -->
            <div id="dHomeLink" class="btn">
                <a href="http://qj.w3wgame.com/accountsdk.openPltfrmCallBack?request_id=14120405529180759&amp;operation=2"
                    class="btn_home">返回首页</a></div>
            <!-- logo -->
            <div id="dLogo">
                <h1 class="logo">
                    <a id="logoImg" href="http://qj.w3wgame.com/accountsdk.openPltfrmCallBack?request_id=14120405529180759&amp;operation=2">
                        <img src="/img/logo_uc_835043c.gif" width="174" height="72" title="" class="changelogo"
                            client_id="102" staticresourcebaseuri='/' appname="w3w游戏" />
                    </a>
                </h1>
            </div>
            <div class="header-title">
                w3w通行的帐号。<br />
               </div>
        </div>
    </div>
    <div class="main cls">
        <!-- 第三方登录帐号 -->
        <div id="dThirdParty">
            <div class="login-weibo">
                <p>
                    使用合作网站帐号登录：</p>
                <p style="height: 52px">
                    <a href="https://openauth.alipay.com/oauth2/authorize.htm?grant_type=refresh_token&amp;client_id=2013070800000528&amp;redirect_uri=http%3A%2F%2Fapi.open.uc.cn%2Fcas%2Fthirdparty%2Fauthorize&amp;view=pc&amp;state=client_id%3D102%26redirect_uri%3Dhttp%253A%252F%252Fqj.w3wgame.com%252Faccountsdk.openPltfrmCallBack%253Frequest_id%253D14120405529180759%2526operation%253D2%26display%3Dpc%26third_party_name%3Dalipay">
                        <img src="/img/ban_ali_3af5a68.gif" width="128" height="32" title="Alipay"></a>
                </p>
                <p style="height: 52px">
                    <a href="https://api.weibo.com/oauth2/authorize?response_type=code&amp;forcelogin=true&amp;display=default&amp;client_id=1232482045&amp;scope=follow_app_official_microblog&amp;redirect_uri=https%3A%2F%2Fapi.open.uc.cn%2Fcas%2Fthirdparty%2Fauthorize&amp;state=client_id%3D102%26redirect_uri%3Dhttp%253A%252F%252Fqj.w3wgame.com%252Faccountsdk.openPltfrmCallBack%253Frequest_id%253D14120405529180759%2526operation%253D2%26display%3Dpc%26third_party_name%3Dweibo">
                        <img src="/img/btn_weibo_a68f357.jpg" width="128" height="32" title="新浪微博"></a>
                </p>
                <p style="height: 52px">
                    <a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&amp;client_id=100468196&amp;redirect_uri=http%3A%2F%2Fapi.open.uc.cn%2Fcas%2Fthirdparty%2Fauthorize&amp;display=pc&amp;state=client_id%3D102%26redirect_uri%3Dhttp%253A%252F%252Fqj.w3wgame.com%252Faccountsdk.openPltfrmCallBack%253Frequest_id%253D14120405529180759%2526operation%253D2%26display%3Dpc%26third_party_name%3Dqq">
                        <img src="/img/btn_qq_fc245e4.jpg" width="128" height="32" title="QQ"></a>
                </p>
                <!-- 第三方帐号公告 -->
            </div>
        </div>
        <!-- 表单 -->
        <form id="dForm">
        <div class="content">
            <div class="tip1">
                提示：如果你没有w3w帐号，<a href="http://api.open.uc.cn/cas/register?register_type=mobile&client_id=102&amp;redirect_uri=http%3A%2F%2Fqj.w3wgame.com%2Faccountsdk.openPltfrmCallBack%3Frequest_id%3D14120405529180759%26operation%3D2&amp;display=pc">马上注册</a></div>
            <ul class="login">
                <!-- 通用错误提示 -->
                <div id="dMessageError" style="padding-left: 23px;" class="orange">
                </div>
                <!-- 帐号 -->
                <li id="dLoginName">
                    <div>
                        <span class="text">帐&nbsp;&nbsp;&nbsp;&nbsp;号</span> <span class="enter">
                            <input type="text" id="username" name="username" maxlength="100" class="changetips validate[required,minSize[6],maxSize[20]]"
                                placeholder="手机/邮箱/用户名/UC号" autocomplete="off" /></span>
                    </div>
                </li>
                <!-- 密码 -->
                <li id="dPassword">
                    <div>
                        <span class="text">密&nbsp;&nbsp;&nbsp;&nbsp;码</span> <span class="enter">
                            <input type="password" maxlength="20" id="password" name="password" class="changetips validate[required,custom[onlyLetterNumber]],minSize[6],maxSize[20]]"
                                placeholder="区分大小写" autocomplete="off" /></span>
                    </div>
                    <!-- 密码错误提示 -->
                </li>
                <!-- 验证码 -->
                <div id="dCaptcha">
                    <li class="mar">
                        <div class="valide-box" style="width: 316px;">
                            <span class="text">验证码</span> <span class="enter1">
                                <input maxlength="4" size="4" type="text" name="ValidCode" id="ValidCode" class="changetips"
                                    placeholder="请输入结果" autocomplete="off" />
                            </span><span id="captchaImg">
                                <img src="@Url.Action("Create", "ValidateCodes")" id="imgValidateCode" width="90" height="30" alt="看不清?换一张" style="cursor: pointer" onclick="changeValidateCode();"/>
                            </span><span><a style="cursor: pointer" onclick="changeValidateCode();">换一张</a></span>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <!-- 登录注册按钮区 -->
        <div id="dButton" class="login-f">
            <input type="button" class="btn_reg" id="btnlogin" alt="登录" value="登录" />
            <a href="#">忘记密码？</a> <span>|</span> <a href="#">反馈</a>
        </div>
        </form>
        <!-- 更多业务 -->
        <div id="dFooter">
            <div class="business pd cls">
                <div class="business-title">
                    <a href="http://www.uc.cn/product/index.shtml" target="_black">更多&gt;&gt;</a>更多w3w业务：</div>
                <ul class="business-ul cls">
                    <li>
                        <img src="/img/icon_ucbrowser_c8bc2c1.jpg" width="50" height="50" title="UC浏览器">
                        <div>
                          </div>
                    </li>
                    <li>
                        <img src="/img/icon_9game_9556470.jpg" width="50" height="50" title="w3w游戏">
                        <div>
                            <h3>
                                w3w游戏</h3>
                            上w3w游戏，玩游戏，尽享游戏带来的无限快乐。</div>
                    </li>
                    <li>
                        <img src="/img/icon_uccloud_2ef2813.jpg" width="50" height="50" title="UC云">
                        <div>
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div id="dFooter" class="footer">
        <p>
            <a href="http://www.w3wgame.com" target="_black">w3w官网</a> | <a href="http://ka.w3wgame.com"
                target="_black">w3w发卡中心</a> | <a href="#"
                    target="_black">帮助中心</a> | <a href="#"
                        target="_black">意见反馈</a></p>
        <p>
           Copyright @@ 2014 - 2017 www.w3wgame.com All Rights Reserved	[备案]粤ICP备14089348号</p>
    </div>
    <!-- pc登录页面统计 -->
</body>
</html>
