@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<div class="main-mod">
	<!--页面模块·面包屑-->
	<div class="crumbs">
					<a href="http://ka.9game.cn/">九游发号中心</a>				
					&gt;		<a href="/game/index_1.html">全部游戏发号</a>				
					&gt;				新服礼包		
			</div>

	



<!-- main begin -->
		<!-- breadcrumb end -->
		<div class="main cf">
			<!-- left -->
			<div class="fl-l">
				<div class="sidebar">
					<div class="rank-title">
						<h2 class="title-con"><span class="all-ico"></span>新服礼包</h2>
						<div class="sub-seach">
							<form action="/search/personal.html">
								<input type="text" name="sceneName" id="sceneName" value="" class="seachInputc">
								<input type="hidden" name="tab" value="novice">
								<input type="hidden" name="redirect" value="/Personal/index">
								<input type="submit" class="seachbtnc" value="搜索">
							</form>
						</div>
					</div>
					<!-- con -->
					<div class="in-Number">
					
					
						<ul class="recont-list cf">
						
							<li>
								<div class="radius120">
									<a href="/personal/1410775559763614371.html">
										<img src="http://image.game.uc.cn/2014/9/12/9908590.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410775559763614371.html"><strong class="state-title">[剑魂之刃]106服个人礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		97%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410775559763614371.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1410775601836891158.html">
										<img src="http://image.game.uc.cn/2014/9/12/9908590.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410775601836891158.html"><strong class="state-title">[剑魂之刃]106服特权礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		96%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410775601836891158.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1410753016763013601.html">
										<img src="http://image.game.uc.cn/2014/8/7/9842971.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410753016763013601.html"><strong class="state-title">[神魔]150区黄金礼包</strong></a>
								<p class="state">
								
								
								  	已有210人预订
								   
								  
								  
								   
								</p>
								<a href="/personal/1410753016763013601.html" class="btn60-blue"> 
								
									
									
									  	预订
									   
									  
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1411042503763156614.html">
										<img src="http://image.game.uc.cn/2014/9/4/9895377.gif" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411042503763156614.html"><strong class="state-title">[三国派]群雄汇聚新服礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		94%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411042503763156614.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
								</ul>
								<ul class="recont-list cf">
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411041866763137698.html">
										<img src="http://image.game.uc.cn/2014/8/28/9882935.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411041866763137698.html"><strong class="state-title">[超级弹头-天天打手枪]封测特权礼包</strong></a>
								<p class="state">
								
								
								  	已有185人预订
								   
								  
								  
								   
								</p>
								<a href="/personal/1411041866763137698.html" class="btn60-blue"> 
								
									
									
									  	预订
									   
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1410923391395258491.html">
										<img src="http://image.game.uc.cn/2014/9/5/9899795.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410923391395258491.html"><strong class="state-title">[幻想英雄]低语海湾新手礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		99%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410923391395258491.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411029584763479647.html">
										<img src="http://image.game.uc.cn/2014/9/11/9905940.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411029584763479647.html"><strong class="state-title">[仙变]147服九游专属个人礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		79%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411029584763479647.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1410943413763198185.html">
										<img src="http://image.game.uc.cn/2014/5/17/9728498.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410943413763198185.html"><strong class="state-title">[热血问战]新服“峥嵘岁月”新手礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		98%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410943413763198185.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
								</ul>
								<ul class="recont-list cf">
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1410943452395012143.html">
										<img src="http://image.game.uc.cn/2014/5/17/9728498.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410943452395012143.html"><strong class="state-title">[热血问战]新服“峥嵘岁月”尊享礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		97%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410943452395012143.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411032568763030959.html">
										<img src="http://image.game.uc.cn/2014/7/28/9821441.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411032568763030959.html"><strong class="state-title">[啪啪三国]83服揭竿而起九游个人礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		35%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411032568763030959.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411041666836031879.html">
										<img src="http://image.game.uc.cn/2014/2/21/9639549.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411041666836031879.html"><strong class="state-title">[天天爱西游]"无上真宰"九游新手卡</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		97%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411041666836031879.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1410503056763866226.html">
										<img src="http://image.game.uc.cn/2014/3/26/9678154.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410503056763866226.html"><strong class="state-title">[武尊]67区黄金新手礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		100%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410503056763866226.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
								</ul>
								<ul class="recont-list cf">
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411033749395013432.html">
										<img src="http://image.game.uc.cn/2014/7/1/9780949.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411033749395013432.html"><strong class="state-title">[仙国志]S30九游个人礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		77%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411033749395013432.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1410923469763345217.html">
										<img src="http://image.game.uc.cn/2014/7/10/9797218.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410923469763345217.html"><strong class="state-title">[刀塔传奇]S348-349区新手礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		60%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410923469763345217.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411031185395248080.html">
										<img src="http://image.game.uc.cn/2014/8/28/9883951.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411031185395248080.html"><strong class="state-title">[攻城掠地]186-190服九游个人礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		88%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411031185395248080.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1410858226395088515.html">
										<img src="http://image.game.uc.cn/2014/7/21/9811777.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410858226395088515.html"><strong class="state-title">[暗黑战神]198服“群星闪耀”专属礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		95%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410858226395088515.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
								</ul>
								<ul class="recont-list cf">
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1410858244763622689.html">
										<img src="http://image.game.uc.cn/2014/7/21/9811777.jpg" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410858244763622689.html"><strong class="state-title">[暗黑战神]198服“群星闪耀”新服礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		94%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410858244763622689.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411031579395267990.html">
										<img src="http://image.game.uc.cn/2014/7/11/9798117.gif" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411031579395267990.html"><strong class="state-title">[女妖]7服【百妖争鸣】新手礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		58%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411031579395267990.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li>
								<div class="radius120">
									<a href="/personal/1411031598395000777.html">
										<img src="http://image.game.uc.cn/2014/7/11/9798117.gif" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1411031598395000777.html"><strong class="state-title">[女妖]7服【百妖争鸣】特权礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		61%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1411031598395000777.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
							
						
							<li class="last">
								<div class="radius120">
									<a href="/personal/1410778092395911100.html">
										<img src="http://image.game.uc.cn/2014/8/11/9849667.png" alt="">
										<span class="radius-mask"></span>
									</a>
								</div>
								<a href="/personal/1410778092395911100.html"><strong class="state-title">[天天英雄]奥术之力新服礼包</strong></a>
								<p class="state">
								
								  
								 
								  	 <!-- 个人 -->
			                        	剩余
			                        	<!-- 正常场景计算剩余率 -->
			                        		98%
			                        	
			                        		
			                          
			                          
			                        
								  
								  
								   
								</p>
								<a href="/personal/1410778092395911100.html" class="btn60-green"> 
								
									
									  
									 
									  	领号
									  
									  
									   
								</a>
							</li>
							
								</ul>
							
							
						
					
					</div>
					<!-- page -->
					
	<div class="page page-key">
		<a href="/novice_index_1.html" target="_self">首页</a>
        <a href="/novice_index_1.html" target="_self">上一页</a>
        
        
        
                
                <a href="/novice_index_1.html" target="_self" class="current">1</a>
                
                
        
                
                
				<a href="/novice_index_2.html" target="_self">2</a>
				
        
                
                
				<a href="/novice_index_3.html" target="_self">3</a>
				
        
                
                
				<a href="/novice_index_4.html" target="_self">4</a>
				
        
                
                
				<a href="/novice_index_5.html" target="_self">5</a>
				
        
                
                
				<a href="/novice_index_6.html" target="_self">6</a>
				
        
       	.....
        
        <a href="/novice_index_2.html" target="_self">下一页</a>
        <a href="/novice_index_593.html" target="_self">尾页</a>
	</div>        


				</div>
			</div>
			<!-- right -->
			<div class="fl-r">
				<div class="rank-box cloumn-bar">
					<div class="rank-title">
						<h2 class="title-con">新服礼包今日领取排行榜</h2>
					</div>
					
					
					<ul class="rank-con cf">
					
						<li>
							<span class="num">1</span>
							<a href="/personal/1410761537395811760.html" class="matter">[放开那三国]103服新手礼包</a>
							
							  
							  
							 
							  	<span class="gift-tao"></span>
							  
							  
						</li>
					
						<li>
							<span class="num">2</span>
							<a href="/personal/1410952648836061668.html" class="matter">[神雕侠侣]慧骨灵心九游新手礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="num">3</span>
							<a href="/personal/1411012490763980376.html" class="matter">[秦时明月]梦醒往事新手礼包</a>
							
							  
							  
							 
							  	<span class="gift-tao"></span>
							  
							  
						</li>
					
						<li>
							<span class="gray-num">4</span>
							<a href="/personal/1410775535395892296.html" class="matter">[剑魂之刃]105服特权礼包</a>
							
							  
							  
							 
							  	<span class="gift-tao"></span>
							  
							  
						</li>
					
						<li>
							<span class="gray-num">5</span>
							<a href="/personal/1410775491763610018.html" class="matter">[剑魂之刃]105服个人礼包</a>
							
							  
							  
							 
							  	<span class="gift-tao"></span>
							  
							  
						</li>
					
						<li>
							<span class="gray-num">6</span>
							<a href="/personal/1410752992836700187.html" class="matter">[神魔]149区黄金礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">7</span>
							<a href="/personal/1410858898836169360.html" class="matter">[战神黎明]正式内测特权礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">8</span>
							<a href="/personal/1410923451836281610.html" class="matter">[刀塔传奇]S346-347区新手礼包</a>
							
							  
							  
							 
							  	<span class="gift-tao"></span>
							  
							  
						</li>
					
						<li>
							<span class="gray-num">9</span>
							<a href="/personal/1410856326395042414.html" class="matter">[口袋银魂]不删档测试新手礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
						<li>
							<span class="gray-num">10</span>
							<a href="/personal/1410958726836080944.html" class="matter">[宠物小精灵]新手礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							  
						</li>
					
					</ul>
					
				</div>
				
				<div class="rank-box cloumn-bar">
					<div class="rank-title">
						<h2 class="title-con">新服礼包今日预订排行榜</h2>
					</div>
					
					
					<ul class="rank-con cf">
						
						<li>
							<span class="num">1</span>
							<a href="/personal/1410762277836766204.html" class="matter">[放开那三国]公测新服新手礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							   
						</li>
					 
						<li>
							<span class="num">2</span>
							<a href="/personal/1410923469763345217.html" class="matter">[刀塔传奇]S348-349区新手礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							   
						</li>
					 
						<li>
							<span class="num">3</span>
							<a href="/personal/1411016331763079488.html" class="matter">[口袋精灵王]新手礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">4</span>
							<a href="/personal/1411028123763438434.html" class="matter">[格斗火影]9月19日新手礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">5</span>
							<a href="/personal/1410754902395805400.html" class="matter">[时空猎人]491区黄金礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">6</span>
							<a href="/personal/1407210664763229009.html" class="matter">[全民奇迹]不删档内测新手礼包预定</a>
							
							
							  	<span class="gift-ding"></span>
							   
							  
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">7</span>
							<a href="/personal/1410923451836281610.html" class="matter">[刀塔传奇]S346-347区新手礼包</a>
							
							  
							  
							 
							  	<span class="gift-tao"></span>
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">8</span>
							<a href="/personal/1410761537395811760.html" class="matter">[放开那三国]103服新手礼包</a>
							
							  
							  
							 
							  	<span class="gift-tao"></span>
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">9</span>
							<a href="/personal/1410858458395106729.html" class="matter">[时空猎人]489区黄金礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							   
						</li>
					 
						<li>
							<span class="gray-num">10</span>
							<a href="/personal/1410754868836754787.html" class="matter">[时空猎人]490区黄金礼包</a>
							
							  
							 
							  	<span class="gift-send"></span>
							  
							  
							   
						</li>
					 
					</ul>
					
				</div>
			</div>
		</div>
	<!-- main end -->
 
</div>

