@{
      Layout = "~/Views/Shared/_GameWebLayout.cshtml";
}
<div class="main-wrap">
		<div class="box">
<ul class="main-nav">
			<li class=""><a href="/" data-statis="text:gw_newsinfo_dh_jhzr_1">首页</a></li>
			<li class=""><a href="/newslist/yxxw_0/" data-statis="text:gw_newsinfo_dh_jhzr_2">最新动态</a></li>
			<li class=""><a href="/newslist/yxgl_1/" data-statis="text:gw_newsinfo_dh_jhzr_3">攻略评测</a></li>
			<li class=""><a href="/newslist/rmhd_1/" data-statis="text:gw_newsinfo_dh_jhzr_4">有奖活动</a></li>
			<li class=""><a href="http://ka.9game.cn/game/537595_-5_1.html" data-statis="text:gw_newsinfo_dh_jhzr_5">礼包领取</a></li>
			<li class=""><a href="http://pay.uc.cn/web/index.htm" data-statis="text:gw_newsinfo_dh_jhzr_6">充值中心</a></li>
		<li class="bbs"><a href="http://bbs.9game.cn/forum-1889-1.html" data-statis="text:gw_newsinfo_dh_jhzr_7">进入论坛</a></li>
</ul>
		</div>
      <p class="bread"><a target="_self" href="http://www.9game.cn/">九游手机游戏</a>&gt;<a target="_self" href="http://jhzr.9game.cn/">剑魂之刃</a>&gt;<a target="_self" href="http://jhzr.9game.cn/newslist/rmhd_0/">热门活动</a>&gt;<span>剑魂之刃开测前打BOSS 抽奖就充值卡平板</span></p>
		<div class="contain">
			<div class="left-con">
              	<div class="box article-page" style="min-height:990px;">
					<h1>剑魂之刃开测前打BOSS 抽奖就充值卡平板</h1>
					<p class="summary">作者：九游 发布时间：2014-09-11 10:36:00 <a href="http://app.9game.cn/" class="phone-book" data-statis="txt_news_bt_po-1_other-shoujidingyue">手机订阅</a></p>
					<div class="text-con">
						<div class="art-review">
							<span class="word dao">导</span>
							<span class="word du">读</span>
	　　史上最强打击感，剑魂之刃9月11日即将迎来全面大更新，普攻打BOSS给你带来爽快体验同时九游不忘送祝福！
	　　【活动时间】9月11日10点~9月11日19点
	点击就送平板电脑...
						</div>
				            <div>
	<span style="font-size:14px;">　　史上最强打击感，<a id="link_pop" href="http://jhzr.9game.cn/">剑魂之刃</a>9月11日即将迎来全面大更新，普攻打BOSS给你带来爽快体验同时<a href="http://www.9game.cn/">九游</a>不忘送祝福！</span></div>
<div>
	<span style="font-size:14px;">　　【活动时间】9月11日10点~9月11日19点</span></div>
<div style="text-align: center;">
	<b><span style="font-size:14px;"><a href="http://bbs.9game.cn/thread-6724407-1-1.html"><span style="color:#ff0000;">点击就送平板电脑</span></a></span></b></div>
<div>
	<span style="font-size:14px;">　　【活动内容】</span></div>
<div>
	<span style="font-size:14px;">　　9月11日下午2点到晚上7点，剑魂之刃服务器暂停服务，准备上包大更新，届时玩家们无法进入游戏的时候，来论坛吧！抽奖打BOSS，答题发技能攻击。BOSS血量为晚上7点，谁抽奖次数最多谁就是BOSS最后一击，PS最后一击未必是一个人哟！每一位玩家用户抽奖普攻10次机会！</span></div>
<div>
	<span style="font-size:14px;">　　技能攻击题目：</span></div>
<div>
	<span style="font-size:14px;">　　1、剑魂之刃新版本中悬赏任务原是大坑，新版本后悬赏被替代什么了？</span></div>
<div>
	<span style="font-size:14px;">　　2、新增多少种60级以上的装备？分别是？</span></div>
<div>
	<span style="font-size:14px;">　　3、普通副本新增了什么功能？</span></div>
<div>
	<span style="font-size:14px;">　　4、实时PVP地图场景有什么改变？</span></div>
<div>
	<span style="font-size:14px;">　　回复格式：1、XXX &nbsp;2、XXX &nbsp;3、XXX &nbsp;4、XXX</span></div>
<div>
	<span style="font-size:14px;">　　【活动奖励】</span></div>
<div>
	<span style="font-size:14px;">　　活动时间后系统会自动告知最高连击数玩家送出奖励。</span></div>
<div>
	<span style="font-size:14px;">　　普攻奖励（每一位玩家拥有10次普攻）：</span></div>
<div>
	<span style="font-size:14px;">　　（20名）送出50U点</span></div>
<div>
	<span style="font-size:14px;">　　（1名）送出50元充值卡</span></div>
<div>
	<span style="font-size:14px;">　　绝攻奖励：</span></div>
<div>
	<span style="font-size:14px;">　　（30名）在答对题目玩家中抽取30名送出送出50U点</span></div>
<div>
	<span style="font-size:14px;">　　（1名）在答对题目玩家中抽取1名送出50元充值卡</span></div>
<div>
	<span style="font-size:14px;">　　（绝攻二强者1名）在答对题目玩家中抽取1名送出智能手表一支</span></div>
<div>
	<span style="font-size:14px;">　　（绝攻最强者1名）在答对题目玩家中抽取1名送出yoga平板电脑</span></div>
<div style="text-align: center;">
	<b style="text-align: center;"><span style="font-size: 14px;"><a href="http://bbs.9game.cn/thread-6724407-1-1.html"><span style="color: rgb(255, 0, 0);">点击就送平板电脑</span></a></span></b></div>
<div>
	<span style="font-size:14px;">　　【活动规则】</span></div>
<div>
	<span style="font-size:14px;">　　1、本帖将在9月11日19:00准时关闭。</span></div>
<div>
	<span style="font-size:14px;">　　2、为方便进行活动统计，请严格按照回帖格式进行回复！否则可能失去奖励！</span></div>
<div>
	<span style="font-size:14px;">　　3、本贴禁止刷回帖，为了防止抢楼再编辑答案的情况发生，编辑过的楼层将视为无效回复，即便你的答案正确，且每人回帖不得超过10个，否则取消获奖资格（即每人只有10次回帖发布答案的机会，答案以你最后的回答和楼层为准，如果觉得自己答对了就不要再进行回复了哦！）；</span></div>
<div>
	<span style="font-size:14px;">　　4、本着公平的原则，禁止使用多个马甲参与活动，发奖时将会严查IP，发现同IP参与的玩家将取消获奖资格，奖励顺延至下一位符合获奖条件的友友。</span></div>
<div>
	<span style="font-size:14px;">　　5、每人在活动中只能获得一次奖励。</span></div>
<div>
	<span style="font-size:14px;">　　6、获奖名单将在活动结束后3-5个工作日内公布，奖励发放在名单公布后的3-5个工作日统一发放。</span></div>
					</div>
					<div class="art-bottom-con">
						<div class="page">
				        </div>
						<div class="game-road">
							<div class="img">
								<a href="http://jhzr.9game.cn" data-statis="text:gw_newsinfo_yxxz_db_jhzr_logo">
									<img src="http://image.game.uc.cn/2014/9/12/9908590.jpg" alt="剑魂之刃">
									<span class="radius70"></span>
								</a>
							</div>
							<div class="mid-text">
								<p class="tit"><a href="http://jhzr.9game.cn" data-statis="text:gw_newsinfo_yxxz_db_jhzr_name">剑魂之刃</a></p>
								<div class="other-btn">
									<a href="http://jhzr.9game.cn" class="btn" data-statis="text:gw_newsinfo_yxxz_db_jhzr">官网</a>
										<a href="http://bbs.9game.cn/forum-1889-1.html" class="btn">论坛</a>
												<a href="http://ka.9game.cn/game/537595_-5_1.html" class="btn">礼包<span class="count">(61)</span></a>
											<a href="http://gh.9game.cn/SearchList.html?from=gw_newsinfo_yxxz_db_537595_gh&amp;Mode=1&amp;searchType=3&amp;keyword=537595" class="btn">公会<span class="count">(100)</span></a>
								</div>
							</div>
							<div class="game-down">
           							<a href="http://jhzr.9game.cn/game/down_537595_1080494.html" target="_self" class="btn code-btn android" data-statis="text:gw_newsinfo_yxxz_db_jhzr_android">安卓版下载</a>
									<a href="http://jhzr.9game.cn/game/down_537595_1041675.html" target="_self" class="btn code-btn apple" data-statis="text:gw_newsinfo_yxxz_db_jhzr_ios">苹果版下载</a>
							</div>
						</div>
						<div class="atr-next">
								<div class="link"><span class="toward">上一篇：</span><a href="http://jhzr.9game.cn/news/255501.html" data-statis="text:gw_newsinfo_syp_jhzr_255501">剑魂之刃开学前期返利大行动 最高返150%</a></div>
									<div class="link"><span class="toward">下一篇：</span><a href="http://jhzr.9game.cn/news/266415.html" data-statis="text:gw_newsinfo_xyp_jhzr_266415">09月18日12:00安卓新服火爆开启</a></div>
						</div>
					</div>
						<div class="pop-link" style="left: 188px; top: 41px;">
							<span class="conner"></span>
							<div class="des">
								<a href="http://jhzr.9game.cn" data-statis="text:pc_newsinfo_yxxz_neilian_537595.0_logo">
								<span class="img"><img src="http://image.game.uc.cn/2014/9/12/9908590_.jpg" alt=""><span class="radius70"></span></span>
								</a>
								<strong class="name">
								<a href="http://jhzr.9game.cn" data-statis="text:pc_newsinfo_yxxz_neilian_537595.0_name">
								剑魂之刃</a>
								</strong>
								<span class="type">类型:<i>角色</i></span>
								<span class="type">平台:<i>安卓</i></span>
								<span class="type">状态:<i>不删档内测</i></span>
							</div>
							<div class="down">
           							<a href="http://jhzr.9game.cn/game/down_537595_1080494.html" target="_self" class="btn android" data-statis="text:pc_newsinfo_yxxz_neilian_537595.0_android">安卓版下载</a>
									<a href="http://jhzr.9game.cn/game/down_537595_1041675.html" target="_self" class="btn ios" data-statis="text:pc_newsinfo_yxxz_neilian_537595.0_ios">苹果版下载</a>
							</div>
						</div>
				</div>
<div class="box contain article-comment">
	<div class="titile-con"><h2 class="title">玩家评论</h2><span class="count">（9条）</span></div>
	<div class="context-con">
		<div class="art-comment-con">
               <div class="comment-data">
					<div class="player-comment">
						<textarea class="text" id="art_textarea_text"></textarea>
					</div>
					<div class="other-ctrl">
						<p class="limit" id="art_limit">我来说两句</p>
						<div class="sub-con">
							<span data-id="{&quot;news_id&quot;:&quot;264356&quot;,&quot;platform_id&quot;:&quot;2&quot;,&quot;nickName&quot;:&quot;流星革命&quot;}" id="art_scroe_sub" class="scroe-sub">
								发表评论
							</span>
						</div>
					</div>
				</div>
				<div id="comment_all">
					<div class="game-list">
						<div class="little-tit">
							<h2 class="title">全部评论</h2>
						</div>
						<ul class="comment-list" id="comment_list">
							<li commentid="2816318">
								<div class="img-con"><img src="http://image.base.9game.cn:8080/2014/6/25/9774681.jpg" alt=""></div>
								<div class="detail">
									<p class="from">
										<span class="name">九游玩家</span>来自于
											<a class="jiu">九游手机站</a>
										<span class="time">09-14 22:58</span>
									</p>
									<p class="text">111111</p>
									<div class="like addlike" data-commentsid="2816318">(0)</div>
								</div>
							</li>
							<li commentid="2804183">
								<div class="img-con"><img src="http://myspace.9game.cn/customerAvatar?uid=206704289" alt=""></div>
								<div class="detail">
									<p class="from">
										<span class="name">杀手丶傲然</span>来自于
											<a class="jiu">九游手机站</a>
										<span class="time">09-13 14:47</span>
									</p>
									<p class="text">①新增的活跃度系统替代了原来的悬赏任 ②不知道 ③普通副本新增扫荡功能 ④场景地图变长，角色初始位置距离增加，提供闪避，跳转的空间。</p>
									<div class="like addlike" data-commentsid="2804183">(0)</div>
								</div>
							</li>
							<li commentid="2791960">
								<div class="img-con"><img src="http://myspace.9game.cn/customerAvatar?uid=258565330" alt=""></div>
								<div class="detail">
									<p class="from">
										<span class="name">丿灬犯贱</span>来自于
											<a class="jiu">九游手机站</a>
										<span class="time">09-11 21:53</span>
									</p>
									<p class="text">拍卖场没有，快点更新</p>
									<div class="like addlike" data-commentsid="2791960">(0)</div>
								</div>
							</li>
							<li commentid="2790025">
								<div class="img-con"><img src="http://myspace.9game.cn/customerAvatar?uid=196032480" alt=""></div>
								<div class="detail">
									<p class="from">
										<span class="name">196032480</span>来自于
											<a class="jiu">九游手机站</a>
										<span class="time">09-11 17:38</span>
									</p>
									<p class="text">什么时候更新交易系统？</p>
									<div class="like addlike" data-commentsid="2790025">(0)</div>
								</div>
							</li>
							<li commentid="2790019">
								<div class="img-con"><img src="http://myspace.9game.cn/customerAvatar?uid=353683447" alt=""></div>
								<div class="detail">
									<p class="from">
										<span class="name">九游玩家353683447</span>来自于
											<a class="jiu">九游手机站</a>
										<span class="time">09-11 17:37</span>
									</p>
									<p class="text">。。。都没更新交易系统</p>
									<div class="like addlike" data-commentsid="2790019">(0)</div>
								</div>
							</li>
							<li commentid="2789970">
								<div class="img-con"><img src="http://myspace.9game.cn/customerAvatar?uid=283625494" alt=""></div>
								<div class="detail">
									<p class="from">
										<span class="name">九游玩家283625494</span>来自于
											<a class="jiu">九游手机站</a>
											<span class="mobile">中兴 U880E</span>
										<span class="time">09-11 17:29</span>
									</p>
									<p class="text">1.新增的活跃度系统替代了原来的悬赏任 2.不知道 3.普通副本新增扫荡功能 4.场景地图变长，角色初始位置距离增加，提供闪避，跳转的空间。</p>
									<div class="like addlike" data-commentsid="2789970">(0)</div>
								</div>
							</li>
							<li commentid="2789448">
								<div class="img-con"><img src="http://myspace.9game.cn/customerAvatar?uid=306231487" alt=""></div>
								<div class="detail">
									<p class="from">
										<span class="name">wyy1017</span>来自于
											<a class="jiu">九游手机站</a>
											<span class="mobile">小米 MI 2</span>
										<span class="time">09-11 15:46</span>
									</p>
									<p class="text">1.新增的活跃度系统替代了原来的悬赏任 2.不知道 3.普通副本新增扫荡功能 4.场景地图变长，角色初始位置距离增加，提供闪避，跳转的空间。</p>
									<div class="like addlike" data-commentsid="2789448">(0)</div>
								</div>
							</li>
							<li commentid="2789011">
								<div class="img-con"><img src="http://myspace.9game.cn/customerAvatar?uid=210010442" alt=""></div>
								<div class="detail">
									<p class="from">
										<span class="name">九游玩家210010442</span>来自于
											<a class="jiu">九游手机站</a>
										<span class="time">09-11 14:37</span>
									</p>
									<p class="text">1.新增的活跃度系统替代了原来的悬赏任
2.不知道
3.普通副本新增扫荡功能
4.场景地图变长，角色初始位置距离增加，提供闪避，跳转的空间。</p>
									<div class="like addlike" data-commentsid="2789011">(0)</div>
								</div>
							</li>
							<li commentid="2787725">
								<div class="img-con"><img src="http://myspace.9game.cn/customerAvatar?uid=236679342" alt=""></div>
								<div class="detail">
									<p class="from">
										<span class="name">九游玩家236679342</span>来自于
											<a class="jiu">九游手机站</a>
											<span class="mobile">中兴 U9180</span>
										<span class="time">09-11 11:28</span>
									</p>
									<p class="text">哈哈哈</p>
									<div class="like addlike" data-commentsid="2787725">(0)</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>	
		  <input type="hidden" value="{&quot;count&quot;:10, &quot;total&quot;:9, &quot;newsid&quot;:264356}" data-url="/tpl/pc/common/newscommentajax.html" id="param">
           <div class="page-load" id="page_load" style="display: none;">
               <img src="/public/images/pc/pc_new/loading.gif" alt="">正在加载，请稍后...
           </div>
      </div>
</div>
				<div class="box relative-art tab-relative-art">
					<ul class="tag-title">
						<li class="current">相关文章</li>
						<li class="last">最新更新</li>
					</ul>
					<div class="context-con">
						<div class="contain">
							<ul class="news-list current">
									<li><a href="http://jhzr.9game.cn/news/255501.html" title="剑魂之刃开学前期返利大行动 最高返150%" data-statis="text:gw_newsinfo_xgwz_jhzr_255501">剑魂之刃开学前期返利大行动 最高返150%</a><span class="date">08-25</span></li>
									<li><a href="http://jhzr.9game.cn/news/252378.html" title="剑魂之刃双端开放性测试 庆典活动第一波开启" data-statis="text:gw_newsinfo_xgwz_jhzr_252378">剑魂之刃双端开放性测试 庆典活动第一波开启</a><span class="date">08-19</span></li>
									<li><a href="http://jhzr.9game.cn/news/252388.html" title="剑魂之刃8月19日开放性测试 豪车免费送" data-statis="text:gw_newsinfo_xgwz_jhzr_252388">剑魂之刃8月19日开放性测试 豪车免费送</a><span class="date">08-19</span></li>
									<li><a href="http://jhzr.9game.cn/news/241695.html" title="剑魂之刃七夕角色三角恋 送高额话费抱枕" data-statis="text:gw_newsinfo_xgwz_jhzr_241695">剑魂之刃七夕角色三角恋 送高额话费抱枕</a><span class="date">07-28</span></li>
									<li><a href="http://jhzr.9game.cn/news/239576.html" title="《剑魂之刃》新版本期待送海量实物充值卡" data-statis="text:gw_newsinfo_xgwz_jhzr_239576">《剑魂之刃》新版本期待送海量实物充值卡</a><span class="date">07-23</span></li>
									<li><a href="http://jhzr.9game.cn/news/228608.html" title="剑魂之刃猜剪影高额充值卡礼包一并送上" data-statis="text:gw_newsinfo_xgwz_jhzr_228608">剑魂之刃猜剪影高额充值卡礼包一并送上</a><span class="date">06-28</span></li>
									<li><a href="http://jhzr.9game.cn/news/227039.html" title="剑魂之刃迎7月1日不删档内测 送三星S5" data-statis="text:gw_newsinfo_xgwz_jhzr_227039">剑魂之刃迎7月1日不删档内测 送三星S5</a><span class="date">06-26</span></li>
									<li><a href="http://jhzr.9game.cn/news/219096.html" title="剑魂之刃内测已定 12日终极封测礼包大放送" data-statis="text:gw_newsinfo_xgwz_jhzr_219096">剑魂之刃内测已定 12日终极封测礼包大放送</a><span class="date">06-11</span></li>
									<li><a href="http://jhzr.9game.cn/news/218977.html" title="剑魂之刃内测时间已敲定12日终极封测礼包派发" data-statis="text:gw_newsinfo_xgwz_jhzr_218977">剑魂之刃内测时间已敲定12日终极封测礼包派发</a><span class="date">06-10</span></li>
									<li><a href="http://jhzr.9game.cn/news/216315.html" title="剑魂之刃说说你最想要的功能系统送海量U点" data-statis="text:gw_newsinfo_xgwz_jhzr_216315">剑魂之刃说说你最想要的功能系统送海量U点</a><span class="date">06-05</span></li>
									<li><a href="http://jhzr.9game.cn/news/215341.html" title="剑魂之刃贺双节发攻略赢充值卡海量U点" data-statis="text:gw_newsinfo_xgwz_jhzr_215341">剑魂之刃贺双节发攻略赢充值卡海量U点</a><span class="date">06-03</span></li>
									<li><a href="http://jhzr.9game.cn/news/212260.html" title="《剑魂之刃》晒竞技场排名赢取海量U点充值卡" data-statis="text:gw_newsinfo_xgwz_jhzr_212260">《剑魂之刃》晒竞技场排名赢取海量U点充值卡</a><span class="date">05-27</span></li>
									<li><a href="http://jhzr.9game.cn/news/211738.html" title="《剑魂之刃》一句话写下游戏的建议赢海量U点" data-statis="text:gw_newsinfo_xgwz_jhzr_211738">《剑魂之刃》一句话写下游戏的建议赢海量U点</a><span class="date">05-26</span></li>
									<li><a href="http://jhzr.9game.cn/news/210584.html" title="《剑魂之刃》300元大礼包 你来我就送！" data-statis="text:gw_newsinfo_xgwz_jhzr_210584">《剑魂之刃》300元大礼包 你来我就送！</a><span class="date">05-22</span></li>
							</ul>
							<ul class="news-list">
								<li><a href="http://jhzr.9game.cn/news/266415.html" title="09月18日12:00安卓新服火爆开启" data-statis="text:gw_newsinfo_zxgx_jhzr_266415">09月18日12:00安卓新服火爆开启</a><span class="date">09-17</span></li>
								<li><a href="http://jhzr.9game.cn/news/266417.html" title="09月17日12:00安卓新服火爆开启" data-statis="text:gw_newsinfo_zxgx_jhzr_266417">09月17日12:00安卓新服火爆开启</a><span class="date">09-16</span></li>
								<li><a href="http://jhzr.9game.cn/news/266738.html" title="剑魂之刃新版本VIP特权一览 尽显大R风范" data-statis="text:gw_newsinfo_zxgx_jhzr_266738">剑魂之刃新版本VIP特权一览 尽显大R风范</a><span class="date">09-16</span></li>
								<li><a href="http://jhzr.9game.cn/news/266725.html" title="剑魂之刃宠物天赋石正确用法 躲坑必备" data-statis="text:gw_newsinfo_zxgx_jhzr_266725">剑魂之刃宠物天赋石正确用法 躲坑必备</a><span class="date">09-16</span></li>
								<li><a href="http://jhzr.9game.cn/news/266297.html" title="《剑魂之刃》9月16日12时 新服103服开启" data-statis="text:gw_newsinfo_zxgx_jhzr_266297">《剑魂之刃》9月16日12时 新服103服开启</a><span class="date">09-16</span></li>
								<li><a href="http://jhzr.9game.cn/news/266386.html" title="《剑魂之刃》9月19日12时 新服106服开启" data-statis="text:gw_newsinfo_zxgx_jhzr_266386">《剑魂之刃》9月19日12时 新服106服开启</a><span class="date">09-16</span></li>
								<li><a href="http://jhzr.9game.cn/news/266382.html" title="《剑魂之刃》9月18日12时 新服105服开启" data-statis="text:gw_newsinfo_zxgx_jhzr_266382">《剑魂之刃》9月18日12时 新服105服开启</a><span class="date">09-16</span></li>
								<li><a href="http://jhzr.9game.cn/news/266373.html" title="《剑魂之刃》9月17日12时 新服104服开启" data-statis="text:gw_newsinfo_zxgx_jhzr_266373">《剑魂之刃》9月17日12时 新服104服开启</a><span class="date">09-16</span></li>
								<li><a href="http://jhzr.9game.cn/news/266397.html" title="《剑魂之刃》9月21日12时 新服108服开启" data-statis="text:gw_newsinfo_zxgx_jhzr_266397">《剑魂之刃》9月21日12时 新服108服开启</a><span class="date">09-16</span></li>
								<li><a href="http://jhzr.9game.cn/news/266388.html" title="《剑魂之刃》9月20日12时 新服107服开启" data-statis="text:gw_newsinfo_zxgx_jhzr_266388">《剑魂之刃》9月20日12时 新服107服开启</a><span class="date">09-16</span></li>
								<li><a href="http://jhzr.9game.cn/news/266401.html" title="《剑魂之刃》9月22日12时 新服109服开启" data-statis="text:gw_newsinfo_zxgx_jhzr_266401">《剑魂之刃》9月22日12时 新服109服开启</a><span class="date">09-16</span></li>
								<li><a href="http://jhzr.9game.cn/news/266329.html" title="09月16日12:00安卓新服火爆开启" data-statis="text:gw_newsinfo_zxgx_jhzr_266329">09月16日12:00安卓新服火爆开启</a><span class="date">09-15</span></li>
								<li><a href="http://jhzr.9game.cn/news/266171.html" title="剑魂之刃纯金之剑哪里打？" data-statis="text:gw_newsinfo_zxgx_jhzr_266171">剑魂之刃纯金之剑哪里打？</a><span class="date">09-15</span></li>
								<li><a href="http://jhzr.9game.cn/news/266150.html" title="剑魂之刃怎么换角色？" data-statis="text:gw_newsinfo_zxgx_jhzr_266150">剑魂之刃怎么换角色？</a><span class="date">09-15</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="right-con">
				<div class="box down-yure">
			<div class="titile-con"><h2>剑魂之刃官网下载</h2></div>
	<div class="context-con">
		<div class="des">
					<span class="img"><img src="http://image.game.uc.cn/2014/9/12/9908590.jpg" alt="剑魂之刃"><i class="radius80"></i></span>
						手势格斗！一剑破魂！全新格斗模式由你定义！引爆全民格斗新狂潮！
2014百家媒体联合推荐：年度最值得收藏的街机格斗手游	
					<span class="more">
						[详情]
						<div class="tips">
							<span class="cor"></span>
							<p>
									手势格斗！一剑破魂！全新格斗模式由你定义！引爆全民格斗新狂潮！
2014百家媒体联合推荐：年度最值得收藏的街机格斗手游！
以微操作格斗作为核心玩法，以带动全身感官作为体验感受，凭借超真实打击感给予你全方位的战斗娱乐体验。融合现今流行的休闲、Q版等网游元素，打造出独特的无限连击、粒子特效等诸多视觉系、功能系猛料，给予你眼、手、心三重最极致的娱乐享受！
★无与伦比的快感★
创新型手控操作模式。
强化战斗连击自由度。
日韩系画质，演绎最梦幻技能连击特效。
★满园春色的诱惑★
软妹御姐：日韩式动漫视觉 降服御姐 推倒萝莉。
自由：360度全方位移动 AOE无锁定目标选取。
时装：性感可爱帅气，数十套时装总有一款适合你！
★流线型法拉利的体验★
MMOACT：搓招闯关 即时格斗 全智能动作版街机格斗手游。
生存副本：一夫当关 万夫莫开 体验以一敌众的“割草”快感。
精英讨伐：全新Boss战 单兵突袭与组团征伐 随心所欲。
劲爆视觉系，酷爽功能系，还想来点别的？期待你来加入接受剑魂世界的洗礼。
							</p>
						</div>
					</span>
		</div>
		<ul class="info">
					<li><span class="type">类型</span>角色</li>
					<li><span class="type">平台</span>安卓</li>
          		<li class="long">安卓版&nbsp;<span class="org">09-19</span><span class="org">12:00</span>&nbsp;新服</li>
			</ul>
		<div class="btn-con">
				<span class="btn green code-show-yr">游戏下载</span>
					<a href="http://ka.9game.cn/game/537595_-5_1.html" class="btn red" data-statis="text:gw_newsinfo_yxxz_jhzr_lqlb">领取礼包</a>
			</div>
					<div class="server">010-85070333</div>
	</div>
</div>
		<div class="box rank side-ctrl">
			<div class="titile-con"><h2>游戏攻略</h2></div>
			<div class="context-con">
				<ul class="inside-tag">
					<li class="current">新手<span class="cor"></span></li>
					<li class="last">老玩家<span class="cor"></span></li>
				</ul>
				<div class="contain">
					<ul class="news-list current">
								<li><a href="http://jhzr.9game.cn/news/261628.html" title="剑魂之刃性格搭配角色攻略" data-statis="text:gw_newsinfo_yxgl_xs_jhzr_261628">剑魂之刃性格搭配角色攻略</a></li>
								<li><a href="http://jhzr.9game.cn/news/251784.html" title="施主放下屠刀吧 剑魂之刃宠物放生攻略" data-statis="text:gw_newsinfo_yxgl_xs_jhzr_251784">施主放下屠刀吧 剑魂之刃宠物放生攻略</a></li>
								<li><a href="http://jhzr.9game.cn/news/231883.html" title="剑魂之刃新手快速升级攻略" data-statis="text:gw_newsinfo_yxgl_xs_jhzr_231883">剑魂之刃新手快速升级攻略</a></li>
								<li><a href="http://jhzr.9game.cn/news/230415.html" title="剑魂之刃新手攻略 新手职业完美搭配" data-statis="text:gw_newsinfo_yxgl_xs_jhzr_230415">剑魂之刃新手攻略 新手职业完美搭配</a></li>
								<li><a href="http://jhzr.9game.cn/news/229877.html" title="剑魂之刃装备攻略 剑魂之刃新手攻略" data-statis="text:gw_newsinfo_yxgl_xs_jhzr_229877">剑魂之刃装备攻略 剑魂之刃新手攻略</a></li>
					</ul>
					<ul class="news-list">
								<li><a href="http://jhzr.9game.cn/news/266738.html" title="剑魂之刃新版本VIP特权一览 尽显大R风范" data-statis="text:gw_newsinfo_yxgl_lwj_jhzr_266738">剑魂之刃新版本VIP特权一览 尽显大R风范</a></li>
								<li><a href="http://jhzr.9game.cn/news/265168.html" title="剑魂之刃新版本公会争霸详解 公会战来袭" data-statis="text:gw_newsinfo_yxgl_lwj_jhzr_265168">剑魂之刃新版本公会争霸详解 公会战来袭</a></li>
								<li><a href="http://jhzr.9game.cn/news/265134.html" title="剑魂之刃宠物攻略 天赋装备系统全解析" data-statis="text:gw_newsinfo_yxgl_lwj_jhzr_265134">剑魂之刃宠物攻略 天赋装备系统全解析</a></li>
								<li><a href="http://jhzr.9game.cn/news/264691.html" title="剑魂之刃9.11日19点开测公会争霸全面来袭" data-statis="text:gw_newsinfo_yxgl_lwj_jhzr_264691">剑魂之刃9.11日19点开测公会争霸全面来袭</a></li>
								<li><a href="http://jhzr.9game.cn/news/264458.html" title="剑魂之刃9月11日新版本 1V1格斗震撼上线" data-statis="text:gw_newsinfo_yxgl_lwj_jhzr_264458">剑魂之刃9月11日新版本 1V1格斗震撼上线</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="box right-gift marbtm10">
			<div class="titile-con"><h2>游戏礼包</h2></div>
			<div class="context-con">
				<ul class="right-gift-detail">
                                  <li><span class="num num1">1</span><p class="name"><a href="http://ka.9game.cn/personal/1410775535395892296.html">[剑魂之刃]105服特权礼包</a></p><a href="http://ka.9game.cn/personal/1410775535395892296.html" class="fun ling">领</a></li>
                                  <li><span class="num num2">2</span><p class="name"><a href="http://ka.9game.cn/personal/1410775518763613053.html">[剑魂之刃]105服公会礼包</a></p><a href="http://ka.9game.cn/personal/1410775518763613053.html" class="fun ling">领</a></li>
                                  <li><span class="num num3">3</span><p class="name"><a href="http://ka.9game.cn/personal/1410775491763610018.html">[剑魂之刃]105服个人礼包</a></p><a href="http://ka.9game.cn/personal/1410775491763610018.html" class="fun ling">领</a></li>
                                  <li><span class="num">4</span><p class="name"><a href="http://ka.9game.cn/personal/1410775445763608717.html">[剑魂之刃]104服公会礼包</a></p><a href="http://ka.9game.cn/personal/1410775445763608717.html" class="fun tao">淘</a></li>
                                  <li><span class="num">5</span><p class="name"><a href="http://ka.9game.cn/personal/1410760718763222093.html">[剑魂之刃]103服公会礼包</a></p><a href="http://ka.9game.cn/personal/1410760718763222093.html" class="fun tao">淘</a></li>
			</ul>
		</div>
	</div>
				<div class="box right-server marbtm10">
					<div class="titile-con"><h2>开服信息</h2></div>
					<div class="context-con">
						<table>
							<tbody><tr>
								<th class="name">服务器名称</th>
								<th>时间</th>
							</tr>
										<tr>
											<td class="name">剑魂105服</td>
											<td>今天</td>
										</tr>
										<tr>
											<td class="name">剑魂106服</td>
											<td>09-19</td>
										</tr>
						</tbody></table>
					</div>
				</div>
<div class="right-news-con marbtm10">
	<ul class="tag-title">
		<li class="current">热门推荐</li>
		<li class="last">最新资讯</li>
	</ul>
	<div class="context-con">
		<ul class="news-list current">
					<li><a href="http://www.9game.cn/news/252457.html" data-statis="text:gw_newsinfo_hot_252457" title="刀塔传奇猴子怎么样？猴子值得培养吗？">刀塔传奇猴子怎么样？猴子值得培养吗？</a></li>
					<li><a href="http://www.9game.cn/news/267046.html" data-statis="text:gw_newsinfo_hot_267046" title="人在囧图（93）：交警车震人妻被抓奸裸殴">人在囧图（93）：交警车震人妻被抓奸裸殴</a></li>
					<li><a href="http://dtcq.9game.cn/news/188230.html" data-statis="text:gw_newsinfo_hot_535733_188230" title="《刀塔传奇》兑换码领取小技巧">《刀塔传奇》兑换码领取小技巧</a></li>
					<li><a href="http://ttkp.9game.cn/news/232176.html" data-statis="text:gw_newsinfo_hot_519910_232176" title="天天酷跑积分抽奖小技巧 永久人物坐骑任你拿">天天酷跑积分抽奖小技巧 永久人物坐骑任你拿</a></li>
					<li><a href="http://www.9game.cn/news/264964.html" data-statis="text:gw_newsinfo_hot_264964" title="娇艳御姐傲人胸围深不可测">娇艳御姐傲人胸围深不可测</a></li>
					<li><a href="http://www.9game.cn/news/263980.html" data-statis="text:gw_newsinfo_hot_263980" title="清纯妹子露脐T恤诱惑宅男">清纯妹子露脐T恤诱惑宅男</a></li>
					<li><a href="http://www.9game.cn/hdqb/252373.html" data-statis="text:gw_newsinfo_hot_539038_252373" title="玩《海岛奇兵》邀你欧洲双人游">玩《海岛奇兵》邀你欧洲双人游</a></li>
					<li><a href="http://www.9game.cn/kbzsjq/264923.html" data-statis="text:gw_newsinfo_hot_543469_264923" title="《魁拔3》同名手游《魁拔：战神崛起》十月即将上架">《魁拔3》同名手游《魁拔：战神崛起》十月即将上架</a></li>
					<li><a href="http://www.9game.cn/zgmh/263614.html" data-statis="text:gw_newsinfo_hot_540335_263614" title="主公莫慌礼包领取！让主公们领先在起跑线！">主公莫慌礼包领取！让主公们领先在起跑线！</a></li>
					<li><a href="http://www.9game.cn/news/266325.html" data-statis="text:gw_newsinfo_hot_266325" title="人在囧图(92):王全安嫖娼，监狱风云添新人">人在囧图(92):王全安嫖娼，监狱风云添新人</a></li>
		</ul>
		<ul class="news-list">
						<li><a href="http://www.9game.cn/mxss/265999.html" data-statis="text:gw_newsinfo_new_542397_265999" title="《梦想死神》9月19日11时新服开启">《梦想死神》9月19日11时新服开启</a></li>
						<li><a href="http://www.9game.cn/shgdws/268208.html" data-statis="text:gw_newsinfo_new_542357_268208" title="弑魂坐骑系统之天降祥瑞麒麟现世">弑魂坐骑系统之天降祥瑞麒麟现世</a></li>
						<li><a href="http://www.9game.cn/shgdws/268200.html" data-statis="text:gw_newsinfo_new_542357_268200" title="弑魂荣耀之战的体现 霸气称号谁与争锋">弑魂荣耀之战的体现 霸气称号谁与争锋</a></li>
						<li><a href="http://www.9game.cn/qmss/265995.html" data-statis="text:gw_newsinfo_new_539740_265995" title="《全民死神》9月19日11时新服开启">《全民死神》9月19日11时新服开启</a></li>
						<li><a href="http://www.9game.cn/mxrz1/265993.html" data-statis="text:gw_newsinfo_new_539571_265993" title="《梦想忍者》9月19日11时新服开启">《梦想忍者》9月19日11时新服开启</a></li>
						<li><a href="http://www.9game.cn/bzsx/268247.html" data-statis="text:gw_newsinfo_new_540873_268247" title="《暴走神仙》特色功能介绍">《暴走神仙》特色功能介绍</a></li>
						<li><a href="http://www.9game.cn/bzsx/268240.html" data-statis="text:gw_newsinfo_new_540873_268240" title="《暴走神仙》新手攻略-战力篇">《暴走神仙》新手攻略-战力篇</a></li>
						<li><a href="http://www.9game.cn/shgdws/268196.html" data-statis="text:gw_newsinfo_new_542357_268196" title="弑魂世界BOSS系统揭秘 一起来殴打帮派boss">弑魂世界BOSS系统揭秘 一起来殴打帮派boss</a></li>
						<li><a href="http://www.9game.cn/sanguozhiren/268314.html" data-statis="text:gw_newsinfo_new_542184_268314" title="三国之刃新手攻略之宝物大盘点">三国之刃新手攻略之宝物大盘点</a></li>
						<li><a href="http://www.9game.cn/bzsx/268256.html" data-statis="text:gw_newsinfo_new_540873_268256" title="《暴走神仙》元宝获取途径一览">《暴走神仙》元宝获取途径一览</a></li>
		</ul>
	</div>
</div>
			<div class="box recom">
				<div class="titile-con"><h2 class="title">猜你喜欢</h2></div>
				<div class="context-con">
					<div class="context-con">
						<div class="right-recom-con">
				                      <a href="http://fknsg.9game.cn/" class="recom-con" data-statis="text:p_newsinfo_guess_537595.0_527432">
				                          <img src="http://image.game.uc.cn/2014/9/2/9891091_.gif" alt="放开那三国">
				                          <p>放开那三国</p>
				                          <span class="radius60"></span>
				                      </a>
				                      <a href="http://gddh.9game.cn/" class="recom-con" data-statis="text:p_newsinfo_guess_537595.0_538780">
				                          <img src="http://image.game.uc.cn/2014/7/13/9800152_.jpg" alt="格斗刀魂Online">
				                          <p>格斗刀魂Online</p>
				                          <span class="radius60"></span>
				                      </a>
				                      <a href="http://www.9game.cn/csxy2/" class="recom-con" data-statis="text:p_newsinfo_guess_537595.0_540516">
				                          <img src="http://image.game.uc.cn/2014/6/26/9776727_.jpg" alt="超神学院">
				                          <p>超神学院</p>
				                          <span class="radius60"></span>
				                      </a>
				                      <a href="http://www.9game.cn/bydr3/" class="recom-con" data-statis="text:p_newsinfo_guess_537595.0_536689">
				                          <img src="http://image.game.uc.cn/2014/7/21/9811700_.gif" alt="捕鱼达人3">
				                          <p>捕鱼达人3</p>
				                          <span class="radius60"></span>
				                      </a>
				                      <a href="http://txhd.9game.cn/" class="recom-con" data-statis="text:p_newsinfo_guess_537595.0_535356">
				                          <img src="http://image.game.uc.cn/2014/9/17/9919017_.png" alt="天下HD">
				                          <p>天下HD</p>
				                          <span class="radius60"></span>
				                      </a>
				                      <a href="http://xz.9game.cn/" class="recom-con" data-statis="text:p_newsinfo_guess_537595.0_537192">
				                          <img src="http://image.game.uc.cn/2014/4/10/9691856_.png" alt="血族">
				                          <p>血族</p>
				                          <span class="radius60"></span>
				                      </a>
				                      <a href="http://rxgd.9game.cn/" class="recom-con" data-statis="text:p_newsinfo_guess_537595.0_540542">
				                          <img src="http://image.game.uc.cn/2014/8/26/9878641_.gif" alt="热血格斗OL">
				                          <p>热血格斗OL</p>
				                          <span class="radius60"></span>
				                      </a>
				                      <a href="http://dlnw.9game.cn/" class="recom-con" data-statis="text:p_newsinfo_guess_537595.0_539350">
				                          <img src="http://image.game.uc.cn/2014/9/9/9902316_.jpg" alt="地牢女王">
				                          <p>地牢女王</p>
				                          <span class="radius60"></span>
				                      </a>
				                      <a href="http://btx.9game.cn/" class="recom-con" data-statis="text:p_newsinfo_guess_537595.0_540143">
				                          <img src="http://image.game.uc.cn/2014/7/30/9826312_.png" alt="霸天下">
				                          <p>霸天下</p>
				                          <span class="radius60"></span>
				                      </a>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="box contain game-detail">
</div>

</div>

