@{
    Layout = "~/Views/Shared/_GameWebLayout.cshtml";
}
@model W3WGame.Core.Entities.GameNews
<div class="main-wrap">
     <div class="box">
    @Html.Action("GameDanner", "mainLayout")
       </div>
    <div class="contain">
        <div class="left-con">
            <div class="box article-page" style="min-height: 990px;">
                <h1>
                    @Model.Title</h1>
                <p class="summary">
                    作者：w3w游戏 发布时间：@Model.CreateDate.ToString()
                </p>
                <div class="text-con">
                    @MvcHtmlString.Create(Model.Content)
                </div>
            </div>
        </div>
        @Html.Action("GameRight", "mainLayout", new { gameid = Model.GameID })
    </div>
    <div class="box contain game-detail">
    </div>
</div>
