@{
    Layout = "~/Views/Shared/_GameWebLayout.cshtml";
}
<div class="main-wrap">
    <div class="box">
        <ul class="main-nav">
            <li class=""><a href="/" data-statis="text:gw_list_dh_jhzr_1">首页</a></li>
            <li class=""><a href="/newslist/yxxw_0/" data-statis="text:gw_list_dh_jhzr_2">最新动态</a></li>
            <li class=""><a href="/newslist/yxgl_1/" data-statis="text:gw_list_dh_jhzr_3">攻略评测</a></li>
            <li class=""><a href="/newslist/rmhd_1/" data-statis="text:gw_list_dh_jhzr_4">有奖活动</a></li>
            <li class=""><a href="http://ka.9game.cn/game/537595_-5_1.html" data-statis="text:gw_list_dh_jhzr_5">
                礼包领取</a></li>
            <li class=""><a href="http://pay.uc.cn/web/index.htm" data-statis="text:gw_list_dh_jhzr_6">
                充值中心</a></li>
            <li class="bbs"><a href="http://bbs.9game.cn/forum-1889-1.html" data-statis="text:gw_list_dh_jhzr_7">
                进入论坛</a></li>
        </ul>
    </div>
    <p class="bread">
        <a target="_self" href="http://www.9game.cn/">九游手机游戏</a>&gt;<a target="_self" href="http://jhzr.9game.cn/">剑魂之刃</a>&gt;<span>游戏新闻</span></p>
    <div class="contain">
        <div class="left-con">
            <div class="box detail-page" style="min-height: 1140px;">
                <h2 class="title">
                    游戏新闻</h2>
                <ul class="news-list">
                    <li><a href="http://jhzr.9game.cn/news/266415.html">09月18日12:00安卓新服火爆开启</a><span
                        class="date">09-17</span></li>
                    <li><a href="http://jhzr.9game.cn/news/266417.html">09月17日12:00安卓新服火爆开启</a><span
                        class="date">09-16</span></li>
                    <li><a href="http://jhzr.9game.cn/news/266297.html">《剑魂之刃》9月16日12时 新服103服开启</a><span
                        class="date">09-16</span></li>
                    <li><a href="http://jhzr.9game.cn/news/266373.html">《剑魂之刃》9月17日12时 新服104服开启</a><span
                        class="date">09-16</span></li>
                    <li><a href="http://jhzr.9game.cn/news/266382.html">《剑魂之刃》9月18日12时 新服105服开启</a><span
                        class="date">09-16</span></li>
                    <li><a href="http://jhzr.9game.cn/news/266386.html">《剑魂之刃》9月19日12时 新服106服开启</a><span
                        class="date">09-16</span></li>
                    <li><a href="http://jhzr.9game.cn/news/266388.html">《剑魂之刃》9月20日12时 新服107服开启</a><span
                        class="date">09-16</span></li>
                    <li><a href="http://jhzr.9game.cn/news/266397.html">《剑魂之刃》9月21日12时 新服108服开启</a><span
                        class="date">09-16</span></li>
                </ul>
                <ul class="news-list">
                    <li><a href="http://jhzr.9game.cn/news/266401.html">《剑魂之刃》9月22日12时 新服109服开启</a><span
                        class="date">09-16</span></li>
                    <li><a href="http://jhzr.9game.cn/news/266329.html">09月16日12:00安卓新服火爆开启</a><span
                        class="date">09-15</span></li>
                    <li><a href="http://jhzr.9game.cn/news/265569.html">09月15日12:00安卓新服火爆开启</a><span
                        class="date">09-14</span></li>
                    <li><a href="http://jhzr.9game.cn/news/265572.html">09月14日12:00安卓新服火爆开启</a><span
                        class="date">09-13</span></li>
                    <li><a href="http://jhzr.9game.cn/news/265753.html">[剑魂之刃]9月11日新版本登陆礼包已开放领取</a><span
                        class="date">09-13</span></li>
                    <li><a href="http://jhzr.9game.cn/news/265504.html">《剑魂之刃》9月15日12时 新服102服开启</a><span
                        class="date">09-12</span></li>
                    <li><a href="http://jhzr.9game.cn/news/265490.html">《剑魂之刃》9月13日12时 新服100服开启</a><span
                        class="date">09-12</span></li>
                    <li><a href="http://jhzr.9game.cn/news/265498.html">《剑魂之刃》9月14日12时 新服101服开启</a><span
                        class="date">09-12</span></li>
                </ul>
                <ul class="news-list">
                    <li><a href="http://jhzr.9game.cn/news/265573.html">09月13日12:00安卓新服火爆开启</a><span
                        class="date">09-12</span></li>
                    <li><a href="http://jhzr.9game.cn/news/265000.html">[剑魂之刃]9月11日新版本登陆礼包火爆预订中</a><span
                        class="date">09-12</span></li>
                    <li><a href="http://jhzr.9game.cn/news/264761.html">《剑魂之刃》9月12日12时 新服98服开启</a><span
                        class="date">09-11</span></li>
                    <li><a href="http://jhzr.9game.cn/news/264828.html">09月12日12:00安卓新服火爆开启</a><span
                        class="date">09-11</span></li>
                    <li><a href="http://jhzr.9game.cn/news/264144.html">09月11日12:00安卓新服火爆开启</a><span
                        class="date">09-10</span></li>
                    <li><a href="http://jhzr.9game.cn/news/265016.html">09月11日19:30安卓新服火爆开启</a><span
                        class="date">09-10</span></li>
                    <li><a href="http://jhzr.9game.cn/news/263479.html">剑魂之刃新版本“地城勇士”9月11日火爆上线</a><span
                        class="date">09-10</span></li>
                    <li><a href="http://jhzr.9game.cn/news/262381.html">09月10日12:00安卓新服火爆开启</a><span
                        class="date">09-09</span></li>
                </ul>
                <ul class="news-list">
                    <li><a href="http://jhzr.9game.cn/news/262225.html">《剑魂之刃》9月9日12时 新服96服开启</a><span
                        class="date">09-09</span></li>
                    <li><a href="http://jhzr.9game.cn/news/262242.html">《剑魂之刃》9月10日12时 新服97服开启</a><span
                        class="date">09-09</span></li>
                    <li><a href="http://jhzr.9game.cn/news/262208.html">《剑魂之刃》9月8日12时 新服95服开启</a><span
                        class="date">09-09</span></li>
                    <li><a href="http://jhzr.9game.cn/news/262192.html">《剑魂之刃》9月7日12时 新服94服开启</a><span
                        class="date">09-09</span></li>
                    <li><a href="http://jhzr.9game.cn/news/262185.html">《剑魂之刃》9月6日12时 93服开启</a><span
                        class="date">09-08</span></li>
                    <li><a href="http://jhzr.9game.cn/news/262383.html">09月09日12:00安卓新服火爆开启</a><span
                        class="date">09-08</span></li>
                    <li><a href="http://jhzr.9game.cn/news/262384.html">09月08日12:00安卓新服火爆开启</a><span
                        class="date">09-07</span></li>
                    <li><a href="http://jhzr.9game.cn/news/262385.html">09月07日12:00安卓新服火爆开启</a><span
                        class="date">09-06</span></li>
                </ul>
                <ul class="news-list">
                    <li><a href="http://jhzr.9game.cn/news/262388.html">09月06日12:00安卓新服火爆开启</a><span
                        class="date">09-05</span></li>
                    <li><a href="http://jhzr.9game.cn/news/261739.html">09月05日12:00安卓新服火爆开启</a><span
                        class="date">09-04</span></li>
                    <li><a href="http://jhzr.9game.cn/news/260882.html">剑魂之刃开启剑魂之刃新版本开新特权</a><span class="date">09-04</span></li>
                    <li><a href="http://jhzr.9game.cn/news/261248.html">剑魂之刃9月中旬全新改版 全面优化系统</a><span
                        class="date">09-04</span></li>
                    <div class="page">
                        <span>首页</span> <span>上一页</span> <a class="current">1</a> <a target="_self" href="http://jhzr.9game.cn/newslist/yxxw_2/">
                            2</a> <a target="_self" href="http://jhzr.9game.cn/newslist/yxxw_3/">3</a> <a target="_self"
                                href="http://jhzr.9game.cn/newslist/yxxw_4/">4</a> ... <a target="_self" class="ctrl"
                                    href="http://jhzr.9game.cn/newslist/yxxw_2/">下一页</a> <a target="_self" class="ctrl"
                                        href="http://jhzr.9game.cn/newslist/yxxw_4/">尾页</a>
                    </div>
                </ul>
            </div>
            <div class="box relative-art tab-relative-art">
                <ul class="tag-title">
                    <li class="current">最新更新</li>
                </ul>
                <div class="context-con">
                    <div class="contain">
                        <ul class="news-list current">
                            <li><a href="http://jhzr.9game.cn/news/266415.html" title="09月18日12:00安卓新服火爆开启" data-statis="text:gw_list_zxgx_jhzr_266415">
                                09月18日12:00安卓新服火爆开启</a><span class="date">09-17</span></li>
                            <li><a href="http://jhzr.9game.cn/news/266417.html" title="09月17日12:00安卓新服火爆开启" data-statis="text:gw_list_zxgx_jhzr_266417">
                                09月17日12:00安卓新服火爆开启</a><span class="date">09-16</span></li>
                            <li><a href="http://jhzr.9game.cn/news/266738.html" title="剑魂之刃新版本VIP特权一览 尽显大R风范"
                                data-statis="text:gw_list_zxgx_jhzr_266738">剑魂之刃新版本VIP特权一览 尽显大R风范</a><span class="date">09-16</span></li>
                            <li><a href="http://jhzr.9game.cn/news/266725.html" title="剑魂之刃宠物天赋石正确用法 躲坑必备" data-statis="text:gw_list_zxgx_jhzr_266725">
                                剑魂之刃宠物天赋石正确用法 躲坑必备</a><span class="date">09-16</span></li>
                            <li><a href="http://jhzr.9game.cn/news/266297.html" title="《剑魂之刃》9月16日12时 新服103服开启"
                                data-statis="text:gw_list_zxgx_jhzr_266297">《剑魂之刃》9月16日12时 新服103服开启</a><span class="date">09-16</span></li>
                            <li><a href="http://jhzr.9game.cn/news/266386.html" title="《剑魂之刃》9月19日12时 新服106服开启"
                                data-statis="text:gw_list_zxgx_jhzr_266386">《剑魂之刃》9月19日12时 新服106服开启</a><span class="date">09-16</span></li>
                            <li><a href="http://jhzr.9game.cn/news/266382.html" title="《剑魂之刃》9月18日12时 新服105服开启"
                                data-statis="text:gw_list_zxgx_jhzr_266382">《剑魂之刃》9月18日12时 新服105服开启</a><span class="date">09-16</span></li>
                            <li><a href="http://jhzr.9game.cn/news/266373.html" title="《剑魂之刃》9月17日12时 新服104服开启"
                                data-statis="text:gw_list_zxgx_jhzr_266373">《剑魂之刃》9月17日12时 新服104服开启</a><span class="date">09-16</span></li>
                            <li><a href="http://jhzr.9game.cn/news/266397.html" title="《剑魂之刃》9月21日12时 新服108服开启"
                                data-statis="text:gw_list_zxgx_jhzr_266397">《剑魂之刃》9月21日12时 新服108服开启</a><span class="date">09-16</span></li>
                            <li><a href="http://jhzr.9game.cn/news/266388.html" title="《剑魂之刃》9月20日12时 新服107服开启"
                                data-statis="text:gw_list_zxgx_jhzr_266388">《剑魂之刃》9月20日12时 新服107服开启</a><span class="date">09-16</span></li>
                            <li><a href="http://jhzr.9game.cn/news/266401.html" title="《剑魂之刃》9月22日12时 新服109服开启"
                                data-statis="text:gw_list_zxgx_jhzr_266401">《剑魂之刃》9月22日12时 新服109服开启</a><span class="date">09-16</span></li>
                            <li><a href="http://jhzr.9game.cn/news/266329.html" title="09月16日12:00安卓新服火爆开启" data-statis="text:gw_list_zxgx_jhzr_266329">
                                09月16日12:00安卓新服火爆开启</a><span class="date">09-15</span></li>
                            <li><a href="http://jhzr.9game.cn/news/266171.html" title="剑魂之刃纯金之剑哪里打？" data-statis="text:gw_list_zxgx_jhzr_266171">
                                剑魂之刃纯金之剑哪里打？</a><span class="date">09-15</span></li>
                            <li><a href="http://jhzr.9game.cn/news/266150.html" title="剑魂之刃怎么换角色？" data-statis="text:gw_list_zxgx_jhzr_266150">
                                剑魂之刃怎么换角色？</a><span class="date">09-15</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-con">
            <div class="box down-yure">
                <div class="titile-con">
                    <h1>
                        剑魂之刃官网下载</h1>
                </div>
                <div class="context-con">
                    <div class="des">
                        <span class="img">
                            <img src="http://image.game.uc.cn/2014/9/12/9908590.jpg" alt="剑魂之刃"><i class="radius80"></i></span>
                        手势格斗！一剑破魂！全新格斗模式由你定义！引爆全民格斗新狂潮！ 2014百家媒体联合推荐：年度最值得收藏的街机格斗手游 <span class="more">[详情]
                            <div class="tips">
                                <span class="cor"></span>
                                <p>
                                    手势格斗！一剑破魂！全新格斗模式由你定义！引爆全民格斗新狂潮！ 2014百家媒体联合推荐：年度最值得收藏的街机格斗手游！ 以微操作格斗作为核心玩法，以带动全身感官作为体验感受，凭借超真实打击感给予你全方位的战斗娱乐体验。融合现今流行的休闲、Q版等网游元素，打造出独特的无限连击、粒子特效等诸多视觉系、功能系猛料，给予你眼、手、心三重最极致的娱乐享受！
                                    ★无与伦比的快感★ 创新型手控操作模式。 强化战斗连击自由度。 日韩系画质，演绎最梦幻技能连击特效。 ★满园春色的诱惑★ 软妹御姐：日韩式动漫视觉 降服御姐 推倒萝莉。
                                    自由：360度全方位移动 AOE无锁定目标选取。 时装：性感可爱帅气，数十套时装总有一款适合你！ ★流线型法拉利的体验★ MMOACT：搓招闯关 即时格斗 全智能动作版街机格斗手游。
                                    生存副本：一夫当关 万夫莫开 体验以一敌众的“割草”快感。 精英讨伐：全新Boss战 单兵突袭与组团征伐 随心所欲。 劲爆视觉系，酷爽功能系，还想来点别的？期待你来加入接受剑魂世界的洗礼。
                                </p>
                            </div>
                        </span>
                    </div>
                    <ul class="info">
                        <li><span class="type">类型</span>角色</li>
                        <li><span class="type">平台</span>安卓</li>
                        <li class="long">安卓版&nbsp;<span class="org">09-19</span><span class="org">12:00</span>&nbsp;新服</li>
                    </ul>
                    <div class="btn-con">
                        <span class="btn green code-show-yr">游戏下载</span> <a href="http://ka.9game.cn/game/537595_-5_1.html"
                            class="btn red" data-statis="text:gw_list_yxxz_jhzr_lqlb">领取礼包</a>
                    </div>
                    <div class="server">
                        010-85070333</div>
                </div>
            </div>
            <div class="box rank side-ctrl">
                <div class="titile-con">
                    <h2>
                        游戏攻略</h2>
                </div>
                <div class="context-con">
                    <ul class="inside-tag">
                        <li class="current">新手<span class="cor"></span></li>
                        <li class="last">老玩家<span class="cor"></span></li>
                    </ul>
                    <div class="contain">
                        <ul class="news-list current">
                            <li><a href="http://jhzr.9game.cn/news/261628.html" title="剑魂之刃性格搭配角色攻略" data-statis="text:gw_list_yxgl_xs_jhzr_261628">
                                剑魂之刃性格搭配角色攻略</a></li>
                            <li><a href="http://jhzr.9game.cn/news/251784.html" title="施主放下屠刀吧 剑魂之刃宠物放生攻略" data-statis="text:gw_list_yxgl_xs_jhzr_251784">
                                施主放下屠刀吧 剑魂之刃宠物放生攻略</a></li>
                            <li><a href="http://jhzr.9game.cn/news/231883.html" title="剑魂之刃新手快速升级攻略" data-statis="text:gw_list_yxgl_xs_jhzr_231883">
                                剑魂之刃新手快速升级攻略</a></li>
                            <li><a href="http://jhzr.9game.cn/news/230415.html" title="剑魂之刃新手攻略 新手职业完美搭配" data-statis="text:gw_list_yxgl_xs_jhzr_230415">
                                剑魂之刃新手攻略 新手职业完美搭配</a></li>
                            <li><a href="http://jhzr.9game.cn/news/229877.html" title="剑魂之刃装备攻略 剑魂之刃新手攻略" data-statis="text:gw_list_yxgl_xs_jhzr_229877">
                                剑魂之刃装备攻略 剑魂之刃新手攻略</a></li>
                        </ul>
                        <ul class="news-list">
                            <li><a href="http://jhzr.9game.cn/news/266738.html" title="剑魂之刃新版本VIP特权一览 尽显大R风范"
                                data-statis="text:gw_list_yxgl_lwj_jhzr_266738">剑魂之刃新版本VIP特权一览 尽显大R风范</a></li>
                            <li><a href="http://jhzr.9game.cn/news/265168.html" title="剑魂之刃新版本公会争霸详解 公会战来袭" data-statis="text:gw_list_yxgl_lwj_jhzr_265168">
                                剑魂之刃新版本公会争霸详解 公会战来袭</a></li>
                            <li><a href="http://jhzr.9game.cn/news/265134.html" title="剑魂之刃宠物攻略 天赋装备系统全解析" data-statis="text:gw_list_yxgl_lwj_jhzr_265134">
                                剑魂之刃宠物攻略 天赋装备系统全解析</a></li>
                            <li><a href="http://jhzr.9game.cn/news/264691.html" title="剑魂之刃9.11日19点开测公会争霸全面来袭"
                                data-statis="text:gw_list_yxgl_lwj_jhzr_264691">剑魂之刃9.11日19点开测公会争霸全面来袭</a></li>
                            <li><a href="http://jhzr.9game.cn/news/264458.html" title="剑魂之刃9月11日新版本 1V1格斗震撼上线"
                                data-statis="text:gw_list_yxgl_lwj_jhzr_264458">剑魂之刃9月11日新版本 1V1格斗震撼上线</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box right-gift marbtm10">
                <div class="titile-con">
                    <h2>
                        游戏礼包</h2>
                </div>
                <div class="context-con">
                    <ul class="right-gift-detail">
                        <li><span class="num num1">1</span><p class="name">
                            <a href="http://ka.9game.cn/personal/1410775535395892296.html">[剑魂之刃]105服特权礼包</a></p>
                            <a href="http://ka.9game.cn/personal/1410775535395892296.html" class="fun ling">领</a></li>
                        <li><span class="num num2">2</span><p class="name">
                            <a href="http://ka.9game.cn/personal/1410775518763613053.html">[剑魂之刃]105服公会礼包</a></p>
                            <a href="http://ka.9game.cn/personal/1410775518763613053.html" class="fun ling">领</a></li>
                        <li><span class="num num3">3</span><p class="name">
                            <a href="http://ka.9game.cn/personal/1410775491763610018.html">[剑魂之刃]105服个人礼包</a></p>
                            <a href="http://ka.9game.cn/personal/1410775491763610018.html" class="fun ling">领</a></li>
                        <li><span class="num">4</span><p class="name">
                            <a href="http://ka.9game.cn/personal/1410775445763608717.html">[剑魂之刃]104服公会礼包</a></p>
                            <a href="http://ka.9game.cn/personal/1410775445763608717.html" class="fun tao">淘</a></li>
                        <li><span class="num">5</span><p class="name">
                            <a href="http://ka.9game.cn/personal/1410760718763222093.html">[剑魂之刃]103服公会礼包</a></p>
                            <a href="http://ka.9game.cn/personal/1410760718763222093.html" class="fun tao">淘</a></li>
                    </ul>
                </div>
            </div>
            <div class="box right-server marbtm10">
                <div class="titile-con">
                    <h2>
                        开服信息</h2>
                </div>
                <div class="context-con">
                    <table>
                        <tbody>
                            <tr>
                                <th class="name">
                                    服务器名称
                                </th>
                                <th>
                                    时间
                                </th>
                            </tr>
                            <tr>
                                <td class="name">
                                    剑魂105服
                                </td>
                                <td>
                                    今天
                                </td>
                            </tr>
                            <tr>
                                <td class="name">
                                    剑魂106服
                                </td>
                                <td>
                                    09-19
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="right-news-con marbtm10">
                <ul class="tag-title">
                    <li class="current">热门推荐</li>
                    <li class="last">最新资讯</li>
                </ul>
                <div class="context-con">
                    <ul class="news-list current">
                        <li><a href="http://www.9game.cn/news/252457.html" data-statis="text:gw_list_hot_252457"
                            title="刀塔传奇猴子怎么样？猴子值得培养吗？">刀塔传奇猴子怎么样？猴子值得培养吗？</a></li>
                        <li><a href="http://www.9game.cn/news/267046.html" data-statis="text:gw_list_hot_267046"
                            title="人在囧图（93）：交警车震人妻被抓奸裸殴">人在囧图（93）：交警车震人妻被抓奸裸殴</a></li>
                        <li><a href="http://dtcq.9game.cn/news/188230.html" data-statis="text:gw_list_hot_535733_188230"
                            title="《刀塔传奇》兑换码领取小技巧">《刀塔传奇》兑换码领取小技巧</a></li>
                        <li><a href="http://ttkp.9game.cn/news/232176.html" data-statis="text:gw_list_hot_519910_232176"
                            title="天天酷跑积分抽奖小技巧 永久人物坐骑任你拿">天天酷跑积分抽奖小技巧 永久人物坐骑任你拿</a></li>
                        <li><a href="http://www.9game.cn/news/264964.html" data-statis="text:gw_list_hot_264964"
                            title="娇艳御姐傲人胸围深不可测">娇艳御姐傲人胸围深不可测</a></li>
                        <li><a href="http://www.9game.cn/news/263980.html" data-statis="text:gw_list_hot_263980"
                            title="清纯妹子露脐T恤诱惑宅男">清纯妹子露脐T恤诱惑宅男</a></li>
                        <li><a href="http://www.9game.cn/hdqb/252373.html" data-statis="text:gw_list_hot_539038_252373"
                            title="玩《海岛奇兵》邀你欧洲双人游">玩《海岛奇兵》邀你欧洲双人游</a></li>
                        <li><a href="http://www.9game.cn/kbzsjq/264923.html" data-statis="text:gw_list_hot_543469_264923"
                            title="《魁拔3》同名手游《魁拔：战神崛起》十月即将上架">《魁拔3》同名手游《魁拔：战神崛起》十月即将上架</a></li>
                        <li><a href="http://www.9game.cn/zgmh/263614.html" data-statis="text:gw_list_hot_540335_263614"
                            title="主公莫慌礼包领取！让主公们领先在起跑线！">主公莫慌礼包领取！让主公们领先在起跑线！</a></li>
                        <li><a href="http://www.9game.cn/news/266325.html" data-statis="text:gw_list_hot_266325"
                            title="人在囧图(92):王全安嫖娼，监狱风云添新人">人在囧图(92):王全安嫖娼，监狱风云添新人</a></li>
                    </ul>
                    <ul class="news-list">
                        <li><a href="http://ydl.9game.cn/news/266342.html" data-statis="text:gw_list_new_536930_266342"
                            title="09月18日18:00安卓新服火爆开启">09月18日18:00安卓新服火爆开启</a></li>
                        <li><a href="http://www.9game.cn/zjh/266644.html" data-statis="text:gw_list_new_2103_266644"
                            title="​《醉江湖ol》千机送豪礼">《醉江湖ol》千机送豪礼</a></li>
                        <li><a href="http://jw2.9game.cn/news/266586.html" data-statis="text:gw_list_new_501020_266586"
                            title="《君王2》新服1区27服9.19粉墨登场！">《君王2》新服1区27服9.19粉墨登场！</a></li>
                        <li><a href="http://www.9game.cn/wzzy/266009.html" data-statis="text:gw_list_new_515171_266009"
                            title="《王者之域》9月16日9时109服开服送豪礼">《王者之域》9月16日9时109服开服送豪礼</a></li>
                        <li><a href="http://www.9game.cn/jiuxian/267942.html" data-statis="text:gw_list_new_506592_267942"
                            title="玩家眼中的《九游传奇》：我是小小评判家">玩家眼中的《九游传奇》：我是小小评判家</a></li>
                        <li><a href="http://jw2.9game.cn/news/265874.html" data-statis="text:gw_list_new_501020_265874"
                            title="欧美范日韩风激情碰撞《君王2》">欧美范日韩风激情碰撞《君王2》</a></li>
                        <li><a href="http://www.9game.cn/kkams/268279.html" data-statis="text:gw_list_new_540519_268279"
                            title="酷酷爱魔兽电脑版下载地址">酷酷爱魔兽电脑版下载地址</a></li>
                        <li><a href="http://www.9game.cn/sanguozhiren/268278.html" data-statis="text:gw_list_new_542184_268278"
                            title="三国之刃名将卡牌收集攻略 战名将得卡牌">三国之刃名将卡牌收集攻略 战名将得卡牌</a></li>
                        <li><a href="http://sdxl.9game.cn/news/267626.html" data-statis="text:gw_list_new_504480_267626"
                            title="《神雕侠侣》9月18日更新维护公告">《神雕侠侣》9月18日更新维护公告</a></li>
                        <li><a href="http://sq.9game.cn/news/268234.html" data-statis="text:gw_list_new_522361_268234"
                            title="《新神曲》D111复仇之杖9月18日10时开启">《新神曲》D111复仇之杖9月18日10时开启</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="box contain game-detail">
    </div>

</div>
