@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

	<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/public/pc_public.css">
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/newgame/new_index/new_index.css">

<div class="main-con">
		<div class="page-break">
			<a href="http://www.w3wgame.com/" data-statis="text:txt_newgame_mbx_po-1_other-index">首页</a> &gt;<span>新游频道</span>
		</div>
		<div class="box top-game-recom">
    <h2 class="title">新游推荐</h2>
    <div class="right-recom">
        <div class="up-side">
            <div class="today-game">
                <p class="des">今日<span class="org">13</span>款游戏开测</p>
                <a href="http://www.w3wgame.com/kc/" class="more" title="看看最近有什么游戏开测">看看最近有什么游戏开测</a>
            </div>
            <div class="top-recom">
                			<a href="http://www.w3wgame.com/ahlm/" class="top-link org" title="暗黑黎明" name="uc_gd_adm" gd_stat="136_12882" data-statis="text:txt_newgame_xytj_po-1_game-542349_gds_136_12882">暗黑黎明</a>
                			<a href="http://www.w3wgame.com/hycshd/" class="top-link" title="黑夜传说HD" name="uc_gd_adm" gd_stat="136_12881" data-statis="text:txt_newgame_xytj_po-2_game-544116_gds_136_12881">黑夜传说HD</a>
                			<a href="http://www.w3wgame.com/xcqzj/" class="top-link" title="新苍穹之剑" name="uc_gd_adm" gd_stat="136_12880" data-statis="text:txt_newgame_xytj_po-3_game-544854_gds_136_12880">新苍穹之剑</a>
                			<a href="http://www.w3wgame.com/xyst/" class="top-link" title="西游圣徒" name="uc_gd_adm" gd_stat="136_12554" data-statis="text:txt_newgame_xytj_po-4_game-542695_gds_136_12554">西游圣徒</a>
                			<a href="http://www.w3wgame.com/hr/" class="top-link org" title="红刃" name="uc_gd_adm" gd_stat="136_12552" data-statis="text:txt_newgame_xytj_po-5_game-538357_gds_136_12552">红刃</a>
                			<a href="http://www.w3wgame.com/douhun/" class="top-link" title="斗魂" name="uc_gd_adm" gd_stat="136_12329" data-statis="text:txt_newgame_xytj_po-6_game-543963_gds_136_12329">斗魂</a>
                			<a href="http://www.w3wgame.com/dixiachengchuanshuo/" class="top-link" title="地下城传说" name="uc_gd_adm" gd_stat="136_12327" data-statis="text:txt_newgame_xytj_po-7_game-543238_gds_136_12327">地下城传说</a>
                			<a href="http://www.w3wgame.com/cwxjlydb/" class="top-link" title="宠物小精灵" name="uc_gd_adm" gd_stat="136_12172" data-statis="text:txt_newgame_xytj_po-8_game-543618_gds_136_12172">宠物小精灵</a>
                			<a href="http://www.w3wgame.com/dhll/" class="top-link org" title="大话来了" name="uc_gd_adm" gd_stat="136_12168" data-statis="text:txt_newgame_xytj_po-9_game-540807_gds_136_12168">大话来了</a>
                			<a href="http://hdzl.w3wgame.com/" class="top-link" title="混沌之理" name="uc_gd_adm" gd_stat="136_11952" data-statis="text:txt_newgame_xytj_po-10_game-538161_gds_136_11952">混沌之理</a>
                			<a href="http://www.w3wgame.com/dhhsd5/" class="top-link" title="大航海时代5" name="uc_gd_adm" gd_stat="136_11951" data-statis="text:txt_newgame_xytj_po-11_game-542185_gds_136_11951">大航海时代5</a>
                			<a href="http://www.w3wgame.com/htn/" class="top-link" title="毁童年" name="uc_gd_adm" gd_stat="136_11947" data-statis="text:txt_newgame_xytj_po-12_game-544409_gds_136_11947">毁童年</a>
                			<a href="http://www.w3wgame.com/hdqb/" class="top-link org" title="海岛奇兵" name="uc_gd_adm" gd_stat="136_11093" data-statis="text:txt_newgame_xytj_po-13_game-539038_gds_136_11093">海岛奇兵</a>
                			<a href="http://www.w3wgame.com/qfc/" class="top-link" title="天龙八部3D" name="uc_gd_adm" gd_stat="136_10351" data-statis="text:txt_newgame_xytj_po-14_game-542441_gds_136_10351">天龙八部3D</a>
                			<a href="http://txhd.w3wgame.com/" class="top-link" title="天下HD" name="uc_gd_adm" gd_stat="136_9343" data-statis="text:txt_newgame_xytj_po-15_game-535356_gds_136_9343">天下HD</a>
                			<a href="http://www.w3wgame.com/sj2/" class="top-link" title="世界2" name="uc_gd_adm" gd_stat="136_9342" data-statis="text:txt_newgame_xytj_po-16_game-542696_gds_136_9342">世界2</a>
                			<a href="http://www.w3wgame.com/lyjl/" class="top-link org" title="龙与精灵" name="uc_gd_adm" gd_stat="136_8309" data-statis="text:txt_newgame_xytj_po-17_game-538327_gds_136_8309">龙与精灵</a>
                			<a href="http://jw3.w3wgame.com/" class="top-link" title="君王3" name="uc_gd_adm" gd_stat="136_6711" data-statis="text:txt_newgame_xytj_po-18_game-537600_gds_136_6711">君王3</a>
                			<a href="http://gx.w3wgame.com/" class="top-link" title="笑傲江湖" name="uc_gd_adm" gd_stat="136_5042" data-statis="text:txt_newgame_xytj_po-19_game-538989_gds_136_5042">笑傲江湖</a>
                			<a href="http://whcl.w3wgame.com/" class="top-link" title="卧虎藏龙" name="uc_gd_adm" gd_stat="136_2664" data-statis="text:txt_newgame_xytj_po-20_game-536434_gds_136_2664">卧虎藏龙</a>
            </div>
        </div>
        <ul class="down-side">
            				<li>
                				<a href="http://www.w3wgame.com/bdwsw/" class="link" title="暴打魏蜀吴" name="uc_gd_adm" gd_stat="137_12876" data-statis="text:logo_newgame_xytj_po-1_game-544623_gds_137_12876">
                   					<div class="img">
                        				<img src="http://image.game.uc.cn/2014/9/2/9889472.png" class="" alt="暴打魏蜀吴" style="opacity: 0.94;">
                       		 			<span class="radius60"></span>
                    				</div>
                    				<div class="right">
                        				<h3 class="name">暴打魏蜀吴</h3>
                        				<p class="des">策略</p>
                    				</div>
                				</a>
            				</li>
            				<li>
                				<a href="http://www.w3wgame.com/kdyh/" class="link" title="口袋银魂" name="uc_gd_adm" gd_stat="137_12166" data-statis="text:logo_newgame_xytj_po-2_game-541846_gds_137_12166">
                   					<div class="img">
                        				<img src="http://image.game.uc.cn/2014/9/16/9916155.png" class="" alt="口袋银魂" style="opacity: 0.94;">
                       		 			<span class="radius60"></span>
                    				</div>
                    				<div class="right">
                        				<h3 class="name">口袋银魂</h3>
                        				<p class="des">角色</p>
                    				</div>
                				</a>
            				</li>
            				<li>
                				<a href="http://www.w3wgame.com/gdbb/" class="link" title="格斗宝贝" name="uc_gd_adm" gd_stat="137_11097" data-statis="text:logo_newgame_xytj_po-3_game-543851_gds_137_11097">
                   					<div class="img">
                        				<img src="http://image.game.uc.cn/2014/9/4/9896921.png" class="" alt="格斗宝贝" style="opacity: 0.94;">
                       		 			<span class="radius60"></span>
                    				</div>
                    				<div class="right">
                        				<h3 class="name">格斗宝贝</h3>
                        				<p class="des">角色</p>
                    				</div>
                				</a>
            				</li>
            				<li>
                				<a href="http://www.w3wgame.com/bbzs/" class="link" title="不败战神" name="uc_gd_adm" gd_stat="137_10899" data-statis="text:logo_newgame_xytj_po-4_game-538597_gds_137_10899">
                   					<div class="img">
                        				<img src="http://image.game.uc.cn/2014/9/16/9914051.png" class="" alt="不败战神" style="opacity: 0.94;">
                       		 			<span class="radius60"></span>
                    				</div>
                    				<div class="right">
                        				<h3 class="name">不败战神</h3>
                        				<p class="des">角色</p>
                    				</div>
                				</a>
            				</li>
            				<li>
                				<a href="http://touch.w3wgame.com/" class="link" title="TOUCH舞动全城" name="uc_gd_adm" gd_stat="137_9195" data-statis="text:logo_newgame_xytj_po-5_game-533758_gds_137_9195">
                   					<div class="img">
                        				<img src="http://image.game.uc.cn/2014/7/25/9819171.jpg" class="" alt="TOUCH舞动全城" style="opacity: 0.94;">
                       		 			<span class="radius60"></span>
                    				</div>
                    				<div class="right">
                        				<h3 class="name">TOUCH舞动全城</h3>
                        				<p class="des">音乐</p>
                    				</div>
                				</a>
            				</li>
            				<li class="last">
                				<a href="http://yxcs.w3wgame.com/" class="link" title="英雄之剑" name="uc_gd_adm" gd_stat="137_5672" data-statis="text:logo_newgame_xytj_po-6_game-537811_gds_137_5672">
                   					<div class="img">
                        				<img src="http://image.game.uc.cn/2014/8/1/9830738.jpg" class="" alt="英雄之剑" style="opacity: 0.94;">
                       		 			<span class="radius60"></span>
                    				</div>
                    				<div class="right">
                        				<h3 class="name">英雄之剑</h3>
                        				<p class="des">角色</p>
                    				</div>
                				</a>
            				</li>
        </ul>
    </div>
</div>
		<div class="box ol-popul">
		<div class="focus-con">
			<div class="focus-img-con">
				<ul class="focus-img" x-now-data="1">
						<li class="current" style="display: none;">
							<a href="http://yxcs.w3wgame.com/news/267206.html" title="英雄之剑删档公会争霸赛 万元大奖双倍拿" data-statis="text:logo_newgame_jdt_po-1_news-267206">
								<img src="http://image.game.uc.cn/2014/9/17/9918081.jpg" alt="英雄之剑删档公会争霸赛 万元大奖双倍拿">
								<p class="text">英雄之剑删档公会争霸赛 万元大奖双倍拿</p>
							</a>
						</li>
						<li class="" style="display: list-item;">
							<a href="http://www.w3wgame.com/bdwsw/267330.html" title="w3w游戏首发 暴打魏蜀吴9月18日11:00删档封测" data-statis="text:logo_newgame_jdt_po-2_news-267330">
								<img src="http://image.game.uc.cn/2014/9/17/9918079.jpg" alt="w3w游戏首发 暴打魏蜀吴9月18日11:00删档封测">
								<p class="text">w3w游戏首发 暴打魏蜀吴9月18日11:00删档封测</p>
							</a>
						</li>
						<li class="">
							<a href="http://hdzl.w3wgame.com/news/267069.html" title="手游娱乐播报06：爱情动作宣传片遇上手游?" data-statis="text:logo_newgame_jdt_po-3_news-267069">
								<img src="http://image.game.uc.cn/2014/9/17/9917193.jpg" alt="手游娱乐播报06：爱情动作宣传片遇上手游?">
								<p class="text">手游娱乐播报06：爱情动作宣传片遇上手游?</p>
							</a>
						</li>
						<li class="">
							<a href="http://www.w3wgame.com/dhll/266911.html" title="大话来了9月17日首测 职业投票送充值卡" data-statis="text:logo_newgame_jdt_po-4_news-266911">
								<img src="http://image.game.uc.cn/2014/9/17/9917135.jpg" alt="大话来了9月17日首测 职业投票送充值卡">
								<p class="text">大话来了9月17日首测 职业投票送充值卡</p>
							</a>
						</li>
						<li class="">
							<a href="http://touch.w3wgame.com/news/266642.html" title="TOUCH舞动全城17日11时公测 丰厚大礼等着你" data-statis="text:logo_newgame_jdt_po-5_news-266642">
								<img src="http://image.game.uc.cn/2014/9/16/9913957.jpg" alt="TOUCH舞动全城17日11时公测 丰厚大礼等着你">
								<p class="text">TOUCH舞动全城17日11时公测 丰厚大礼等着你</p>
							</a>
						</li>
						<li class="">
							<a href="http://www.w3wgame.com/kdyh/266640.html" title="首款连载式手游 口袋银魂17日11时不删档内测" data-statis="text:logo_newgame_jdt_po-6_news-266640">
								<img src="http://image.game.uc.cn/2014/9/16/9913951.jpg" alt="首款连载式手游 口袋银魂17日11时不删档内测">
								<p class="text">首款连载式手游 口袋银魂17日11时不删档内测</p>
							</a>
						</li>
						<li class="">
							<a href="http://www.w3wgame.com/news/266355.html" title="手游娱乐播报06：iphone6真机发布，你的肾疼了吗?" data-statis="text:logo_newgame_jdt_po-7_news-266355">
								<img src="http://image.game.uc.cn/2014/9/16/9913945.jpg" alt="手游娱乐播报06：iphone6真机发布，你的肾疼了吗?">
								<p class="text">手游娱乐播报06：iphone6真机发布，你的肾疼了吗?</p>
							</a>
						</li>
						<li class="">
							<a href="http://www.w3wgame.com/news/263909.html" title="网游推荐第12期：《斗魂》开启手游“撸”时代" data-statis="text:logo_newgame_jdt_po-8_news-263909">
								<img src="http://image.game.uc.cn/2014/9/12/9910311.jpg" alt="网游推荐第12期：《斗魂》开启手游“撸”时代">
								<p class="text">网游推荐第12期：《斗魂》开启手游“撸”时代</p>
							</a>
						</li>
						<li class="">
							<a href="http://www.w3wgame.com/tpl/common/special/mt004/index.html" title="每周精品美图第4期" data-statis="text:logo_newgame_jdt_po-9_news-265601">
								<img src="http://image.game.uc.cn/2014/9/12/9910314.jpg" alt="每周精品美图第4期">
								<p class="text">每周精品美图第4期</p>
							</a>
						</li>
						<li class="">
							<a href="http://www.w3wgame.com/qfc/265156.html" title="《手游抢先评》第三期：吞风吻雨葬落日《天龙八部3D》评测视频" data-statis="text:logo_newgame_jdt_po-10_news-265156">
								<img src="http://image.game.uc.cn/2014/9/12/9910279.jpg" alt="《手游抢先评》第三期：吞风吻雨葬落日《天龙八部3D》评测视频">
								<p class="text">《手游抢先评》第三期：吞风吻雨葬落日《天龙八部3D》评测视频</p>
							</a>
						</li>
				</ul>
				<span class="btn prev" style="display: inline;"></span>
				<span class="btn next" style="display: inline;"></span>
			</div>
			<div class="focus-ctrl-con">
				<span class="btn prev"></span>
				<span class="btn next"></span>
				<div class="focus-ctrl">
					<ul style="width: 560px;">
							<li class=""><a href="http://yxcs.w3wgame.com/news/267206.html" title="英雄之剑删档公会争霸赛 万元大奖双倍拿" data-statis="text:logo_newgame_jdt_po-1_news-267206"><img src="http://image.game.uc.cn/2014/9/17/9918081.jpg" alt="英雄之剑删档公会争霸赛 万元大奖双倍拿"></a><span class="meng"></span></li>
							<li class="current"><a href="http://www.w3wgame.com/bdwsw/267330.html" title="w3w游戏首发 暴打魏蜀吴9月18日11:00删档封测" data-statis="text:logo_newgame_jdt_po-2_news-267330"><img src="http://image.game.uc.cn/2014/9/17/9918079.jpg" alt="w3w游戏首发 暴打魏蜀吴9月18日11:00删档封测"></a><span class="meng"></span></li>
							<li class=""><a href="http://hdzl.w3wgame.com/news/267069.html" title="手游娱乐播报06：爱情动作宣传片遇上手游?" data-statis="text:logo_newgame_jdt_po-3_news-267069"><img src="http://image.game.uc.cn/2014/9/17/9917193.jpg" alt="手游娱乐播报06：爱情动作宣传片遇上手游?"></a><span class="meng"></span></li>
							<li class=""><a href="http://www.w3wgame.com/dhll/266911.html" title="大话来了9月17日首测 职业投票送充值卡" data-statis="text:logo_newgame_jdt_po-4_news-266911"><img src="http://image.game.uc.cn/2014/9/17/9917135.jpg" alt="大话来了9月17日首测 职业投票送充值卡"></a><span class="meng"></span></li>
							<li class=""><a href="http://touch.w3wgame.com/news/266642.html" title="TOUCH舞动全城17日11时公测 丰厚大礼等着你" data-statis="text:logo_newgame_jdt_po-5_news-266642"><img src="http://image.game.uc.cn/2014/9/16/9913957.jpg" alt="TOUCH舞动全城17日11时公测 丰厚大礼等着你"></a><span class="meng"></span></li>
							<li class=""><a href="http://www.w3wgame.com/kdyh/266640.html" title="首款连载式手游 口袋银魂17日11时不删档内测" data-statis="text:logo_newgame_jdt_po-6_news-266640"><img src="http://image.game.uc.cn/2014/9/16/9913951.jpg" alt="首款连载式手游 口袋银魂17日11时不删档内测"></a><span class="meng"></span></li>
							<li class=""><a href="http://www.w3wgame.com/news/266355.html" title="手游娱乐播报06：iphone6真机发布，你的肾疼了吗?" data-statis="text:logo_newgame_jdt_po-7_news-266355"><img src="http://image.game.uc.cn/2014/9/16/9913945.jpg" alt="手游娱乐播报06：iphone6真机发布，你的肾疼了吗?"></a><span class="meng"></span></li>
							<li class=""><a href="http://www.w3wgame.com/news/263909.html" title="网游推荐第12期：《斗魂》开启手游“撸”时代" data-statis="text:logo_newgame_jdt_po-8_news-263909"><img src="http://image.game.uc.cn/2014/9/12/9910311.jpg" alt="网游推荐第12期：《斗魂》开启手游“撸”时代"></a><span class="meng"></span></li>
							<li class=""><a href="http://www.w3wgame.com/tpl/common/special/mt004/index.html" title="每周精品美图第4期" data-statis="text:logo_newgame_jdt_po-9_news-265601"><img src="http://image.game.uc.cn/2014/9/12/9910314.jpg" alt="每周精品美图第4期"></a><span class="meng"></span></li>
							<li class=""><a href="http://www.w3wgame.com/qfc/265156.html" title="《手游抢先评》第三期：吞风吻雨葬落日《天龙八部3D》评测视频" data-statis="text:logo_newgame_jdt_po-10_news-265156"><img src="http://image.game.uc.cn/2014/9/12/9910279.jpg" alt="《手游抢先评》第三期：吞风吻雨葬落日《天龙八部3D》评测视频"></a><span class="meng"></span></li>
					</ul>
				</div>
			</div>
		</div>
			<div class="ol-hotnews-con">
	<div class="box-title">
		<h2><a href="http://www.w3wgame.com/news/14_1/" title="头条新闻" data-statis="text:txt_newgame_toutiao_po-1_other-more">头条新闻</a></h2>
		<a href="http://www.w3wgame.com/news/14_1/" class="more" data-statis="text:txt_newgame_toutiao_po-1_other-more" title="更多">更多</a>
	</div>
   <div class="box-text">
		<div class="text-con current">
			<div class="new-tit-con">
					<h3 class="new-tit"><a href="http://www.w3wgame.com/xuanyuanjianol/267577.html" title="《轩辕剑》手游版权畅游收归 首款年内上线" data-statis="text:txt_newgame_toutiao17_po-1_news-267577">《轩辕剑》手游版权畅游收归 首款年内上线</a></h3>
					<div class="side-new">
							<a href="http://www.w3wgame.com/cftg/267716.html" title="梦想手游6款新作亮相" data-statis="text:txt_newgame_toutiao28_po-1_news-267716">梦想手游6款新作亮相</a>
							<a href="http://www.w3wgame.com/zzhxsjzw/267382.html" title="《世界之文》试玩首曝" data-statis="text:txt_newgame_toutiao28_po-2_news-267382">《世界之文》试玩首曝</a>
					</div>
			</div>
			<div class="new-tit-con">
					<h3 class="new-tit"><a href="http://www.w3wgame.com/news/266785.html" title="每日游戏一刻(88)：王全安嫖娼接拍监狱风云" data-statis="text:txt_newgame_toutiao18_po-1_news-266785">每日游戏一刻(88)：王全安嫖娼接拍监狱风云</a></h3>
					<div class="side-new">
							<a href="http://www.w3wgame.com/nushenlianmeng/267406.html" title="《女神联盟》26日首测" data-statis="text:txt_newgame_toutiao29_po-1_news-267406">《女神联盟》26日首测</a>
							<a href="http://www.w3wgame.com/cj1/267356.html" title="《虫姬》 提前登记开启" data-statis="text:txt_newgame_toutiao29_po-2_news-267356">《虫姬》 提前登记开启</a>
					</div>
			</div>
					<ul class="hotnews-list">
							<li>
								<a href="http://sjh.w3wgame.com/news/267394.html" class="type" data-statis="text:txt_newgame_toutiao19_po-1_news-267394" title="新闻">新闻</a>
								<a href="http://sjh.w3wgame.com/news/267394.html" class="link" data-statis="text:txt_newgame_toutiao19_po-1_news-267394" title="《三剑豪》新版本“决战前夕”即将开启">《三剑豪》新版本“决战前夕”即将开启</a>
								<span class="date">09-17</span>
							</li>
							<li>
								<a href="http://www.w3wgame.com/dhs1/267405.html" class="type" data-statis="text:txt_newgame_toutiao19_po-2_news-267405" title="新闻">新闻</a>
								<a href="http://www.w3wgame.com/dhs1/267405.html" class="link" data-statis="text:txt_newgame_toutiao19_po-2_news-267405" title="宅男杀手王明明演绎《圣火英雄传》">宅男杀手王明明演绎《圣火英雄传》</a>
								<span class="date">09-17</span>
							</li>
							<li>
								<a href="http://www.w3wgame.com/zqhx/267390.html" class="type" data-statis="text:txt_newgame_toutiao19_po-3_news-267390" title="新闻">新闻</a>
								<a href="http://www.w3wgame.com/zqhx/267390.html" class="link" data-statis="text:txt_newgame_toutiao19_po-3_news-267390" title="陆行鸟VS巴哈姆特!《最Q幻想》宠物系统介绍">陆行鸟VS巴哈姆特!《最Q幻想》宠物系统介绍</a>
								<span class="date">09-17</span>
							</li>
							<li>
								<a href="http://xzh.w3wgame.com/news/267429.html" class="type" data-statis="text:txt_newgame_toutiao19_po-4_news-267429" title="新闻">新闻</a>
								<a href="http://xzh.w3wgame.com/news/267429.html" class="link" data-statis="text:txt_newgame_toutiao19_po-4_news-267429" title="《仙之痕》打造修仙2.0时代新版本即将登场">《仙之痕》打造修仙2.0时代新版本即将登场</a>
								<span class="date">09-17</span>
							</li>
							<li>
								<a href="http://www.w3wgame.com/hycshd/267430.html" class="type" data-statis="text:txt_newgame_toutiao19_po-5_news-267430" title="新闻">新闻</a>
								<a href="http://www.w3wgame.com/hycshd/267430.html" class="link" data-statis="text:txt_newgame_toutiao19_po-5_news-267430" title="《黑夜传说》17日首测 3D动作手游来袭">《黑夜传说》17日首测 3D动作手游来袭</a>
								<span class="date">09-17</span>
							</li>
							<li>
								<a href="http://www.w3wgame.com/llwonline/267447.html" class="type" data-statis="text:txt_newgame_toutiao19_po-6_news-267447" title="新闻">新闻</a>
								<a href="http://www.w3wgame.com/llwonline/267447.html" class="link" data-statis="text:txt_newgame_toutiao19_po-6_news-267447" title="动作手游《兰陵王》 被历史掩盖的真相">动作手游《兰陵王》 被历史掩盖的真相</a>
								<span class="date">09-17</span>
							</li>
					</ul>
		</div>	
	</div>		
</div>
		</div>
		<div class="box mar-box">
		<div class="baoliao-con">
			<div class="box-title">
				<h2><a href="http://www.w3wgame.com/baoliao/" title="新游爆料" data-statis="text:txt_newgame_xybl_po-1_other-more">新游爆料</a></h2>
				<a href="http://www.w3wgame.com/baoliao/" class="more" title="更多爆料" data-statis="text:txt_newgame_xybl_po-1_other-more">更多爆料</a>
			</div>
			<div class="box-text">
				<ul class="baoliao-list">
						<li>
							<div class="img"><a href="http://www.w3wgame.com/santi/267784.html" title="科幻迷颤抖起来 《三体》科幻小说即将改编成手游" data-statis="text:logo_newgame_xybl_po-1_news-267784"><img src="http://image.game.uc.cn/2014/9/17/9918500.jpg" class="" alt="科幻迷颤抖起来 《三体》科幻小说即将改编成手游" style="opacity: 0.94;"></a></div>
							<div class="des">
								<h3 class="tit"><a href="http://www.w3wgame.com/santi/267784.html" title="科幻迷颤抖起来 《三体》科幻小说即将改编成手游" data-statis="text:txt_newgame_xybl_po-1_news-267784">科幻迷颤抖起来 《三体》科幻小说即将改编成手游</a><span class="pic"></span></h3>
								<p class="text">科幻迷们相信都有读过著名的科幻小说《三体》，而近日官方证实该作即将被改编成为手游，计划以《三体》为背景推出5-6款手游，而同时会将...</p>
								<span class="time">09-17 18:09</span>
							</div>
						</li>
						<li>
							<div class="img"><a href="http://www.w3wgame.com/cftg/267716.html" title="6款新游亮相梦想手游发布会 美漫风作主打" data-statis="text:logo_newgame_xybl_po-2_news-267716"><img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/8/20/9866881.png" alt="6款新游亮相梦想手游发布会 美漫风作主打"></a></div>
							<div class="des">
								<h3 class="tit"><a href="http://www.w3wgame.com/cftg/267716.html" title="6款新游亮相梦想手游发布会 美漫风作主打" data-statis="text:txt_newgame_xybl_po-2_news-267716">6款新游亮相梦想手游发布会 美漫风作主打</a><span class="video"></span></h3>
								<p class="text">近日梦想手游在广州琶醍举办了手游新品发布会，且在会上亮相了下半年的6款重点手游产品，其中包括：《风暴传说》、《超凡特工》、《银河争...</p>
								<span class="time">09-17 17:00</span>
							</div>
						</li>
						<li>
							<div class="img"><a href="http://www.w3wgame.com/xuanyuanjianol/267577.html" title="《轩辕剑》手游版权畅游全数收归 首款年内上线" data-statis="text:logo_newgame_xybl_po-3_news-267577"><img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/1/9888680.jpg" alt="《轩辕剑》手游版权畅游全数收归 首款年内上线"></a></div>
							<div class="des">
								<h3 class="tit"><a href="http://www.w3wgame.com/xuanyuanjianol/267577.html" title="《轩辕剑》手游版权畅游全数收归 首款年内上线" data-statis="text:txt_newgame_xybl_po-3_news-267577">《轩辕剑》手游版权畅游全数收归 首款年内上线</a><span class="pic"></span></h3>
								<p class="text">霸道总裁畅游，之前将轩辕剑的也有承包了，这次再度宣布和大宇达成战略合作，将独占《轩辕剑》系列在大陆地区的手游改编权，而首款《轩辕剑...</p>
								<span class="time">09-17 15:10</span>
							</div>
						</li>
						<li>
							<div class="img"><a href="http://www.w3wgame.com/dmla/267567.html" title="《德玛撸吖》强势亮相，撸出游戏新世代！" data-statis="text:logo_newgame_xybl_po-4_news-267567"><img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/8/4/9836564.jpg" alt="《德玛撸吖》强势亮相，撸出游戏新世代！"></a></div>
							<div class="des">
								<h3 class="tit"><a href="http://www.w3wgame.com/dmla/267567.html" title="《德玛撸吖》强势亮相，撸出游戏新世代！" data-statis="text:txt_newgame_xybl_po-4_news-267567">《德玛撸吖》强势亮相，撸出游戏新世代！</a><span class="pic"></span></h3>
								<p class="text">w3w游戏消息 ：欢乐之旅最新力作《德玛撸吖》耗时1年研发打磨，将在广州TFC展会绚丽登场。作为欢乐之旅今年下半年首款曝光产品，在火爆的...</p>
								<span class="time">09-17 15:04</span>
							</div>
						</li>
				</ul>
			</div>
		</div>
		<div class="open-test hope-test">
				<div class="box-title">
					<h2><a href="http://www.w3wgame.com/xyqdb/" title="新游期待榜" data-statis="text:txt_newgame_xyqd_po-1_other-more">新游期待榜</a></h2>
					<a href="http://www.w3wgame.com/xyqdb/" title="更多上榜游戏" class="more" data-statis="text:txt_newgame_xyqd_po-1_other-more">更多上榜游戏</a>
				</div>
				<div class="box-text">
					<table class="current">
						<tbody><tr>
							<th class="time">排名</th>
							<th class="name">网游</th>
							<th class="type">分类</th>
							<th class="static">状态</th>
							<th class="hottr">期待值</th>
						</tr>
								<tr class="">
									<td class="num num1"><span class="n">1</span></td>
									<td class="name">
										<a href="/dwsg2/" class="name" title="帝王三国2" data-statis="text:txt_newgame_xyqd_po-1_game-543059">帝王三国2</a>
												<a href="/dwsg2/" class="act" title="帝王三国2" data-statis="text:txt_newgame_xyqd_po-1_game-543059">激活</a>
									</td>
									<td class="type">策略</td>
									<td class="static">
                                           <span class="p">删档封测</span>
									</td>
									<td class="hot"><span class="mid">79678</span></td>
								</tr>
								<tr class="">
									<td class="num num2"><span class="n">2</span></td>
									<td class="name">
										<a href="/whcl/" class="name" title="卧虎藏龙" data-statis="text:txt_newgame_xyqd_po-2_game-536434">卧虎藏龙</a>
									</td>
									<td class="type">角色</td>
									<td class="static">
											<span class="p2">删档封测</span><span class="p2">09-24</span>
									</td>
									<td class="hot"><span class="mid">78199</span></td>
								</tr>
								<tr class="">
									<td class="num num3"><span class="n">3</span></td>
									<td class="name">
										<a href="/ts/" class="name" title="天煞" data-statis="text:txt_newgame_xyqd_po-3_game-539252">天煞</a>
												<a href="/ts/" class="act" title="天煞" data-statis="text:txt_newgame_xyqd_po-3_game-539252">激活</a>
									</td>
									<td class="type">角色</td>
									<td class="static">
                                           <span class="p">删档封测</span>
									</td>
									<td class="hot"><span class="up">72860</span></td>
								</tr>
								<tr class="">
									<td class="num "><span class="n">4</span></td>
									<td class="name">
										<a href="/qjsjb/" class="name" title="全民奇迹" data-statis="text:txt_newgame_xyqd_po-4_game-538239">全民奇迹</a>
									</td>
									<td class="type">角色</td>
									<td class="static">
                                           <span class="p">即将测试</span>
									</td>
									<td class="hot"><span class="low">72691</span></td>
								</tr>
								<tr class="">
									<td class="num "><span class="n">5</span></td>
									<td class="name">
										<a href="/dhll/" class="name" title="大话来了" data-statis="text:txt_newgame_xyqd_po-5_game-540807">大话来了</a>
												<a href="/dhll/" class="act" title="大话来了" data-statis="text:txt_newgame_xyqd_po-5_game-540807">激活</a>
									</td>
									<td class="type">角色</td>
									<td class="static">
                                           <span class="p">删档内测</span>
									</td>
									<td class="hot"><span class="up">72625</span></td>
								</tr>
								<tr class="">
									<td class="num "><span class="n">6</span></td>
									<td class="name">
										<a href="/txhd/" class="name" title="天下HD" data-statis="text:txt_newgame_xyqd_po-6_game-535356">天下HD</a>
												<a href="/txhd/" class="act" title="天下HD" data-statis="text:txt_newgame_xyqd_po-6_game-535356">激活</a>
									</td>
									<td class="type">角色</td>
									<td class="static">
                                           <span class="p">删档封测</span>
									</td>
									<td class="hot"><span class="up">72026</span></td>
								</tr>
								<tr class="">
									<td class="num "><span class="n">7</span></td>
									<td class="name">
										<a href="/btx/" class="name" title="霸天下" data-statis="text:txt_newgame_xyqd_po-7_game-540143">霸天下</a>
									</td>
									<td class="type">角色</td>
									<td class="static">
                                           <span class="p">不删档内测</span>
									</td>
									<td class="hot"><span class="low">71946</span></td>
								</tr>
								<tr class="">
									<td class="num "><span class="n">8</span></td>
									<td class="name">
										<a href="/kdhsol/" class="name" title="口袋幻兽OL" data-statis="text:txt_newgame_xyqd_po-8_game-543175">口袋幻兽OL</a>
												<a href="/kdhsol/" class="act" title="口袋幻兽OL" data-statis="text:txt_newgame_xyqd_po-8_game-543175">激活</a>
									</td>
									<td class="type">角色</td>
									<td class="static">
                                           <span class="p">删档封测</span>
									</td>
									<td class="hot"><span class="up">70153</span></td>
								</tr>
								<tr class="">
									<td class="num "><span class="n">9</span></td>
									<td class="name">
										<a href="/tianjie/" class="name" title="天劫" data-statis="text:txt_newgame_xyqd_po-9_game-500029">天劫</a>
									</td>
									<td class="type">角色</td>
									<td class="static">
                                           <span class="p">删档内测</span>
									</td>
									<td class="hot"><span class="low">69280</span></td>
								</tr>
								<tr class="last">
									<td class="num "><span class="n">10</span></td>
									<td class="name">
										<a href="/qmqz/" class="name" title="全民枪战" data-statis="text:txt_newgame_xyqd_po-10_game-539428">全民枪战</a>
									</td>
									<td class="type">射击</td>
									<td class="static">
                                           <span class="p">不删档内测</span>
									</td>
									<td class="hot"><span class="mid">67874</span></td>
								</tr>
					</tbody></table>
				</div>
			</div>
		</div>
		<div class="box mar-box">
			<div class="activation-left">
				<div class="activation-con">
	<div class="box-title">
		<h2><a href="http://ka.w3wgame.com/code_index_1.html" title="激活码" data-statis="text:txt_newgame_jhm_po-1_other-more">激活码</a></h2>
		<a href="http://ka.w3wgame.com/code_index_1.html" title="更多激活码" data-statis="text:txt_newgame_jhm_po-1_other-more" class="more">更多激活码</a>
	</div>
	<div class="box-text">
		<ul class="icon-word-list">
					<li>
						<a href="http://ts.w3wgame.com/" title="天煞" data-statis="text:txt_newgame_jhm_po-1_game-539252">
							<div class="pic">
								<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/8/13/9853179.png" alt="天煞">
								<span class="radius80"></span>
							</div>
						</a>
						<div class="right-text">
							<p class="tit"><a href="http://ts.w3wgame.com/" title="天煞" data-statis="text:txt_newgame_jhm_po-1_game-539252">天煞</a></p>
							<p class="text">[天煞]下次测试登录激活码预约</p>
							<a href="http://ka.w3wgame.com/personal/1410768161395849959.html" class="btn" title="领激活码" data-statis="text:txt_newgame_jhm_po-1_other-jhm">领激活码</a>
						</div>
					</li>
					<li>
						<a href="http://www.w3wgame.com/hr/" title="红刃" data-statis="text:txt_newgame_jhm_po-2_game-538357">
							<div class="pic">
								<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/1/9889082.png" alt="红刃">
								<span class="radius80"></span>
							</div>
						</a>
						<div class="right-text">
							<p class="tit"><a href="http://www.w3wgame.com/hr/" title="红刃" data-statis="text:txt_newgame_jhm_po-2_game-538357">红刃</a></p>
							<p class="text">[红刃OL]9月24日独家封测激活码</p>
							<a href="http://ka.w3wgame.com/personal/1410525747836499014.html" class="btn" title="领激活码" data-statis="text:txt_newgame_jhm_po-2_other-jhm">领激活码</a>
						</div>
					</li>
					<li>
						<a href="http://www.w3wgame.com/hycshd/" title="黑夜传说HD" data-statis="text:txt_newgame_jhm_po-3_game-544116">
							<div class="pic">
								<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/4/9895373.png" alt="黑夜传说HD">
								<span class="radius80"></span>
							</div>
						</a>
						<div class="right-text">
							<p class="tit"><a href="http://www.w3wgame.com/hycshd/" title="黑夜传说HD" data-statis="text:txt_newgame_jhm_po-3_game-544116">黑夜传说HD</a></p>
							<p class="text">[黑夜传说HD]封测激活码</p>
							<a href="http://ka.w3wgame.com/personal/1410513500395427070.html" class="btn" title="领激活码" data-statis="text:txt_newgame_jhm_po-3_other-jhm">领激活码</a>
						</div>
					</li>
					<li>
						<a href="http://www.w3wgame.com/mnqh/" title="迷你拳皇" data-statis="text:txt_newgame_jhm_po-4_game-544747">
							<div class="pic">
								<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/12/9910324.png" alt="迷你拳皇">
								<span class="radius80"></span>
							</div>
						</a>
						<div class="right-text">
							<p class="tit"><a href="http://www.w3wgame.com/mnqh/" title="迷你拳皇" data-statis="text:txt_newgame_jhm_po-4_game-544747">迷你拳皇</a></p>
							<p class="text">[迷你拳皇]精英内测特权激活码</p>
							<a href="http://ka.w3wgame.com/personal/1410351380836398083.html" class="btn" title="领激活码" data-statis="text:txt_newgame_jhm_po-4_other-jhm">领激活码</a>
						</div>
					</li>
					<li>
						<a href="http://www.w3wgame.com/koudaijinglingwang/" title="口袋精灵王" data-statis="text:txt_newgame_jhm_po-5_game-544453">
							<div class="pic">
								<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/9/9902655.jpg" alt="口袋精灵王">
								<span class="radius80"></span>
							</div>
						</a>
						<div class="right-text">
							<p class="tit"><a href="http://www.w3wgame.com/koudaijinglingwang/" title="口袋精灵王" data-statis="text:txt_newgame_jhm_po-5_game-544453">口袋精灵王</a></p>
							<p class="text">[口袋精灵王]删档内测特权激活码</p>
							<a href="http://ka.w3wgame.com/personal/1410351223763718051.html" class="btn" title="领激活码" data-statis="text:txt_newgame_jhm_po-5_other-jhm">领激活码</a>
						</div>
					</li>
					<li>
						<a href="http://www.w3wgame.com/xcqzj/" title="新苍穹之剑" data-statis="text:txt_newgame_jhm_po-6_game-544854">
							<div class="pic">
								<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/11/9907850.png" alt="新苍穹之剑">
								<span class="radius80"></span>
							</div>
						</a>
						<div class="right-text">
							<p class="tit"><a href="http://www.w3wgame.com/xcqzj/" title="新苍穹之剑" data-statis="text:txt_newgame_jhm_po-6_game-544854">新苍穹之剑</a></p>
							<p class="text">[新苍穹之剑]精英内测特权激活码</p>
							<a href="http://ka.w3wgame.com/personal/1410350887395299873.html" class="btn" title="领激活码" data-statis="text:txt_newgame_jhm_po-6_other-jhm">领激活码</a>
						</div>
					</li>
		</ul>
	</div>
</div>
				<div class="today-talk-con">
	<div class="box-title">
		<h2><a href="http://www.w3wgame.com/teahouse/" title="每日一聊" data-statis="text:txt_newgame_mryl_po-1_other-more">每日一聊</a></h2>
		<a href="http://www.w3wgame.com/teahouse/" class="more" title="更多" data-statis="text:txt_newgame_mryl_po-1_other-more">更多</a>
	</div>
			<div class="box-text">
				<div class="today">
					<div class="new">
						<div class="little-tit">
							<h3>今日</h3>
							<a href="/news/267883.html" class="tit" data-statis="text:txt_newgame_mryl_po-1_news-267883">你平时是否关注游戏直播？</a>
						</div>
						<p class="des">
							游戏直播是近年来网络媒体最火爆的一种传播模式，从最初竞技端游的大神直播发展到现在只要会使用直播软件，人人都能开直播的全民直播。<a href="/news/267883.html" class="more" data-statis="text:txt_newgame_mryl_po-1_news-267883">[详情]</a> 
						</p>
					</div>
				</div>
				<div class="back">
					<div class="little-tit">
						<h3>精彩回顾</h3>								
					</div>
					<ul class="news-list">
								<li><a href="/news/267213.html" data-statis="text:txt_newgame_mryl_po-2_news-267213" title="你有在游戏中遇到过乞讨者吗？">你有在游戏中遇到过乞讨者吗？</a><span class="date">09-17</span></li>
								<li><a href="/news/266501.html" data-statis="text:txt_newgame_mryl_po-3_news-266501" title="你是否有上厕所玩手机的习惯？">你是否有上厕所玩手机的习惯？</a><span class="date">09-16</span></li>
								<li><a href="/news/265736.html" data-statis="text:txt_newgame_mryl_po-4_news-265736" title="你玩过最长时间的手游是多久？">你玩过最长时间的手游是多久？</a><span class="date">09-15</span></li>
								<li><a href="/news/265724.html" data-statis="text:txt_newgame_mryl_po-5_news-265724" title="你能容忍一款游戏测试几次？">你能容忍一款游戏测试几次？</a><span class="date">09-14</span></li>
					</ul>
				</div>
			</div>
</div>
			</div>
		<div class="open-test new-test">
			<div class="box-title">
				<h2><a href="http://www.w3wgame.com/xyrb/" title="新游热榜" data-statis="text:txt_newgame_xyrb_po-1_other-more">新游热榜</a></h2>
				<a href="http://www.w3wgame.com/xyrb/" class="more" title="更多上榜游戏" data-statis="text:txt_newgame_xyrb_po-1_other-more">更多上榜游戏</a>
			</div>
			<div class="box-text">
				<table class="current">
					<tbody><tr>
						<th class="time">排序</th>
						<th class="name">游戏</th>
						<th class="type">分类</th>
						<th class="hottr">热度</th>
						<th class="downtr">下载</th>							
					</tr>
							<tr>
								<td class="num num1"><span class="n">1</span></td>
								<td><a href="/jhzr/" class="name" title="剑魂之刃" data-statis="text:txt_newgame_xyrb_po-1_game-537595">剑魂之刃</a></td>
								<td class="type">角色</td>
								<td class="hot"><span class="mid">93904</span></td>
										<td><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:537595,&quot;name&quot;:&quot;剑魂之刃&quot;,&quot;platform_id&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xyrb_po-1_game-537595&quot;}" href="javascript:void(0)" target="_self"></a></td>
							</tr>
							<tr>
								<td class="num num2"><span class="n">2</span></td>
								<td><a href="/xx2/" class="name" title="仙侠" data-statis="text:txt_newgame_xyrb_po-2_game-537614">仙侠</a></td>
								<td class="type">角色</td>
								<td class="hot"><span class="mid">90184</span></td>
										<td><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:537614,&quot;name&quot;:&quot;仙侠&quot;,&quot;platform_id&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xyrb_po-2_game-537614&quot;}" href="javascript:void(0)" target="_self"></a></td>
							</tr>
							<tr>
								<td class="num num3"><span class="n">3</span></td>
								<td><a href="/qmqz/" class="name" title="全民枪战" data-statis="text:txt_newgame_xyrb_po-3_game-539428">全民枪战</a></td>
								<td class="type">射击</td>
								<td class="hot"><span class="mid">86081</span></td>
										<td><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:539428,&quot;name&quot;:&quot;全民枪战&quot;,&quot;platform_id&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xyrb_po-3_game-539428&quot;}" href="javascript:void(0)" target="_self"></a></td>
							</tr>
							<tr>
								<td class="num "><span class="n">4</span></td>
								<td><a href="/nynlt/" class="name" title="女妖" data-statis="text:txt_newgame_xyrb_po-4_game-537447">女妖</a></td>
								<td class="type">回合</td>
								<td class="hot"><span class="up">84889</span></td>
										<td><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:537447,&quot;name&quot;:&quot;女妖&quot;,&quot;platform_id&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xyrb_po-4_game-537447&quot;}" href="javascript:void(0)" target="_self"></a></td>
							</tr>
							<tr>
								<td class="num "><span class="n">5</span></td>
								<td><a href="/btx/" class="name" title="霸天下" data-statis="text:txt_newgame_xyrb_po-5_game-540143">霸天下</a></td>
								<td class="type">角色</td>
								<td class="hot"><span class="low">84858</span></td>
										<td><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:540143,&quot;name&quot;:&quot;霸天下&quot;,&quot;platform_id&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xyrb_po-5_game-540143&quot;}" href="javascript:void(0)" target="_self"></a></td>
							</tr>
							<tr>
								<td class="num "><span class="n">6</span></td>
								<td><a href="/qsmy23d/" class="name" title="秦时明月2" data-statis="text:txt_newgame_xyrb_po-6_game-543470">秦时明月2</a></td>
								<td class="type">角色</td>
								<td class="hot"><span class="mid">84175</span></td>
										<td><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:543470,&quot;name&quot;:&quot;秦时明月2&quot;,&quot;platform_id&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xyrb_po-6_game-543470&quot;}" href="javascript:void(0)" target="_self"></a></td>
							</tr>
							<tr>
								<td class="num "><span class="n">7</span></td>
								<td><a href="/gdhy/" class="name" title="格斗火影" data-statis="text:txt_newgame_xyrb_po-7_game-540963">格斗火影</a></td>
								<td class="type">角色</td>
								<td class="hot"><span class="mid">82428</span></td>
										<td><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:540963,&quot;name&quot;:&quot;格斗火影&quot;,&quot;platform_id&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xyrb_po-7_game-540963&quot;}" href="javascript:void(0)" target="_self"></a></td>
							</tr>
							<tr>
								<td class="num "><span class="n">8</span></td>
								<td><a href="/kkams/" class="name" title="酷酷爱魔兽" data-statis="text:txt_newgame_xyrb_po-8_game-540519">酷酷爱魔兽</a></td>
								<td class="type">角色</td>
								<td class="hot"><span class="mid">80801</span></td>
										<td><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:540519,&quot;name&quot;:&quot;酷酷爱魔兽&quot;,&quot;platform_id&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xyrb_po-8_game-540519&quot;}" href="javascript:void(0)" target="_self"></a></td>
							</tr>
							<tr>
								<td class="num "><span class="n">9</span></td>
								<td><a href="/wxwcol/" class="name" title="武侠外传" data-statis="text:txt_newgame_xyrb_po-9_game-540005">武侠外传</a></td>
								<td class="type">角色</td>
								<td class="hot"><span class="mid">79723</span></td>
										<td><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:540005,&quot;name&quot;:&quot;武侠外传&quot;,&quot;platform_id&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xyrb_po-9_game-540005&quot;}" href="javascript:void(0)" target="_self"></a></td>
							</tr>
							<tr>
								<td class="num "><span class="n">10</span></td>
								<td><a href="/qmxd/" class="name" title="全民炫斗" data-statis="text:txt_newgame_xyrb_po-10_game-543035">全民炫斗</a></td>
								<td class="type">角色</td>
								<td class="hot"><span class="mid">79317</span></td>
										<td><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:543035,&quot;name&quot;:&quot;全民炫斗&quot;,&quot;platform_id&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xyrb_po-10_game-543035&quot;}" href="javascript:void(0)" target="_self"></a></td>
							</tr>
					</tbody></table>
				</div>
			</div>
		</div>
		<div class="box mar-box">
		<div class="spec-comment">
			<div class="box-title">
				<h2><a href="http://www.w3wgame.com/pingce/" title="独家评测" data-statis="text:txt_newgame_djpc_po-1_other-more">独家评测</a></h2>
				<a href="http://www.w3wgame.com/pingce/" class="more" title="更多评测" data-statis="text:txt_newgame_djpc_po-1_other-more">更多评测</a>
			</div>
			<div class="box-text">
				<ul class="icon-word-list">
						<li>
							<a href="http://fengshen.w3wgame.com/news/267177.html" data-statis="text:txt_newgame_djpc24_po-1_news-267177" title="《全民封神》评测：恶搞的封神萌萌哒">
							<div class="pic">
								<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/4/9895461.png" alt="《全民封神》评测：恶搞的封神萌萌哒">
								<span class="radius90"></span>
							</div>
							</a>
							<div class="right-text">
								<p class="tit"><a href="http://fengshen.w3wgame.com/news/267177.html" data-statis="text:txt_newgame_djpc24_po-1_news-267177" title="《全民封神》评测：恶搞的封神萌萌哒">《全民封神》评测：恶搞的封神萌萌哒</a></p>
								<p class="text"><a href="http://fengshen.w3wgame.com/news/267177.html" data-statis="text:txt_newgame_djpc24_po-1_news-267177" title="《全民封神》游戏是一款逗比感十足的神话题材卡牌手游，恶搞的封神，申公豹和姜子牙其实基情十足，其实商朝可以逆袭，妲己是个好人，天啊，...">《全民封神》游戏是一款逗比感十足的神话题材卡牌手游，恶搞的封神，申公豹和姜子牙其实基情十足，其实商朝可以逆袭，妲己是个好人，天啊，...</a></p>
								<div class="btn-con">
											<span class="btn">二代阵列</span>
											<span class="btn">封神</span>
											<span class="btn">2D</span>
											<span class="btn">动漫</span>
											<span class="btn">历史</span>
								</div>
							</div>
						</li>
						<li>
							<a href="http://www.w3wgame.com/kdyh/267619.html" data-statis="text:txt_newgame_djpc24_po-2_news-267619" title="《口袋银魂》评测：萌萌的银桑来了！">
							<div class="pic">
								<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/16/9916155.png" alt="《口袋银魂》评测：萌萌的银桑来了！">
								<span class="radius90"></span>
							</div>
							</a>
							<div class="right-text">
								<p class="tit"><a href="http://www.w3wgame.com/kdyh/267619.html" data-statis="text:txt_newgame_djpc24_po-2_news-267619" title="《口袋银魂》评测：萌萌的银桑来了！">《口袋银魂》评测：萌萌的银桑来了！</a></p>
								<p class="text"><a href="http://www.w3wgame.com/kdyh/267619.html" data-statis="text:txt_newgame_djpc24_po-2_news-267619" title="我愿意用一生的节操换《银魂》永不完结!小编已经在心里狂吼过这句话无数遍了……舍不得万事屋三人组，舍不得真选组的一群可爱的奇葩，舍不...">我愿意用一生的节操换《银魂》永不完结!小编已经在心里狂吼过这句话无数遍了……舍不得万事屋三人组，舍不得真选组的一群可爱的奇葩，舍不...</a></p>
								<div class="btn-con">
											<span class="btn">动漫</span>
											<span class="btn">日韩动漫</span>
											<span class="btn">搞怪</span>
											<span class="btn">Q版</span>
											<span class="btn">第三人称</span>
								</div>
							</div>
						</li>
						<li>
							<a href="http://www.w3wgame.com/mykdb/266950.html" data-statis="text:txt_newgame_djpc24_po-3_news-266950" title="《魔域口袋版》评测：经典热血PK大还原">
							<div class="pic">
								<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/16/9916025.jpg" alt="《魔域口袋版》评测：经典热血PK大还原">
								<span class="radius90"></span>
							</div>
							</a>
							<div class="right-text">
								<p class="tit"><a href="http://www.w3wgame.com/mykdb/266950.html" data-statis="text:txt_newgame_djpc24_po-3_news-266950" title="《魔域口袋版》评测：经典热血PK大还原">《魔域口袋版》评测：经典热血PK大还原</a></p>
								<p class="text"><a href="http://www.w3wgame.com/mykdb/266950.html" data-statis="text:txt_newgame_djpc24_po-3_news-266950" title="《魔域口袋版》想必许多玩家并不会感觉到陌生，因为是一款PC端魔幻网游《魔域》改编而成的游戏，游戏以幻兽养成、竞技群斗为核心，在魔幻...">《魔域口袋版》想必许多玩家并不会感觉到陌生，因为是一款PC端魔幻网游《魔域》改编而成的游戏，游戏以幻兽养成、竞技群斗为核心，在魔幻...</a></p>
								<div class="btn-con">
											<span class="btn">MMO</span>
											<span class="btn">奇幻魔幻</span>
											<span class="btn">魔幻</span>
											<span class="btn">男生</span>
								</div>
							</div>
						</li>
						<li>
							<a href="http://www.w3wgame.com/hycshd/267000.html" data-statis="text:txt_newgame_djpc24_po-4_news-267000" title="《黑夜传说》评测：两大传奇种族的宿敌之战">
							<div class="pic">
								<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/4/9895373.png" alt="《黑夜传说》评测：两大传奇种族的宿敌之战">
								<span class="radius90"></span>
							</div>
							</a>
							<div class="right-text">
								<p class="tit"><a href="http://www.w3wgame.com/hycshd/267000.html" data-statis="text:txt_newgame_djpc24_po-4_news-267000" title="《黑夜传说》评测：两大传奇种族的宿敌之战">《黑夜传说》评测：两大传奇种族的宿敌之战</a></p>
								<p class="text"><a href="http://www.w3wgame.com/hycshd/267000.html" data-statis="text:txt_newgame_djpc24_po-4_news-267000" title="吸血鬼狼人题材一直是大众喜欢的类型，不管是影视上，还是游戏上都占有一席之地。《黑夜传说》是一款全新的ARPG手游作品，游戏以魔幻化...">吸血鬼狼人题材一直是大众喜欢的类型，不管是影视上，还是游戏上都占有一席之地。《黑夜传说》是一款全新的ARPG手游作品，游戏以魔幻化...</a></p>
								<div class="btn-con">
								</div>
							</div>
						</li>
				</ul>
			</div>
		</div>
		<div class="open-test new-open">
			<div class="box-title">
				<h2><a href="http://www.w3wgame.com/kc/" title="新游开测表" data-statis="text:txt_newgame_xykc_po-1_other-more">新游开测表</a></h2>
				<a href="http://www.w3wgame.com/kc/" title="更多开测游戏" class="more" data-statis="text:txt_newgame_xykc_po-1_other-more">更多开测游戏</a>
			</div>
				<div class="box-text">
					<table class="current">
						<tbody><tr>
							<th class="name">游戏</th>
							<th class="time">时间</th>
							<th class="hottr">热度</th>
							<th class="downtr">礼包</th>
							<th class="downtr">下载</th>
						</tr>
					</tbody></table>
					<div class="in-table">
						<div class="in-table2">
							<div class="title title1">今日<span class="org">(10款)</span></div>
							<table class="current">
									<tbody><tr>
										<td class="name"><a href="/koudaijinglingwang/" class="name" data-statis="text:txt_newgame_xykc_po-1_game-544453" title="口袋精灵王">口袋精灵王</a></td>
										<td class="time time1">
												<div class="d">09:30</div>
											<div class="t">删档封测</div>
										</td>
										<td class="hottr hot">48895</td>
										<td class="downtr"><a class="btn gift " href="http://ka.w3wgame.com/game/544453_-5_1.html"></a></td>
												<td class="downtr"><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:544453,&quot;name&quot;:&quot;口袋精灵王&quot;,&quot;platformId&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xykc_po-1_game-544453&quot;}" href="javascript:void(0)" target="_self"></a></td>
									</tr>
									<tr>
										<td class="name"><a href="/smsg1/" class="name" data-statis="text:txt_newgame_xykc_po-2_game-540695" title="神麻三国">神麻三国</a></td>
										<td class="time time1">
												<div class="d">10:00</div>
											<div class="t">删档封测</div>
										</td>
										<td class="hottr hot">29928</td>
										<td class="downtr"><a class="btn gift " href="http://ka.w3wgame.com/game/540695_-5_1.html"></a></td>
												<td class="downtr"><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:540695,&quot;name&quot;:&quot;神麻三国&quot;,&quot;platformId&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xykc_po-2_game-540695&quot;}" href="javascript:void(0)" target="_self"></a></td>
									</tr>
									<tr>
										<td class="name"><a href="/yjdwbzb/" class="name" data-statis="text:txt_newgame_xykc_po-3_game-544694" title="妖精的尾巴OL">妖精的尾巴OL</a></td>
										<td class="time time1">
												<div class="d">10:00</div>
											<div class="t">公测</div>
										</td>
										<td class="hottr hot">24168</td>
										<td class="downtr"><a class="btn gift no" href=""></a></td>
												<td class="downtr"><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:544694,&quot;name&quot;:&quot;妖精的尾巴OL&quot;,&quot;platformId&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xykc_po-3_game-544694&quot;}" href="javascript:void(0)" target="_self"></a></td>
									</tr>
									<tr>
										<td class="name"><a href="/qzlrlrlx/" class="name" data-statis="text:txt_newgame_xykc_po-4_game-544955" title="全职猎人（猎人来袭）">全职猎人（猎人来袭）</a></td>
										<td class="time time1">
												<div class="d">10:00</div>
											<div class="t">公测</div>
										</td>
										<td class="hottr hot">23206</td>
										<td class="downtr"><a class="btn gift " href="http://ka.w3wgame.com/game/544955_-5_1.html"></a></td>
												<td class="downtr"><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:544955,&quot;name&quot;:&quot;全职猎人（猎人来袭）&quot;,&quot;platformId&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xykc_po-4_game-544955&quot;}" href="javascript:void(0)" target="_self"></a></td>
									</tr>
									<tr>
										<td class="name"><a href="/zuiqiangyingxiong/" class="name" data-statis="text:txt_newgame_xykc_po-5_game-542244" title="最强英雄">最强英雄</a></td>
										<td class="time time1">
												<div class="d">10:00</div>
											<div class="t">不删档内测</div>
										</td>
										<td class="hottr hot">12451</td>
										<td class="downtr"><a class="btn gift " href="http://ka.w3wgame.com/game/542244_-5_1.html"></a></td>
												<td class="downtr"><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:542244,&quot;name&quot;:&quot;最强英雄&quot;,&quot;platformId&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xykc_po-5_game-542244&quot;}" href="javascript:void(0)" target="_self"></a></td>
									</tr>
									<tr>
										<td class="name"><a href="/hfly/" class="name" data-statis="text:txt_newgame_xykc_po-6_game-528860" title="新三国の火凤燎原">新三国の火凤燎原</a></td>
										<td class="time time1">
												<div class="d">10:00</div>
											<div class="t">删档封测</div>
										</td>
										<td class="hottr hot">29190</td>
										<td class="downtr"><a class="btn gift " href="http://ka.w3wgame.com/game/528860_-5_1.html"></a></td>
												<td class="downtr"><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:528860,&quot;name&quot;:&quot;新三国の火凤燎原&quot;,&quot;platformId&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xykc_po-6_game-528860&quot;}" href="javascript:void(0)" target="_self"></a></td>
									</tr>
									<tr>
										<td class="name"><a href="/zslm/" class="name" data-statis="text:txt_newgame_xykc_po-7_game-538348" title="战神黎明">战神黎明</a></td>
										<td class="time time1">
												<div class="d">10:00</div>
											<div class="t">不删档内测</div>
										</td>
										<td class="hottr hot">60730</td>
										<td class="downtr"><a class="btn gift " href="http://ka.w3wgame.com/game/538348_-5_1.html"></a></td>
												<td class="downtr"><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:538348,&quot;name&quot;:&quot;战神黎明&quot;,&quot;platformId&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xykc_po-7_game-538348&quot;}" href="javascript:void(0)" target="_self"></a></td>
									</tr>
									<tr>
										<td class="name"><a href="/hysj3d/" class="name" data-statis="text:txt_newgame_xykc_po-8_game-537168" title="火影世界3D">火影世界3D</a></td>
										<td class="time time1">
												<div class="d">11:00</div>
											<div class="t">公测</div>
										</td>
										<td class="hottr hot">45295</td>
										<td class="downtr"><a class="btn gift " href="http://ka.w3wgame.com/game/537168_-5_1.html"></a></td>
												<td class="downtr"><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:537168,&quot;name&quot;:&quot;火影世界3D&quot;,&quot;platformId&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xykc_po-8_game-537168&quot;}" href="javascript:void(0)" target="_self"></a></td>
									</tr>
									<tr>
										<td class="name"><a href="/xxqh/" class="name" data-statis="text:txt_newgame_xykc_po-9_game-539109" title="热血小霸王">热血小霸王</a></td>
										<td class="time time1">
												<div class="d">11:00</div>
											<div class="t">删档内测</div>
										</td>
										<td class="hottr hot">53825</td>
										<td class="downtr"><a class="btn gift " href="http://ka.w3wgame.com/game/539109_-5_1.html"></a></td>
												<td class="downtr"><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:539109,&quot;name&quot;:&quot;热血小霸王&quot;,&quot;platformId&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xykc_po-9_game-539109&quot;}" href="javascript:void(0)" target="_self"></a></td>
									</tr>
									<tr>
										<td class="name"><a href="/xxcmt/" class="name" data-statis="text:txt_newgame_xykc_po-10_game-544531" title="小小草帽团">小小草帽团</a></td>
										<td class="time time1">
												<div class="d">11:00</div>
											<div class="t">不删档内测</div>
										</td>
										<td class="hottr hot">25904</td>
										<td class="downtr"><a class="btn gift " href="http://ka.w3wgame.com/game/544531_-5_1.html"></a></td>
												<td class="downtr"><a class="btn down ajax-down-pop" data-params="{&quot;gameId&quot;:544531,&quot;name&quot;:&quot;小小草帽团&quot;,&quot;platformId&quot;:0,&quot;statis_text&quot;:&quot;btn_newgame_xykc_po-10_game-544531&quot;}" href="javascript:void(0)" target="_self"></a></td>
									</tr>
							</tbody></table>
						</div>
					</div>
				</div>
		</div>
		</div>
		<div class="new-game-topic">
			<div class="box-title">
				<h2><a href="http://www.w3wgame.com/news/16_1/" title="新游专题" data-statis="text:txt_newgame_xyzt_po-1_other-more">新游专题</a></h2>
				<a href="http://www.w3wgame.com/news/16_1/" title="更多专题" class="more" data-statis="text:txt_newgame_xyzt_po-1_other-more">更多专题</a>
			</div>
			<div class="box-text">
				<ul class="topic-list">
						<li>
							<a href="http://www.w3wgame.com/news/267709.html" title="熟女辣妈色诱女儿男友" class="img" data-stats="text:logo_newgame_xyzt26_po-1_other-sp"><img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9918790.jpg" alt="熟女辣妈色诱女儿男友"></a>
							<a href="http://www.w3wgame.com/news/267709.html" title="熟女辣妈色诱女儿男友" class="word" data-stats="text:txt_newgame_xyzt26_po-1_other-sp">熟女辣妈色诱女儿男友</a>
						</li>
						<li>
							<a href="http://www.w3wgame.com/news/266991.html" title="两帅哥裸跳香艳毛巾舞" class="img" data-stats="text:logo_newgame_xyzt26_po-2_other-sp"><img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/16/9916873.jpg" alt="两帅哥裸跳香艳毛巾舞"></a>
							<a href="http://www.w3wgame.com/news/266991.html" title="两帅哥裸跳香艳毛巾舞" class="word" data-stats="text:txt_newgame_xyzt26_po-2_other-sp">两帅哥裸跳香艳毛巾舞</a>
						</li>
						<li>
							<a href="http://www.w3wgame.com/special/16/" title="日韩游精选：幻想大作炫酷到没朋友" class="img" data-stats="text:logo_newgame_xyzt26_po-3_other-sp"><img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/12/9910554.jpg" alt="日韩游精选：幻想大作炫酷到没朋友"></a>
							<a href="http://www.w3wgame.com/special/16/" title="日韩游精选：幻想大作炫酷到没朋友" class="word" data-stats="text:txt_newgame_xyzt26_po-3_other-sp">日韩游精选：幻想大作炫酷到没朋友</a>
						</li>
						<li>
							<a href="http://www.w3wgame.com/news/263909.html" title="《斗魂》开启手游“撸”时代" class="img" data-stats="text:logo_newgame_xyzt26_po-4_other-sp"><img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/12/9909594.jpg" alt="《斗魂》开启手游“撸”时代"></a>
							<a href="http://www.w3wgame.com/news/263909.html" title="《斗魂》开启手游“撸”时代" class="word" data-stats="text:txt_newgame_xyzt26_po-4_other-sp">《斗魂》开启手游“撸”时代</a>
						</li>
				</ul>
			</div>
		</div>
		<div class="new-game-video">
	<div class="box-title">
		<h2><a href="http://www.w3wgame.com/news/17_1/" title="新游视频" data-statis="text:txt_newgame_xysp_po-1_other-more">新游视频</a></h2>
		<a href="http://www.w3wgame.com/news/17_1/" title="更多视频" class="more" data-statis="text:txt_newgame_xysp_po-1_other-more">更多视频</a>
	</div>
	<div class="box-text">
		<div class="left">
				<a href="http://tjxm.w3wgame.com/news/267537.html" class="video-word-con" title="《太极熊猫》再掀激情 多人交互战斗模式引人入胜" data-statis="text:logo_newgame_xysp20_po-1_other-sp">
					<img class="pic" src="http://image.game.uc.cn/2014/9/17/9918598.jpg" alt="《太极熊猫》再掀激情 多人交互战斗模式引人入胜">
					<p class="text"><span class="play"></span><span class="word">《太极熊猫》再掀激情 多人交互战斗模式引人入胜</span></p>
					<div class="meng"></div>
					<span class="play"></span>
				</a>
		</div>
		<div class="right">
					<a href="http://xyoxj.w3wgame.com/news/266878.html" class="video-word-con" title="《LoveLive!学园偶像祭》宣传片" data-statis="text:logo_newgame_xysp30_po-1_other-sp">
						<img class="pic xLazyClass" src="http://image.game.uc.cn/2014/4/23/9702256.jpg" xlazyimg="http://image.game.uc.cn/2014/9/17/9918595.jpg" alt="《LoveLive!学园偶像祭》宣传片">
						<p class="text"><span class="play"></span><span class="word">《LoveLive!学园偶像祭》宣传片</span></p>
						<div class="meng"></div>
						<span class="play"></span>
					</a>
					<a href="http://www.w3wgame.com/jrzcjrbns/266885.html" class="video-word-con" title="《巨人之槌：巨人编年史》试玩" data-statis="text:logo_newgame_xysp30_po-2_other-sp">
						<img class="pic xLazyClass" src="http://image.game.uc.cn/2014/4/23/9702256.jpg" xlazyimg="http://image.game.uc.cn/2014/9/17/9918592.jpg" alt="《巨人之槌：巨人编年史》试玩">
						<p class="text"><span class="play"></span><span class="word">《巨人之槌：巨人编年史》试玩</span></p>
						<div class="meng"></div>
						<span class="play"></span>
					</a>
					<a href="http://www.w3wgame.com/jojodqmmx/267543.html" class="video-word-con" title="《JOJO的奇妙冒险》广告片" data-statis="text:logo_newgame_xysp30_po-3_other-sp">
						<img class="pic xLazyClass" src="http://image.game.uc.cn/2014/4/23/9702256.jpg" xlazyimg="http://image.game.uc.cn/2014/9/17/9918587.jpg" alt="《JOJO的奇妙冒险》广告片">
						<p class="text"><span class="play"></span><span class="word">《JOJO的奇妙冒险》广告片</span></p>
						<div class="meng"></div>
						<span class="play"></span>
					</a>
					<a href="http://www.w3wgame.com/crashorb/266886.html" class="video-word-con" title="《Crash Orb》宣传片 新式消除" data-statis="text:logo_newgame_xysp30_po-4_other-sp">
						<img class="pic xLazyClass" src="http://image.game.uc.cn/2014/4/23/9702256.jpg" xlazyimg="http://image.game.uc.cn/2014/9/17/9918583.jpg" alt="《Crash Orb》宣传片 新式消除">
						<p class="text"><span class="play"></span><span class="word">《Crash Orb》宣传片 新式消除</span></p>
						<div class="meng"></div>
						<span class="play"></span>
					</a>
		</div>
	</div>
</div>
		<div class="box speard-con">
	<div class="box-title">
		<h2><a href="http://www.w3wgame.com/news/18_1/" title="新游美图" data-statis="text:txt_newgame_xymt_po-1_other-more">新游美图</a></h2>
		<a href="http://www.w3wgame.com/news/18_1/" title="更多图片" class="more" data-statis="text:txt_newgame_xymt_po-1_other-more">更多图片</a>
	</div>
	<div class="box-text">
			<div class="speard206">
				<a href="http://www.w3wgame.com/jysg/266082.html" class="img1" title="无下限无节操!糖醋三国游戏动漫欣赏" data-statis="text:logo_newgame_xymt21_po-1_other-mt">
					<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/16/9915002.jpg" alt="无下限无节操!糖醋三国游戏动漫欣赏">
					<div class="meng meng2">
						<div class="meng-con">
							<p class="tit2">无下限无节操!糖醋三国游戏动漫欣赏</p>
						</div>
					</div>
				</a>
			</div>
						<div class="speard181">
						<a href="http://www.w3wgame.com/lzzw/266843.html" class="img2" title="激情开炮!陆战之王坦克带你high" data-statis="text:logo_newgame_xymt31_po-1_other-mt">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/16/9915004.jpg" alt="激情开炮!陆战之王坦克带你high">
							<div class="meng meng2">
								<div class="meng-con">
									<p class="tit2">激情开炮!陆战之王坦克带你high</p>
								</div>
							</div>
						</a>
						<a href="http://www.w3wgame.com/msnmgc/264060.html" class="img2" title="少女的隐私等你探 美少女梦工厂萌女私物曝光" data-statis="text:logo_newgame_xymt31_po-2_other-mt">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/15/9912591.jpg" alt="少女的隐私等你探 美少女梦工厂萌女私物曝光">
							<div class="meng meng2">
								<div class="meng-con">
									<p class="tit2">少女的隐私等你探 美少女梦工厂萌女私物曝光</p>
								</div>
							</div>
						</a>
							</div>
						<div class="speard181">
						<a href="http://touch.w3wgame.com/news/262008.html" class="img2" title="限量版新品抢先看 TOUCH舞动全城迷人服装" data-statis="text:logo_newgame_xymt31_po-3_other-mt">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/10/9903201.jpg" alt="限量版新品抢先看 TOUCH舞动全城迷人服装">
							<div class="meng meng2">
								<div class="meng-con">
									<p class="tit2">限量版新品抢先看 TOUCH舞动全城迷人服装</p>
								</div>
							</div>
						</a>
						<a href="http://www.w3wgame.com/kdyh/262721.html" class="img2" title="银时神乐集体亮相 口袋银魂主角形象曝光" data-statis="text:logo_newgame_xymt31_po-4_other-mt">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/10/9903197.jpg" alt="银时神乐集体亮相 口袋银魂主角形象曝光">
							<div class="meng meng2">
								<div class="meng-con">
									<p class="tit2">银时神乐集体亮相 口袋银魂主角形象曝光</p>
								</div>
							</div>
						</a>
							</div>
			<div class="speard206">
				<a href="http://www.w3wgame.com/gdbb/259683.html" class="img1" title="格斗宝贝魔人试炼场玩法攻略 享变身乐趣" data-statis="text:logo_newgame_xymt21_po-2_other-mt">
					<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/10/9903204.jpg" alt="格斗宝贝魔人试炼场玩法攻略 享变身乐趣">
					<div class="meng meng2">
						<div class="meng-con">
							<p class="tit2">格斗宝贝魔人试炼场玩法攻略 享变身乐趣</p>
						</div>
					</div>
				</a>
			</div>
			<div class="speard181">
						<a href="http://www.w3wgame.com/qfc/262321.html" class="img2" title="《天龙八部3D》逍遥派技能动态图展示" data-statis="text:logo_newgame_xymt31_po-5_other-mt">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/10/9903194.jpg" alt="《天龙八部3D》逍遥派技能动态图展示">
							<div class="meng meng2">
								<div class="meng-con">
									<p class="tit2">《天龙八部3D》逍遥派技能动态图展示</p>
								</div>
							</div>
						</a>
						<a href="http://www.w3wgame.com/dhll/263230.html" class="img2" title="大话来了安卓版 游戏截图诡异偷跑" data-statis="text:logo_newgame_xymt31_po-6_other-mt">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/10/9903187.jpg" alt="大话来了安卓版 游戏截图诡异偷跑">
							<div class="meng meng2">
								<div class="meng-con">
									<p class="tit2">大话来了安卓版 游戏截图诡异偷跑</p>
								</div>
							</div>
						</a>
			</div>
	</div>
</div>
		<div class="box mar30-box">
	<div class="game-con-5">
		<div class="box-title">
			<h2><a href="http://www.w3wgame.com/category/2_0_0_0_1_1/" title="新游入库" data-statis="text:txt_newgame_xyrk_po-1_other-more">新游入库</a></h2>
			<a href="http://www.w3wgame.com/category/2_0_0_0_1_1/" title="更多新游" class="more" data-statis="text:txt_newgame_xyrk_po-1_other-more">更多新游</a>
		</div>
		<div class="box-text">
			<ul class="game-ul-list">
					<li>
						<a href="http://www.w3wgame.com/wkzj/" class="info" data-statis="text:txt_newgame_xyrk_po-1_game-545134">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/18/9919970.jpg" alt="悟空战纪">
							<p>悟空战纪</p>
							<span class="radius90"></span>
						</a>
									<a href="http://www.w3wgame.com/wkzj/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-1_game-545134">进入专区</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/zhzyhy/" class="info" data-statis="text:txt_newgame_xyrk_po-2_game-545132">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/18/9919870.jpg" alt="召唤之夜：回">
							<p>召唤之夜：回</p>
							<span class="radius90"></span>
						</a>
										<a href="http://www.w3wgame.com/zhzyhy/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-2_game-545132">进入专区</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/glxbwysw/" class="info" data-statis="text:txt_newgame_xyrk_po-3_game-545127">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9918604.jpg" alt="乖离性百万亚">
							<p>乖离性百万亚</p>
							<span class="radius90"></span>
						</a>
									<a href="http://www.w3wgame.com/glxbwysw/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-3_game-545127">进入专区</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/santi/" class="info" data-statis="text:txt_newgame_xyrk_po-4_game-545125">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9918500.jpg" alt="三体">
							<p>三体</p>
							<span class="radius90"></span>
						</a>
									<a href="http://www.w3wgame.com/santi/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-4_game-545125">进入专区</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/zhongshenlianmeng1/" class="info" data-statis="text:txt_newgame_xyrk_po-5_game-545124">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9918327.jpg" alt="众神联盟">
							<p>众神联盟</p>
							<span class="radius90"></span>
						</a>
								<a data-params="{&quot;gameId&quot;:&quot;545124&quot;,&quot;name&quot;:&quot;众神联盟&quot;,&quot;platformId&quot;:&quot;0&quot;,&quot;statis_text&quot;:&quot;btn_newgame_xyrk_po-5_game-545124&quot;}" href="javascript:void(0)" target="_self" class="down ajax-down-pop" title="立即下载" data-statis="text:btn_newgame_xyrk_po-5_game-545124">立即下载</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/tiankonghuanxiang/" class="info" data-statis="text:txt_newgame_xyrk_po-6_game-545123">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9918304.jpg" alt="天空幻想">
							<p>天空幻想</p>
							<span class="radius90"></span>
						</a>
								<a data-params="{&quot;gameId&quot;:&quot;545123&quot;,&quot;name&quot;:&quot;天空幻想&quot;,&quot;platformId&quot;:&quot;0&quot;,&quot;statis_text&quot;:&quot;btn_newgame_xyrk_po-6_game-545123&quot;}" href="javascript:void(0)" target="_self" class="down ajax-down-pop" title="立即下载" data-statis="text:btn_newgame_xyrk_po-6_game-545123">立即下载</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/rzjfc/" class="info" data-statis="text:txt_newgame_xyrk_po-7_game-545122">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9918223.jpg" alt="忍者疾风传">
							<p>忍者疾风传</p>
							<span class="radius90"></span>
						</a>
									<a href="http://www.w3wgame.com/rzjfc/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-7_game-545122">进入专区</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/mxd5hgyb/" class="info" data-statis="text:txt_newgame_xyrk_po-8_game-545120">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9918148.png" alt="冒险岛5【韩">
							<p>冒险岛5【韩</p>
							<span class="radius90"></span>
						</a>
									<a href="http://www.w3wgame.com/mxd5hgyb/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-8_game-545120">进入专区</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/sgzml/" class="info" data-statis="text:txt_newgame_xyrk_po-9_game-545119">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9918047.jpg" alt="三国镇魔录">
							<p>三国镇魔录</p>
							<span class="radius90"></span>
						</a>
									<a href="http://www.w3wgame.com/sgzml/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-9_game-545119">进入专区</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/yhzb/" class="info" data-statis="text:txt_newgame_xyrk_po-10_game-545118">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9918037.jpg" alt="银河争霸">
							<p>银河争霸</p>
							<span class="radius90"></span>
						</a>
									<a href="http://www.w3wgame.com/yhzb/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-10_game-545118">进入专区</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/mlns/" class="info" data-statis="text:txt_newgame_xyrk_po-11_game-545117">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9918020.jpg" alt="魔力女神">
							<p>魔力女神</p>
							<span class="radius90"></span>
						</a>
									<a href="http://www.w3wgame.com/mlns/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-11_game-545117">进入专区</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/dhpsys/" class="info" data-statis="text:txt_newgame_xyrk_po-12_game-545115">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9917973.jpg" alt="地核：破碎元">
							<p>地核：破碎元</p>
							<span class="radius90"></span>
						</a>
									<a href="http://www.w3wgame.com/dhpsys/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-12_game-545115">进入专区</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/wjsh/" class="info" data-statis="text:txt_newgame_xyrk_po-13_game-545113">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9917923.jpg" alt="无尽神话">
							<p>无尽神话</p>
							<span class="radius90"></span>
						</a>
									<a href="http://www.w3wgame.com/wjsh/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-13_game-545113">进入专区</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/xrbdw/" class="info" data-statis="text:txt_newgame_xyrk_po-14_game-545111">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9917869.jpg" alt="仙人别点我">
							<p>仙人别点我</p>
							<span class="radius90"></span>
						</a>
									<a href="http://www.w3wgame.com/xrbdw/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-14_game-545111">进入专区</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/hengsaoxiyou/" class="info" data-statis="text:txt_newgame_xyrk_po-15_game-545105">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9917745.jpg" alt="横扫西游">
							<p>横扫西游</p>
							<span class="radius90"></span>
						</a>
									<a href="http://www.w3wgame.com/hengsaoxiyou/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-15_game-545105">进入专区</a>
					</li>
					<li>
						<a href="http://www.w3wgame.com/huanshouji/" class="info" data-statis="text:txt_newgame_xyrk_po-16_game-545103">
							<img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/9/17/9917650.png" alt="幻兽姬">
							<p>幻兽姬</p>
							<span class="radius90"></span>
						</a>
									<a href="http://www.w3wgame.com/huanshouji/" target="_self" class="down" title="进入专区" data-statis="text:txt_newgame_xyrk_po-16_game-545103">进入专区</a>
					</li>
			</ul>
		</div>
	</div>
		</div>
		<div class="box mar-box">
			<div class="new-classify-con">
    <div class="box-title">
        <h2><a href="http://www.w3wgame.com/category/2_0_0_0_1_1/">新游分类</a></h2>
        <a href="http://www.w3wgame.com/category/2_0_0_0_1_1/" class="more" data-statis="text:txt_newgame_xyfl_po-1_other_more">更多分类</a>
    </div>
    <div class="box-text">
        		<div class="cans can-orange">
            		<h4><a href="http://www.w3wgame.com/category/2_1_0_0_1_1/ " data-statis="text:txt_newgame_xyfl_po-1_free_1130">角色</a></h4>
            		<p class="num">3298款</p>
            		<p class="des">来拯救世界吧少年</p>
        		</div>
        		<div class="cans can-red">
            		<h4><a href="http://www.w3wgame.com/category/2_2_0_0_1_1/" data-statis="text:txt_newgame_xyfl_po-2_free_1130">休闲</a></h4>
            		<p class="num">713款</p>
            		<p class="des">地铁与公交不二选择</p>
        		</div>
        		<div class="cans ">
            		<h4><a href="http://www.w3wgame.com/category/2_5_0_0_1_1/" data-statis="text:txt_newgame_xyfl_po-3_free_1130">策略</a></h4>
            		<p class="num">1900款</p>
            		<p class="des">化身军师，雄策伟略</p>
        		</div>
	       		<div class="cans can-green">
	            	<h4><a href="http://www.w3wgame.com/category/2_0_3_0_1_1/" data-statis="text:txt_newgame_xyfl_po-1_free_1131">仙侠</a></h4>
            		<p class="num">551款</p>
            		<p class="des">一战成魔，修炼成仙</p>
        		</div>
	       		<div class="cans ">
	            	<h4><a href="http://www.w3wgame.com/category/2_0_5_0_1_1/" data-statis="text:txt_newgame_xyfl_po-2_free_1131">魔幻</a></h4>
            		<p class="num">1797款</p>
            		<p class="des">万千变幻，不明觉厉</p>
        		</div>
	       		<div class="cans can-blue">
	            	<h4><a href="http://www.w3wgame.com/category/2_0_4_0_1_1/" data-statis="text:txt_newgame_xyfl_po-3_free_1131">武侠</a></h4>
            		<p class="num">481款</p>
            		<p class="des">不打炮，只打架</p>
        		</div>
	       		<div class="cans ">
	            	<h4><a href="http://www.w3wgame.com/category/2_0_1_0_1_1/" data-statis="text:txt_newgame_xyfl_po-4_free_1131">三国</a></h4>
            		<p class="num">828款</p>
            		<p class="des">三国统一，就此一战</p>
        		</div>
	       		<div class="cans can-purple">
	            	<h4><a href="http://www.w3wgame.com/category/2_0_10_0_1_1/" data-statis="text:txt_newgame_xyfl_po-5_free_1131">即时</a></h4>
            		<p class="num">1183款</p>
            		<p class="des">运筹把控，hold住啦！</p>
        		</div>
	       		<div class="cans ">
	            	<h4><a href="http://www.w3wgame.com/category/2_0_8_0_1_1/" data-statis="text:txt_newgame_xyfl_po-6_free_1131">西游</a></h4>
            		<p class="num">258款</p>
            		<p class="des">猴哥，师傅又被抓了</p>
        		</div>
	       		<div class="cans can-jade">
	            	<h4><a href="http://www.w3wgame.com/category/2_0_2_0_1_1/" data-statis="text:txt_newgame_xyfl_po-7_free_1131">卡牌</a></h4>
            		<p class="num">1343款</p>
            		<p class="des">靠实力，也靠运气</p>
        		</div>
    </div>
</div>
		</div>
		<a href="http://bbs.w3wgame.com/forum-155-1.html" class="adv-bbs" data-statis="text:txt_newgame_xybl_po-1_bbs_155"><img src="http://image.game.uc.cn/2014/4/23/9702256.jpg" class="xLazyClass" xlazyimg="http://image.game.uc.cn/2014/4/2/9684863.jpg " alt="新游爆料"></a>
	</div>

